﻿<div class="@string.Join(" ", Css.admin_modal, Class)">
    <div class="@Css.admin_modal_overlay" @onclick="@OnOverlayClick"></div>
    <div class="@GetModalContentClass()">
        <div class="@Css.admin_modal_content_header">
            @Header
        </div>
        <div class="@Css.admin_modal_content_body">
            @Body
        </div>
        <div class="@Css.admin_modal_content_footer">
            @Footer
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public AdminModalSize Size { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public EventCallback OnOverlayClick { get; set; }

    private string GetModalContentClass()
    {
        var classes = Css.admin_modal_content.InList();

        if (Size == AdminModalSize.Small)
        {
            classes.Add(Css.admin_modal_content_small);
        }

        if (Size == AdminModalSize.Big)
        {
            classes.Add(Css.admin_modal_content_big);
        }

        return string.Join(" ", classes);
    }
}

