﻿<a href="@Href" class="@GetRootClass()" @onclick="OnClick" target="@Target">
    @if (IsLoading)
    {
        <i class="@string.Join(" ",
                   Css.admin_icon_spinner6,
                   Css.admin_button_loading_icon)"></i>
    }
    else if (!string.IsNullOrEmpty(IconClass))
    {
        <i class="@IconClass"></i>
    }
    @if (Text != null)
    {
        <span class="@Css.admin_button_text">
            @Text
        </span>
    }
</a>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Target { get; set; }

    [Parameter]
    public string IconClass { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    private string GetRootClass()
    {
        var classes = new List<string>();

        classes.Add(Css.admin_button);

        classes.AddIfNotNull(Class);

        if (IsDisabled)
        {
            classes.Add(Css.admin_button_disabled);
        }

        return string.Join(" ", classes);
    }

}

