﻿@inject IJSRuntime JSRuntime
@typeparam TValue

<div class="@GetRootClass()">
    @if (!string.IsNullOrEmpty(Label))
    {
        <AdminLabel Text="@Label"
                    Class="@LabelClass"
                    Tooltip="@Tooltip" />
    }
    <textarea id="@Id"
              value="@Value"
              placeholder="@Placeholder"
              rows="1"
              readonly="@IsReadOnly"
              @oninput="@(e => OnInput.InvokeAsync(e.Value.TryCast<TValue>()))"
              @onchange="@(e => OnChange.InvokeAsync(e.Value.TryCast<TValue>()))"
              @onblur="@OnBlur"></textarea>
</div>

@code {

    [Parameter]
    public TValue Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string LabelClass { get; set; }
    
    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public bool IsReadOnly { get; set; }

    [Parameter]
    public EventCallback<TValue> OnChange { get; set; }

    [Parameter]
    public EventCallback<TValue> OnInput { get; set; }

    [Parameter]
    public EventCallback<FocusEventArgs> OnBlur { get; set; }

    private string Id { get; } = "textarea_" + Guid.NewGuid().ToString().Replace("-", "_");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<object>("eval", @"
            (function() {
                Id.style.height=(Id.scrollHeight+2)+'px';
                Id.addEventListener('input', function(e) {
                    this.style.height=0;
                    this.style.height=(Id.scrollHeight+2)+'px';
                });
            })()".Replace("Id", Id));
        }
    }

    private string GetRootClass()
    {
        var classes = new List<string>();

        classes.Add(Css.admin_textarea);

        classes.AddIfNotNull(Class);

        return string.Join(" ", classes);
    }
}

