﻿<div class="@String.Join(" ", 
                    Css.admin_contentsectionlocalizedkit_editor,
                    Class)">
    @if (Schema == null)
    {
        <AdminTextArea Class="@Css.admin_textarea_style_1"
                       Label="Content"
                       LabelClass="@Css.admin_label_style_1"
                       @bind-Value="@ContentSectionLocalizedKit.Content"
                       @bind-Value:event="OnChange" />
    }
    else
    {
        foreach (var schemaProperty in SchemaProperties)
        {
            var title = schemaProperty.SchemaPropertyAttribute.Title.IfNullOrEmptyConvertTo(schemaProperty.Name);
            var description = schemaProperty.SchemaPropertyAttribute.Description;

            <div class="@Css.admin_form_line">
                @if (schemaProperty.Type == typeof(string))
                {
                    <AdminTextArea Class="@Css.admin_textarea_style_1"
                                    Label="@title"
                                   LabelClass="@Css.admin_label_style_1" 
                                   Tooltip="@description"
                                    @bind-Value="@schemaProperty.Value"
                                    @bind-Value:event="OnChange"
                                    OnBlur="@SerializeContent" />
                }
                else if (schemaProperty.Type == typeof(int) ||
                         schemaProperty.Type == typeof(double) ||
                         schemaProperty.Type == typeof(decimal) ||
                         schemaProperty.Type == typeof(float))
                {
                    <AdminInput Class="@Css.admin_input_style_1"
                                Label="@title"
                                LabelClass="@Css.admin_label_style_1"
                                Tooltip="@description"
                                Type="number"
                                @bind-Value="@schemaProperty.Value"
                                @bind-Value:event="OnChange"
                                OnBlur="@SerializeContent" />
                }
                else if (schemaProperty.Type == typeof(DateTime))
                {
                    <AdminInput Class="@Css.admin_input_style_1"
                                Label="@title"
                                LabelClass="@Css.admin_label_style_1"
                                Tooltip="@description"
                                Type="date"
                                @bind-Value="@schemaProperty.Value"
                                @bind-Value:event="OnChange"
                                OnBlur="@SerializeContent" />
                }
                else if (schemaProperty.Type == typeof(bool))
                {
                    <AdminInput Class="@Css.admin_input_style_1"
                                Label="@title"
                                LabelClass="@Css.admin_label_style_1"
                                Tooltip="@description"
                                @bind-Value="@schemaProperty.Value"
                                @bind-Value:event="OnChange"
                                Type="checkbox"
                                OnBlur="@SerializeContent" />
                }
                else if (schemaProperty.Type == typeof(List<string>))
                {
                    schemaProperty.Value = schemaProperty.Value ?? new List<string>();

                    if (schemaProperty.Value is List<string> list)
                    {
                        if (!list.Any())
                        {
                            list.Add(string.Empty);
                        }

                        <AdminLabel Class="@Css.admin_label_style_1"
                                    Text="@title"
                                    Tooltip="@description" />
                        <table>
                            @for (int i = 0; i < list.Count; i++)
                            {
                                var itemIndex = i;
                                <tr>
                                    <td>
                                        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                                       Text="@((itemIndex + 1).ToString())"
                                                       IconClass="@Css.admin_icon_triangle_down">
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Insert item above" 
                                                               OnClick="@(() => InsertListItem(list, itemIndex))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Insert item below" 
                                                               OnClick="@(() => InsertListItem(list, itemIndex + 1))" />
                                            @if (itemIndex > 0)
                                            {
                                                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                                   Text="Move item up" 
                                                                   OnClick="@(() => MoveListItemUp(list, itemIndex))" />
                                            }
                                            @if (itemIndex < list.Count - 1)
                                            {
                                                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                                   Text="Move item down" 
                                                                   OnClick="@(() => MoveListItemDown(list, itemIndex))" />
                                            }
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Delete item" 
                                                               OnClick="@(() => DeleteListItem(list, itemIndex))" />
                                        </AdminDropdown>
                                    </td>
                                    <td>
                                        <AdminTextArea Class="@Css.admin_textarea_style_2"
                                                       Placeholder="..."
                                                       @bind-Value="@(list[itemIndex])"
                                                       @bind-Value:event="OnChange"
                                                       OnBlur="@SerializeContent" />
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                }
                else if (schemaProperty.Type == typeof(List<List<string>>))
                {
                    schemaProperty.Value = schemaProperty.Value ?? new List<List<string>>();

                    if (schemaProperty.Value is List<List<string>> table)
                    {
                        while (table.Count < schemaProperty.SchemaPropertyAttribute.MinTableColumns)
                        {
                            table.Add(new List<string>());
                        }
                        if (!table.First().Any())
                        {
                            table.First().Add(string.Empty);
                        }
                        <AdminLabel Class="@Css.admin_label_style_1"
                                    Text="@title"
                                    Tooltip="@description" />
                        <table>
                            <tr>
                                <td></td>
                                @for (int i = 0; i < table[0].Count; i++)
                                {
                                    var colIndex = i;
                                    <td>
                                        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                                       Text="@("ABCDEFGHIJKLMNOPQRSTUVWXYZ".ElementAt(colIndex).ToString())"
                                                       IconClass="@Css.admin_icon_triangle_down">
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Insert column left"
                                                               IsDisabled="@(table[0].Count >= schemaProperty.SchemaPropertyAttribute.MaxTableColumns)"
                                                               OnClick="@(() => InsertColumn(table, colIndex))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Insert column right"
                                                               IsDisabled="@(table[0].Count >= schemaProperty.SchemaPropertyAttribute.MaxTableColumns)"
                                                               OnClick="@(() => InsertColumn(table, colIndex + 1))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Move column left"
                                                               IsDisabled="@(colIndex == 0)"
                                                               OnClick="@(() => MoveColumnLeft(table, colIndex))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Move column right"
                                                               IsDisabled="@(colIndex == table[0].Count - 1)"
                                                               OnClick="@(() => MoveColumnRight(table, colIndex))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Delete column" 
                                                               IsDisabled="@(table[0].Count <= schemaProperty.SchemaPropertyAttribute.MinTableColumns)"
                                                               OnClick="@(() => DeleteColumn(table, colIndex))" />
                                        </AdminDropdown>
                                    </td>
                                }
                            </tr>
                            @for (int i = 0; i < table.Count; i++)
                            {
                                var rowIndex = i;
                                <tr>
                                    <td>
                                        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                                       Text="@((rowIndex + 1).ToString())"
                                                       IconClass="@Css.admin_icon_triangle_down">
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Insert row above"
                                                               OnClick="@(() => InsertRow(table, rowIndex))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Insert row below"
                                                               OnClick="@(() => InsertRow(table, rowIndex + 1))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Move row up"
                                                               IsDisabled="@(rowIndex == 0)"
                                                               OnClick="@(() => MoveRowUp(table, rowIndex))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Move row down" 
                                                               IsDisabled="@(rowIndex == table.Count - 1)"
                                                               OnClick="@(() => MoveRowDown(table, rowIndex))" />
                                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                               Text="Delete row" 
                                                               IsDisabled="@(table.Count < 2)"
                                                               OnClick="@(() => DeleteRow(table, rowIndex))" />
                                        </AdminDropdown>
                                    </td>
                                    @for (int ii = 0; ii < table[rowIndex].Count; ii++)
                                    {
                                        var colIndex = ii;
                                        <td>
                                            <AdminTextArea Class="@Css.admin_textarea_style_2"
                                                           Placeholder="..."
                                                           @bind-Value="@(table[rowIndex][colIndex])"
                                                           @bind-Value:event="OnChange"
                                                           OnBlur="@SerializeContent" />

                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                    }
                }
                else
                {
                    <div>Type @schemaProperty.Type.ToString() is not supported</div>
                }
            </div>
        }
    }
</div>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public ContentSectionLocalizedKitDto ContentSectionLocalizedKit { get; set; }

    [Parameter]
    public Type Schema { get; set; }

    private List<SchemaProperty> SchemaProperties { get; set; } = new List<SchemaProperty>();

    protected override void OnParametersSet()
    {
        if (Schema != null)
        {
            object jsonObject;

            try
            {
                jsonObject = JsonConvert.DeserializeObject(ContentSectionLocalizedKit.Content, Schema);
            }
            catch
            {
                jsonObject = Activator.CreateInstance(Schema);
            }

            SchemaProperties = Schema.GetProperties().Select(p => new SchemaProperty
            {
                Name = p.Name,
                Type = p.PropertyType,
                SchemaPropertyAttribute = p.GetCustomAttribute(typeof(SchemaPropertyAttribute), false) as SchemaPropertyAttribute,
                Value = jsonObject?.GetType()?.GetProperty(p.Name)?.GetValue(jsonObject, null)
            }).ToList();
        }
    }

    private void SerializeContent()
    {
        var content = new ExpandoObject() as IDictionary<string, Object>;

        foreach (var property in SchemaProperties)
        {
            content.Add(property.Name, property.Value);
        }

        ContentSectionLocalizedKit.Content = JsonConvert.SerializeObject(content);
    }

    // -------------------------------------------------------------------------
    // List methods
    // -------------------------------------------------------------------------

    private void InsertListItem(List<string> list, int index)
    {
        list.Insert(index, string.Empty);
    }

    private void MoveListItemUp(List<string> list, int index)
    {
        list.Insert(index - 1, list.ElementAt(index));
        list.RemoveAt(index + 1);
    }

    private void MoveListItemDown(List<string> list, int index)
    {
        list.Insert(index + 2, list.ElementAt(index));
        list.RemoveAt(index);
    }

    private void DeleteListItem(List<string> list, int index)
    {
        list.RemoveAt(index);
    }

    // -------------------------------------------------------------------------
    // Table methods
    // -------------------------------------------------------------------------

    private void InsertColumn(List<List<string>> table, int colIndex)
    {
        foreach (var row in table)
        {
            row.Insert(colIndex, string.Empty);
        }
    }

    private void MoveColumnRight(List<List<string>> table, int colIndex)
    {
        foreach (var row in table)
        {
            row.Insert(colIndex + 2, row[colIndex]);
            row.RemoveAt(colIndex);
        }
    }

    private void MoveColumnLeft(List<List<string>> table, int colIndex)
    {
        foreach (var row in table)
        {
            row.Insert(colIndex - 1, row[colIndex]);
            row.RemoveAt(colIndex + 1);
        }
    }

    private void DeleteColumn(List<List<string>> table, int colIndex)
    {
        foreach (var row in table)
        {
            row.RemoveAt(colIndex);
        }
    }

    private void InsertRow(List<List<string>> table, int rowIndex)
    {
        table.Insert(rowIndex, table.First().Select(x => string.Empty).ToList());
    }

    private void MoveRowUp(List<List<string>> table, int rowIndex)
    {
        table.Insert(rowIndex - 1, table.ElementAt(rowIndex));
        table.RemoveAt(rowIndex + 1);
    }

    private void MoveRowDown(List<List<string>> table, int rowIndex)
    {
        table.Insert(rowIndex + 2, table.ElementAt(rowIndex));
        table.RemoveAt(rowIndex);
    }

    private void DeleteRow(List<List<string>> table, int rowIndex)
    {
        table.RemoveAt(rowIndex);
    }

    private class SchemaProperty
    {
        public string Name { get; set; }

        public Type Type { get; set; }

        [NotNull]
        public SchemaPropertyAttribute SchemaPropertyAttribute { get; set; } = new SchemaPropertyAttribute();

        public object Value { get; set; }
    }

}