﻿@using Hiro.Services.Options

<div class="@String.Join(" ",
                    Css.admin_media_thumbnail,
                    Class)">
    <div class="@Css.admin_media_thumbnail_image"
         style="@($"background-image: url({GetMediaImageUrl(MediaFile)})")"></div>
</div>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public MediaFile MediaFile { get; set; }

    [Parameter]
    public int Size { get; set; } = 100;

    private string GetMediaImageUrl(MediaFile mediaFile)
    {
        switch (mediaFile.Extension)
        {
            case ".zip":
                return "img/zip.png";

            case ".pdf":
                return "img/pdf.png";

            case ".txt":
                return "img/txt.png";

            case ".mp4":
                return "img/mp4.png";

            case ".jpg":
            case ".jpeg":
            case ".png":
            case ".tif":
            case ".tiff":
            case ".gif":
                return ImagikHelper.GetResizedJpeg(mediaFile.AbsolutePath, Size);

            default:
                return "img/file.png";

        }
    }
}
