﻿<div class="@string.Join(" ", Css.admin_select, Class)">
    @if (Label != null)
    {
        <AdminLabel Text="@Label"
                    Class="@Css.admin_label_style_1"
                    Tooltip="@Tooltip" />
    }
    <ul class="@Css.admin_select_search_container @(HasFocus ? "focus" : "")">
        @foreach (var option in Value.Where(x => Options.Any(op => op.Key == x.Key)))
        {
            <li class="@Css.admin_select_search_selected_option">@option.Title</li>
        }
        <li>
            <input @bind="@SearchQuery"
                   @onfocus="@HandleFocus"
                   @onblur="@HandleBlur"
                   @oninput="@((e) => HandleInput(e))"
                   @onkeydown="@HandleKeyDown"
                   readonly="@IsReadOnly" />
            <span class="@string.Join(" ",
                                  Css.admin_select_icon,
                                  Css.admin_icon_triangle_down)"
                  @onclick="@(() => HasFocus = !HasFocus)" />
        </li>
    </ul>
    @{ var searchResults = GetSearchResults(); }
    @if (searchResults.Count > 0)
    {
        <ul class="@Css.admin_select_search_results @(HasFocus && !IsReadOnly ? "": "hidden")">
            @{ var searchRegex = new Regex(SearchQuery ?? string.Empty, RegexOptions.IgnoreCase | RegexOptions.Compiled); }
            @foreach (var result in searchResults)
            {
                var resultParts = searchRegex.Split(result.Title);
                //var resultParts = result.Title.ToLower().Split(SearchQuery?.ToLower() ?? string.Empty);
                <li @onmousedown="@(() => HandleMouseDown(result))">
                    @for (int i = 0; i < resultParts.Length; i++)
                    {
                        if (i < resultParts.Length - 1)
                        {@resultParts[i]<span class="query">@SearchQuery</span>}
                    else
                    {@resultParts[i]}
            }
                </li>
            }
        </ul>
    }
</div>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string LabelClass { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public bool AllowMultipleValues { get; set; }

    [Parameter]
    public bool AllowNewOptions { get; set; }

    [Parameter]
    public bool IsReadOnly { get; set; }

    [Parameter]
    public List<AdminSelectOption> Options { get; set; } = new List<AdminSelectOption>();

    [Parameter]
    public List<AdminSelectOption> Value { get; set; } = new List<AdminSelectOption>();

    [Parameter]
    public EventCallback<List<AdminSelectOption>> ValueChanged { get; set; }

    private string SearchQuery { get; set; }

    private bool HasFocus { get; set; }

    private async Task HandleMouseDown(AdminSelectOption clickedOption)
    {
        if (!Value.Any(x => x.Key == clickedOption.Key))
        {
            SelectOption(clickedOption);

            await ValueChanged.InvokeAsync(Value);
        }
    }

    private void HandleFocus()
    {
        HasFocus = true;
    }

    private void HandleBlur()
    {
        HasFocus = false;
    }

    private async Task HandleKeyDown(KeyboardEventArgs eventArgs)
    {
        switch (eventArgs.Key)
        {
            case KeyboardKeys.Enter:

                if (AllowNewOptions && !string.IsNullOrEmpty(SearchQuery))
                {
                    var newOption = new AdminSelectOption(SearchQuery);

                    Options.Add(newOption);

                    SelectOption(newOption);
                }

                break;

            case KeyboardKeys.Backspace:

                if (string.IsNullOrEmpty(SearchQuery) && Value.Count > 0)
                {
                    Value.RemoveAt(Value.Count - 1);

                    await ValueChanged.InvokeAsync(Value);
                }

                break;
        }
    }

    private void SelectOption(AdminSelectOption option)
    {
        if (!AllowMultipleValues)
        {
            Value.Clear();
        }

        Value.Add(option);

        SearchQuery = string.Empty;
    }

    private void HandleInput(ChangeEventArgs eventArgs)
    {
        SearchQuery = eventArgs.Value?.ToString();
    }

    private List<AdminSelectOption> GetSearchResults()
    {
        return Options
            .Where(x => !Value.Any(v => v.Key == x.Key))
            .Where(x => x.Title.Contains(SearchQuery ?? string.Empty, StringComparison.OrdinalIgnoreCase))
            .OrderBy(x => x.Title.IndexOf(SearchQuery ?? string.Empty))
            .ToList();
    }

}

