﻿<AdminTable Data="@Categories"
            Class="@GetRootClass()">
    <RowTemplate Context="category">
        <td>
            @category.LocalizedTitle
            <AdminButton Class="@Css.admin_button_style_1"
                         OnClick="@(() => HandleEditClick(category))"
                         Text="Edit" />
            <AdminButton Class="@Css.admin_button_style_1"
                         IconClass="@Css.admin_icon_triangle_down"
                         IsDisabled="Categories.Last() == category"
                         OnClick="@(() => HandleDownClick(category))" />
            <AdminButton Class="@Css.admin_button_style_1"
                         IconClass="@Css.admin_icon_triangle_up"
                         IsDisabled="Categories.First() == category"
                         OnClick="@(() => HandleUpClick(category))" />
            @if (category.Children.Any())
            {
                <AdminCategoriesTable Class="@Class" Categories="@category.Children" OnCategoryEditClick="@OnCategoryEditClick" />
            }
        </td>
    </RowTemplate>
</AdminTable>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public List<CategoryDto> Categories { get; set; }

    [Parameter]
    public EventCallback<CategoryDto> OnCategoryEditClick { get; set; }

    private string GetRootClass()
    {
        var classes = new List<string>();

        classes.Add(Css.admin_table_style_1);

        classes.Add(Css.admin_categories_table);

        classes.AddIfNotNull(Class);

        return string.Join(" ", classes);
    }

    private void HandleEditClick(CategoryDto category)
    {
        OnCategoryEditClick.InvokeAsync(category);
    }

    private void HandleUpClick(CategoryDto category)
    {
        var index = Categories.IndexOf(category);

        Categories.RemoveAt(index);

        Categories.Insert(index - 1, category);
    }

    private void HandleDownClick(CategoryDto category)
    {
        var index = Categories.IndexOf(category);

        Categories.RemoveAt(index);

        Categories.Insert(index + 1, category);
    }

}
