﻿@inject AdminSessionState AdminSessionState

<div class="@String.Join(" ",
                    Css.admin_page_template,
                    Class)">
    @if (AdminSessionState.IsLoading)
    {
        <div class="@Css.admin_page_template_top_bar">
        </div>
        <AdminLoading Class="@Css.admin_loading_style_1" />
    }
    else
    {
        <div class="@Css.admin_page_template_top_bar">
            <div class="@Css.admin_page_template_top_bar_title">
                @TopBarTitle
            </div>
            <div class="@Css.admin_page_template_top_bar_controls">
                @TopBarControls
            </div>
        </div>
        @if (AdminSessionState.OperationResult != null)
        {
            <div class="@GetFormResponseClass()">
                <button class="@Css.admin_page_template_operation_result_close_button"
                        @onclick="@HandleAlertButtonClick">
                    &times;
                </button>
                @if (AdminSessionState.OperationResult.Errors.Any())
                {
                    <ul>
                        @foreach (var error in AdminSessionState.OperationResult.Errors)
                        {
                            <li>@error.Message</li>
                        }
                    </ul>
                }
                else
                {
                    <ul>
                        <li>@(AdminSessionState.OperationResult.SuccessMessage ?? "Your request was successful")</li>
                    </ul>
                }
            </div>
        }
        <div class="@Css.admin_page_template_content">
            @Content
            <div class="@Css.admin_page_template_content_columns">
                <div class="@Css.admin_page_template_content_column_left">
                    @ContentColumnLeft
                </div>
                <div class="@Css.admin_page_template_content_column_right">
                    @ContentColumnRight
                </div>
            </div>
        </div>
        @if (AdminSessionState.ShowConfirmationModal)
        {
            <AdminModal Class="@Css.admin_modal_style_1"
                        Size="@AdminModalSize.Small"
                        OnOverlayClick="@(() => AdminSessionState.ShowConfirmationModal = false)">
                <Header>
                    Confirmation
                </Header>
                <Body>
                    Are you sure you want to proceed?
                </Body>
                <Footer>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Confirm"
                                 OnClick="@(() =>
                                      {
                                          AdminSessionState.ConfirmationModalTask();
                                          AdminSessionState.ShowConfirmationModal = false;
                                      })" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Cancel"
                                 OnClick="@(() => AdminSessionState.ShowConfirmationModal = false)" />
                </Footer>
            </AdminModal>
        }
    }
</div>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment TopBarTitle { get; set; }

    [Parameter]
    public RenderFragment TopBarControls { get; set; }

    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public RenderFragment ContentColumnLeft { get; set; }

    [Parameter]
    public RenderFragment ContentColumnRight { get; set; }

    private void HandleAlertButtonClick()
    {
        AdminSessionState.OperationResult = null;
    }

    private string GetFormResponseClass()
    {
        var classes = Css.admin_page_template_operation_result.InList();

        if (AdminSessionState.OperationResult != null)
        {
            if (AdminSessionState.OperationResult.Errors.Any())
            {
                classes.Add(Css.admin_page_template_operation_result_error);
            }
            else if (!AdminSessionState.OperationResult.Errors.Any())
            {
                classes.Add(Css.admin_page_template_form_operation_result_success);
            }
        }

        return string.Join(" ", classes);
    }

}