﻿<label class="@GetRootClass()">
    @Text
    @if (!string.IsNullOrEmpty(Tooltip))
    {
    <i class="@string.Join(" ",
                           Css.admin_icon_help_circle,
                           Css.admin_label_help_icon)"
       title="@Tooltip"></i>
    }
</label>

@code {

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public string Class { get; set; }

    private string GetRootClass()
    {
        var classes = new List<string>();

        classes.Add(Css.admin_label);

        classes.AddIfNotNull(Class);

        return string.Join(" ", classes);
    }

}
