﻿<li class="@String.Join(" ",
                    Css.admin_dropdown_item,
                    Class)">
    <AdminButton Text="@Text"
                 Href="@Href"
                 IconClass="@IconClass"
                 IsDisabled="@IsDisabled"
                 OnClick="@OnClick" />
</li>

@code {

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string IconClass { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

}
