﻿@inherits LayoutComponentBase
@inject AdminSessionState AdminSessionState
@inject HiroHttpClient HiroHttpClient
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="@Css.admin_layout">
    <div class="@Css.admin_sidebar">
        <div class="@Css.admin_sidebar_logo">
            <img src="img/logo.svg" alt="" />
        </div>
        <div class="@Css.admin_sidebar_navlinks">
            <div class="@Css.admin_sidebar_navlinks_group_title">
                General
            </div>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminNotifications">
                <i class="@Css.admin_icon_file_text2"></i>
                Notifications
            </NavLink>
            <div class="@Css.admin_sidebar_navlinks_group_title">
                Ecommerce
            </div>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminOrders">
                <i class="@Css.admin_icon_clipboard"></i>
                Orders
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminProducts">
                <i class="@Css.admin_icon_archive"></i>
                Products
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminCarts">
                <i class="@Css.admin_icon_cart"></i>
                Carts
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminVariants">
                <i class="@Css.admin_icon_tree"></i>
                Variants
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminCategories">
                <i class="@Css.admin_icon_tree"></i>
                Categories
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminShippingBoxes">
                <i class="@Css.admin_icon_truck1"></i>
                Shipping
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminCoupons">
                <i class="@Css.admin_icon_tags"></i>
                Coupons
            </NavLink>
            <div class="@Css.admin_sidebar_navlinks_group_title">
                Content
            </div>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminContentSections">
                <i class="@Css.admin_icon_documents"></i>
                Content Sections
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminAttributes">
                <i class="@Css.admin_icon_th"></i>
                Attributes
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminEmails">
                <i class="@Css.admin_icon_envelop"></i>
                Emails
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminSeoSections">
                <i class="@Css.admin_icon_at_sign"></i>
                Seo Sections
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminMedia">
                <i class="@Css.admin_icon_documents"></i>
                Media
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminBlogCategories">
                <i class="@Css.admin_icon_documents"></i>
                Blog Categories
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminBlogPosts">
                <i class="@Css.admin_icon_documents"></i>
                Blog Posts
            </NavLink>
            <div class="@Css.admin_sidebar_navlinks_group_title">
                Advanced
            </div>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminUsers">
                <i class="@Css.admin_icon_user"></i>
                Users
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminUserRoles">
                <i class="@Css.admin_icon_key"></i>
                User Roles
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminMailingLists">
                <i class="@Css.admin_icon_users"></i>
                Mailing Lists
            </NavLink>
            <NavLink class="nav-link" href="@HiroAdminRoutes.AdminCountries">
                <i class="@Css.admin_icon_earth"></i>
                Countries
            </NavLink>
            <NavLink class="nav-link" href="x">
                <i class="@Css.admin_icon_gear"></i>
                Settings
            </NavLink>
            <a class="nav-link" href="#" @onclick="SignOut" @onclick:preventDefault>
                <i class="@Css.admin_icon_user"></i>
                Sign Out
            </a>
        </div>
    </div>
    @Body
</div>

@code
{

    private async Task SignOut()
    {
        await (this.AuthenticationStateProvider as JwtAuthenticationStateProvider).SignOutAsync();

        NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.AdminAuthentication);
    }
}