﻿@inject HiroHttpClient HiroHttpClient

<div class="@(string.Join(" ", Class, @Css.admin_file_picker))">
    <AdminInput Class="@Css.admin_input_style_1" 
                Label="@Label"
                LabelClass="@Css.admin_label_style_1"
                Value="@Value" />
    <AdminButton Class="@Css.admin_button_style_1"
                 IconClass="@Css.admin_icon_upload_cloud"
                 OnClick="@ShowModal" />
    @if (IsModalShown)
    {
        <AdminModal Class="@Css.admin_modal_style_1"
                    OnOverlayClick="@(() => IsModalShown = false)">
            <Header>
                Select file
            </Header>
            <Body>
                @foreach (var directory in MediaDirectory.Directories)
                {
                    <div class="@Css.admin_file_picker_directory" @onclick="@(() => HandleDirectoryClick(directory))">
                        <div style="background-image: url(img/folder.png)"
                             class="@Css.admin_file_picker_directory_image"></div>
                        @directory.Name
                    </div>

                }
                @foreach (var file in MediaDirectory.Files)
                {
                    <div class="@Css.admin_file_picker_file" @onclick="@(() => HandleFileClick(file))">
                        <AdminMediaThumbnail Class="@Css.admin_media_thumbnail_style_1"
                                              MediaFile="@file" />
                        @file.Name
                    </div>
                }
            </Body>
            <Footer>
                <AdminButton Class="@Css.admin_button_style_1"
                             Text="close"
                             OnClick="@HideModal" />
            </Footer>
        </AdminModal>
    }
</div>

@code {

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    bool IsModalShown { get; set; }

    MediaDirectory MediaDirectory { get; set; } = new MediaDirectory { };

    protected override async Task OnInitializedAsync()
    {
        MediaDirectory = await HiroHttpClient.PostAsync<MediaDirectory>(HiroAdminApiRoutes.AdminMediaIndexJson, null, null);
    }

    void ShowModal()
    {
        IsModalShown = true;
    }

    void HideModal()
    {
        IsModalShown = false;
    }

    void HandleDirectoryClick(MediaDirectory mediaDirectory)
    {
        Value = mediaDirectory.LocalPath;

        ValueChanged.InvokeAsync(Value);

        HideModal();
    }

    void HandleFileClick(MediaFile mediaFile)
    {
        Value = mediaFile.AbsolutePath;

        ValueChanged.InvokeAsync(Value);

        HideModal();
    }
}

