﻿<div class="@GetRootClass()">
    <AdminButton Text="@Text"
                 Class="@Css.admin_button_style_1"
                 IconClass="@IconClass"
                 IsDisabled="@IsDisabled"
                 OnClick="@(() => IsDropDownOpen = !IsDropDownOpen)" />
    @if (IsDropDownOpen)
    {
        <ul class="@Css.admin_dropdown_list @(PushLeft ? Css.admin_dropdown_list_push_left : string.Empty)" 
            @onclick="@CloseDropDown">
            @ChildContent
        </ul>
        <div class="@Css.admin_dropdown_overlay" 
             @onclick="@CloseDropDown"></div>
    }
</div>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string IconClass { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public bool PushLeft { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool IsDropDownOpen { get; set; }

    private string GetRootClass()
    {
        var classes = new List<string>();

        classes.Add(Css.admin_dropdown);

        classes.AddIfNotNull(Class);

        return string.Join(" ", classes);
    }

    private void CloseDropDown()
    {
        IsDropDownOpen = false;
    }

}
