﻿@typeparam T

<table class="@string.Join(" ", Css.admin_table_style_1, Class)">
    @if (Header != null)
    {
        <thead>
            <tr>
                @Header
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var rowItem in Data)
        {
            <tr draggable="@AllowSorting.ToString().ToLower()"
                class="@GetRowClass(rowItem)"
                @ondrag="@(e => HandleDrag(e))"
                @ondrop="@(() => HandleDrop(rowItem))"
                @ondragstart="@(() => HandleDragStart(rowItem))"
                @ondragenter="@(() => HandleDragEnter(rowItem))"
                @ondragend="@HandleDragEnd"
                @ondragover:preventDefault>
                @RowTemplate(rowItem)
            </tr>
        }
    </tbody>
    @if (Footer != null)
    {
        <tfoot>
            <tr>
                @Footer
            </tr>
        </tfoot>
    }
</table>

@code {

    [Parameter]
    public List<T> Data { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment<T> RowTemplate { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public bool AllowSorting { get; set; }

    [Parameter]
    public EventCallback OnDataSorted { get; set; }

    private T DraggedItem { get; set; }

    private T DropZone { get; set; }

    private double PreviousCursorY { get; set; }

    private bool IsCursorMovingUp { get; set; }

    private void HandleDrag(MouseEventArgs eventArgs)
    {
        if (Math.Abs(PreviousCursorY - eventArgs.ClientY) > 5)
        {
            IsCursorMovingUp = PreviousCursorY > eventArgs.ClientY;

            PreviousCursorY = eventArgs.ClientY;
        }
    }

    private void HandleDragStart(T draggedItem)
    {
        DraggedItem = draggedItem;
    }

    private async Task HandleDrop(T draggedItem)
    {
        var index = Data.IndexOf(draggedItem);

        if (IsCursorMovingUp)
        {
            Data.Insert(index, DraggedItem.Clone());
        }
        else
        {
            Data.Insert(index + 1, DraggedItem.Clone());
        }

        Data.Remove(DraggedItem);

        DraggedItem = default(T);

        await OnDataSorted.InvokeAsync(true);
    }

    private void HandleDragEnter(T dropZone)
    {
        DropZone = dropZone;
    }

    private void HandleDragEnd()
    {
        DropZone = default;
    }

    private string GetRowClass(T item)
    {
        var classes = new List<string>();

        if (IsCursorMovingUp)
        {
            classes.Add("mouse-move-up");
        }
        else
        {
            classes.Add("mouse-move-down");
        }

        if (Equals(DraggedItem, item))
        {
            classes.Add(Css.admin_table_dragged_item);
        }

        if (Equals(DropZone, item))
        {
            classes.Add(Css.admin_table_dropzone);
        }

        return string.Join(" ", classes);
    }

}
