﻿@typeparam TLocalizedKit

<div class="@String.Join(" ",
                    Css.admin_localizedkits,
                    Class)">
    @foreach (var localizedKit in LocalizedKits)
    {
        var localizedKitDto = localizedKit as ILocalizedKitDto;

        <div class="@Css.admin_localizedkits_localizedkit">
            <div class="@Css.admin_localizedkits_localizedkit_country" @onclick="@(() => ToggleCollapse(localizedKit))">
                @localizedKitDto.Country?.Name
            </div>
            <div class="@GetLocalizedKitContentClass(localizedKit)">
                @LocalizedKitTemplate(localizedKit)
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public RenderFragment<TLocalizedKit> LocalizedKitTemplate { get; set; }

    /// <summary>
    /// Gets or sets the list of LocalizedKits to be used as data context for the LocalizedKitTemplate.
    /// TLocalizedKit must be an ILocalizedKitDto.
    /// </summary>
    [Parameter]
    public List<TLocalizedKit> LocalizedKits { get; set; } = new List<TLocalizedKit>();

    List<TLocalizedKit> ExpandedLocalizedKits { get; set; } = new List<TLocalizedKit>();

    void ToggleCollapse(TLocalizedKit localizedKit)
    {
        if (ExpandedLocalizedKits.Contains(localizedKit))
        {
            ExpandedLocalizedKits.Remove(localizedKit);
        }
        else
        {
            ExpandedLocalizedKits.Add(localizedKit);
        }
    }

    protected override void OnInitialized()
    {
        ExpandedLocalizedKits.AddIfNotNull(LocalizedKits.FirstOrDefault());
    }

    string GetLocalizedKitContentClass(TLocalizedKit localizedKit)
    {
        var classes = new List<string>();

        classes.Add(Css.admin_localizedkits_localizedkit_content);

        if (ExpandedLocalizedKits.Contains(localizedKit))
        {
            classes.Add(Css.admin_localizedkits_localizedkit_content_expanded);
        }

        return string.Join(" ", classes);
    }

}

