﻿<div class="@String.Join(" ",
                    Css.admin_contentsection_editor,
                    Class)">
    <AdminInput Class="@String.Join(" ",
                                Css.admin_input_style_1,
                                Css.admin_form_line)"
                Label="Name"
                LabelClass="@Css.admin_label_style_1"
                @bind-Value="@ContentSection.Name"
                @bind-Value:event="OnChange" />
    <AdminSelect Class="@String.Join(" ",
                                Css.admin_select_style_1,
                                Css.admin_form_line)"
                 Label="Schema"
                 Options="@Schemas.Select(x => new AdminSelectOption(x.Name)).ToList()"
                 Value="@AdminSelectOption.CreateInList(ContentSection.Schema)"
                 ValueChanged="@(v => ContentSection.Schema = v.FirstOrDefault()?.GetValueAs<string>())" />
    <AdminLabel Class="@Css.admin_label_style_1"
                Text="Localized Content" />
    <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1" 
                         LocalizedKits="@ContentSection.ContentSectionLocalizedKits">
        <LocalizedKitTemplate Context="localizedKit">
            <AdminContentSectionLocalizedKitEditor Class="@Css.admin_contentsectionlocalizedkit_editor_style_1"
                                                    Schema="@Schemas.FirstOrDefault(x => x.Name == ContentSection.Schema)"
                                                    ContentSectionLocalizedKit="@localizedKit" />
        </LocalizedKitTemplate>
    </AdminLocalizedKits>
</div>

@code {

    [Parameter]
    public string  Class { get; set; }

    [Parameter]
    public ContentSectionDto ContentSection { get; set; }

    private List<Type> Schemas => AppDomain.CurrentDomain
        .GetAssemblies()
        .Where(x => x.FullName.Contains("Hiro"))
        .SelectMany(x => x.GetTypes())
        .Where(t => t.FullName != null && t.FullName.Contains("Schemas."))
        .ToList();

}