﻿<div class="@String.Join(" ",
                    Css.admin_card,
                    Class)">
    @if (!string.IsNullOrEmpty(Title) || Controls != null)
    {
        <div class="@Css.admin_card_header">
            <div class="@Css.admin_card_header_title">
                @Title
            </div>
            <div class="@Css.admin_card_header_controls">
                @Controls
            </div>
        </div>
    }
    @ChildContent
</div>

@code {

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment Controls { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}