﻿@typeparam TValue

    <div class="@GetRootClass()">
        @if (!string.IsNullOrEmpty(Label) && Type != "checkbox")
        {
            <AdminLabel Text="@Label"
                        Class="@LabelClass"
                        Tooltip="@Tooltip" />
        }
        <input value="@GetMetaValue()"
               placeholder="@Placeholder"
               id="@InputId"
               type="@Type"
               disabled="@IsDisabled"
               readonly="@IsReadonly"
               checked="@(Value.TryCast<bool>())"
               step="@Step"
               min="@Min"
               max="@Max"
               @oninput="@(e => OnInput.InvokeAsync(e.Value.TryCast<TValue>()))"
               @onchange="@(e => OnChange.InvokeAsync(e.Value.TryCast<TValue>()))"
               @onblur="@OnBlur"
               @onclick="@OnClick"
               @onkeydown="@OnKeyDown" />
        @if (!string.IsNullOrEmpty(Label) && Type == "checkbox")
        {
            <label for="@InputId">@Label</label>
        }
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="@Css.admin_input_error_message">
                <i class="icon-alert-triangle"></i>
                <span>
                    @ErrorMessage
                </span>
            </div>
        }
    </div>

@code {

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public string LabelClass { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public string Step { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    [Parameter]
    public bool IsReadonly { get; set; }

    [Parameter]
    public TValue Value { get; set; }

    [Parameter]
    public string ErrorMessage { get; set; }

    [Parameter]
    public string Min { get; set; }

    [Parameter]
    public string Max { get; set; }

    [Parameter]
    public EventCallback<TValue> OnChange { get; set; }

    [Parameter]
    public EventCallback<TValue> OnInput { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public EventCallback<KeyboardEventArgs> OnKeyDown { get; set; }

    [Parameter]
    public EventCallback<FocusEventArgs> OnBlur { get; set; }

    private string InputId { get; } = "input_" + Guid.NewGuid().ToString().Replace("-", "_");

    private string GetMetaValue()
    {
        if (Type == "date")
        {
            return Value.TryCast<DateTime>().ToString("yyyy-MM-dd");
        }
        else
        {
            return Value.TryCast<string>();
        }
    }

    private string GetRootClass()
    {
        var classes = new List<string>();

        classes.Add(Css.admin_input);

        if (!string.IsNullOrEmpty(ErrorMessage))
        {
            classes.Add(Css.admin_input_error);
        }

        classes.AddIfNotNull(Class);

        return string.Join(" ", classes);
    }

}

