﻿<div class="@string.Join(" ", Css.admin_inline_wrapper, Class)">
    <div class="@Css.admin_inline_wrapper_left_column">
        @LeftColumn
    </div>
    <div class="@Css.admin_inline_wrapper_right_column">
        @RightColumn
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment LeftColumn { get; set; }

    [Parameter]
    public RenderFragment RightColumn { get; set; }

    [Parameter]
    public string Class { get; set; }

}