﻿@page "/"
@namespace Hiro.Admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hiro</title>
    <base href="~/" />
    <link href="sharpcss" rel="stylesheet" />
</head>
<body>
    @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
</body>
</html>