﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminMailingLists)]
@attribute [Route(HiroAdminRoutes.AdminMailingLists)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Mailing Lists
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create Mailing List"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminMailingList, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     IsDisabled="@(!this.AdminSessionState.ContainsUnsavedChanges)"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@MailingLists"
                        AllowSorting="@true"
                        OnDataSorted="() => this.AdminSessionState.ContainsUnsavedChanges = true">
                <Header>
                    <th>
                        Sort Order
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Subscribers
                    </th>
                    <th>
                        Users
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="mailingList">
                    <td>
                        @mailingList.SortOrder
                    </td>
                    <td>
                        @mailingList.Name
                    </td>
                    <td>
                        @mailingList.TotalSubscribers
                    </td>
                    <td>
                        @mailingList.TotalUsers
                    </td>
                    <td>
                        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                       Text="Options"
                                       IconClass="@Css.admin_icon_triangle_down">
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Edit"
                                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminMailingListId, new { this.CountryUrl, Id = mailingList.Id })" />
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Duplicate"
                                               OnClick="@(() => HandleDuplicate(mailingList.Id))" />
                        </AdminDropdown>
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    private List<MailingListDto> MailingLists = new List<MailingListDto>();

    protected override async Task OnInitializedAsync()
    {
        this.AdminSessionState.IsLoading = true;

        MailingLists = await HiroHttpClient.PostAsync<List<MailingListDto>>(HiroAdminApiRoutes.AdminMailingListIndex, null, null);

        this.AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        this.AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMailingListUpdateSortOrder, null, MailingLists);

        MailingLists = await HiroHttpClient.PostAsync<List<MailingListDto>>(HiroAdminApiRoutes.AdminMailingListIndex, null, null);

        this.AdminSessionState.IsLoading = false;

        this.AdminSessionState.ContainsUnsavedChanges = false;

        ShowOperationResultAlert(operationResult);
    }

    private async Task HandleDuplicate(Guid mailingListId)
    {
        this.AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult<dynamic>>(HiroAdminApiRoutes.AdminMailingListDuplicate, new { Id = mailingListId }, null);

        this.NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminMailingListId, new { this.CountryUrl, Id = operationResult.Data.id });

        this.AdminSessionState.IsLoading = false;

        this.AdminSessionState.ContainsUnsavedChanges = false;
    }
}
