﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminVariantOptionId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminVariantOption)]
@attribute [Route(HiroAdminRoutes.AdminVariantOptionId)]
@attribute [Route(HiroAdminRoutes.AdminVariantOption)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Variant Option
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to Variant"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminVariantId, new { this.CountryUrl, Id = VariantId })" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" 
                   Title="Global Properties">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Name is the unique identifier of the entity. It should be written in camelCase, using only numbers and letters."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantOptionDto.VariantOption.Name"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Url"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Url is used to represent an entity in the URL."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantOptionDto.VariantOption.Url"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Code"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantOptionDto.VariantOption.Code"
                        @bind-Value:event="OnChange" />
            <AdminFilePicker Label="Image"
                             Class="@String.Join(" ",
                                              Css.admin_file_picker_style_1,
                                              Css.admin_form_line)"
                             @bind-Value="@EditVariantOptionDto.VariantOption.Image" />
            <AdminSelect Label="Tags"
                         LabelClass="@Css.admin_select_style_1"
                         Class="@String.Join(" ",
                                        Css.admin_label_style_1,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         Value="@GetSelectedTags()"
                         Options="@EditVariantOptionDto.AllTags.Select(x => new AdminSelectOption(x)).ToList()"
                         ValueChanged="@((value) => EditVariantOptionDto.VariantOption.Tags = string.Join(",", value.Select(x => x.GetValueAs<string>())))" />
            <AdminInput Label="Sort Order"
                        LabelClass="@Css.admin_label_style_1"
                        Type="number"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantOptionDto.VariantOption.SortOrder"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Disabled"
                        LabelClass="@Css.admin_label_style_1"
                        Type="checkbox"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantOptionDto.VariantOption.IsDisabled"
                        @bind-Value:event="OnChange" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" 
                   Title="Localized Properties">
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                LocalizedKits="EditVariantOptionDto.VariantOption.VariantOptionLocalizedKits">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                                Css.admin_textarea_style_1,
                                                Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                                Css.admin_textarea_style_1,
                                                Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    [Parameter]
    public Guid VariantId { get; set; }

    private EditVariantOptionDto EditVariantOptionDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditVariantOptionDto = await HiroHttpClient.PostAsync<EditVariantOptionDto>(HiroAdminApiRoutes.AdminVariantEditVariantOption, new
        {
            variantId = VariantId,
            variantOptionId = Id
        }, null);

        AdminSessionState.IsLoading = false;
    }

    private List<AdminSelectOption> GetSelectedTags()
    {
        if (string.IsNullOrEmpty(EditVariantOptionDto.VariantOption.Tags))
        {
            return new List<AdminSelectOption>();
        }

        return EditVariantOptionDto.VariantOption.Tags.Split(",").Select(x => new AdminSelectOption(x)).ToList();
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminVariantDeleteVariantOption, new { Id }, null);

        if (operationResult.Errors.Any())
        {
            AdminSessionState.IsLoading = false;

            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminVariantId, new { this.CountryUrl, Id = VariantId });
        }
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminVariantAddOrUpdateVariantOption, null, EditVariantOptionDto.VariantOption);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }
}
