﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminOrderId)]
@attribute [Route(HiroAdminRoutes.AdminOrderId)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Order @EditOrderDto.Order.OrderNumber
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminOrders, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     IconClass="fas fa-plus"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Order Details">
            <AdminInput Label="Date"
                        LabelClass="@Css.admin_label_style_1"
                        Type="date"
                        IsReadonly="true"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Value="@EditOrderDto.Order.CreatedDate" />
            <AdminInput Label="Transaction Id"
                        LabelClass="@Css.admin_label_style_1"
                        IsReadonly="true"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Value="@EditOrderDto.Order.TransactionId" />
            <AdminSelect Label="Status"
                         Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditOrderDto.Order.Status)"
                         Options="@(Enum.GetValues(typeof(OrderStatusEnum)).Cast<OrderStatusEnum>().Select(x => new AdminSelectOption(x)).ToList())"
                         ValueChanged="@((value) => EditOrderDto.Order.Status = value.Any() ? (OrderStatusEnum)value.First().Value : OrderStatusEnum.Placed)" />
            <AdminTextArea Label="Comments"
                           LabelClass="@Css.admin_label_style_1"
                           Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                           @bind-Value="@EditOrderDto.Order.Comments"
                           @bind-Value:event="OnChange" />
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="Shipping Details">
            <AdminInput Label="First Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.AddressFirstName" />
            <AdminInput Label="Last Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.AddressLastName" />
            <AdminInput Label="Address Line 1"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.AddressLine1" />
            <AdminInput Label="Address Line 2"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.AddressLine2" />
            <AdminInput Label="City"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.City" />
            <AdminInput Label="State/Province"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.StateCountyProvince" />
            <AdminInput Label="Postal Code"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.Postcode" />
            <AdminInput Label="Country"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.CountryName" />
            <AdminInput Label="Phone Number"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsReadonly="true"
                        Value="@EditOrderDto.Order.ShippingAddress?.PhoneNumber" />
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="User Details">
            <Controls>
                <AdminButton Class="@Css.admin_button_style_1"
                             Text="Find User"
                             Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.AdminUserId, new { Id = EditOrderDto.Order.UserId })" />
            </Controls>
            <ChildContent>
                <AdminInput Label="First Name"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Value="@EditOrderDto.Order.UserFirstName" />
                <AdminInput Label="Last Name"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Value="@EditOrderDto.Order.UserLastName" />
                <AdminInput Label="Email"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Value="@EditOrderDto.Order.UserEmail" />
                <AdminTable Class="@Css.admin_table_style_1"
                            Data="@EditOrderDto.AllEmails">
                    <Header>
                        <td>Email</td>
                        <td>Status</td>
                        <td></td>
                    </Header>
                    <RowTemplate Context="email">
                        <td>@email.Name</td>
                        <td>@(EditOrderDto.Order.SentEmails.Any(x => x.Id == email.Id) ? "Sent" : "")</td>
                        <td>
                            <AdminButton Class="@Css.admin_button_style_1"
                                         Text="Send"
                                         OnClick="@(() => HandleEmailSendClick(email.Name))" />
                        </td>
                    </RowTemplate>
                </AdminTable>
            </ChildContent>
        </AdminCard>
        @if (SendEmailDetail != null)
        {
            <AdminModal Class="@Css.admin_modal_style_1"
                        OnOverlayClick="@(() => SendEmailDetail = null)">
                <Header>
                    Send Email
                </Header>
                <Body>
                    <AdminInput Label="Recipient"
                                LabelClass="@Css.admin_label_style_1"
                                Type="email"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@SendEmailDetail.SendTo"
                                @bind-Value:event="OnChange" />
                </Body>
                <Footer>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Confirm" OnClick="@HandleEmailSendConfirmClickAsync" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Cancel" OnClick="@(() => SendEmailDetail = null)" />
                </Footer>
            </AdminModal>
        }
    </ContentColumnLeft>
    <ContentColumnRight>
        @foreach (var shippingBox in EditOrderDto.Order.OrderShippingBoxes)
        {
            <AdminCard Class="@Css.admin_card_style_1" Title="Shipping Box">
                <AdminTextArea Label="Title"
                               LabelClass="@Css.admin_label_style_1"
                               Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                               Value="@shippingBox.Title"
                               IsReadOnly="true" />
                <AdminTextArea Label="Description"
                               LabelClass="@Css.admin_label_style_1"
                               Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                               Value="@shippingBox.Description"
                               IsReadOnly="true" />
                <AdminTextArea Label="Internal Description"
                               LabelClass="@Css.admin_label_style_1"
                               Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                               Value="@shippingBox.InternalDescription"
                               IsReadOnly="true" />
                <AdminInput Label="Tracking Code"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Value="@shippingBox.TrackingCode"
                            IsReadonly="true" />
                <AdminInput Label="Shipping Price"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            IsReadonly="true"
                            Value="@shippingBox.ShippingPriceAfterTax.ToPrice(EditOrderDto.Order.CountryLanguageCode)" />
                <AdminSelect Label="Status"
                             Class="@Css.admin_select_style_1"
                             IsReadOnly="true"
                             Value="@AdminSelectOption.CreateInList(shippingBox.Status)"
                             Options="@(Enum.GetValues(typeof(OrderShippingBoxStatusEnum)).Cast<OrderShippingBoxStatusEnum>().Select(x => new AdminSelectOption(x)).ToList())"
                             ValueChanged="@((value) => shippingBox.Status = value.Any() ? (OrderShippingBoxStatusEnum)value.First().Value : OrderShippingBoxStatusEnum.Preparing)" />

                @foreach (var item in shippingBox.OrderItems)
                {
                    <p>Item @(shippingBox.OrderItems.IndexOf(item) + 1)</p>

                    <AdminInput Label="ETA"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@($"{item.MinEta.ToShortDateString()} - {item.MaxEta.ToShortDateString()}")"
                                IsReadonly="true" />
                    <AdminInput Label="Quantity"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductQuantity"
                                IsReadonly="true" />
                    <AdminInput Label="Name"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductName"
                                IsReadonly="true" />
                    <AdminTextArea Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   Value="@item.ProductTitle"
                                   IsReadOnly="true" />
                    <AdminInput Label="Code"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductCode"
                                IsReadonly="true" />
                    <AdminInput Label="Base Price"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Sale at Price"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Membership Sale at Price"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Product Stock Unit Release Date"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Product Stock Unit Preorder"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminTextArea Label="Color Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                   IsReadOnly="true" />
                    <AdminInput Label="Color Code"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Color price Modifier"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminTextArea Label="Size Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                   IsReadOnly="true" />
                    <AdminInput Label="Size Code"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Size price Modifier"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Item's subtotal before tax"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Item's subtotal after tax"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Item's total before tax"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminInput Label="Item's total after tax"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.ProductStockUnitBasePrice.ToPrice(EditOrderDto.Order.CountryLanguageCode)"
                                IsReadonly="true" />
                    <AdminSelect Label="Status"
                                 Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                                 Value="@AdminSelectOption.CreateInList(item.Status)"
                                 Options="@(Enum.GetValues(typeof(OrderItemStatusEnum)).Cast<OrderItemStatusEnum>().Select(x => new AdminSelectOption(x)).ToList())"
                                 ValueChanged="@((value) => item.Status = value.Any() ? (OrderItemStatusEnum)value.First().Value : OrderItemStatusEnum.Default)" />
                    <AdminInput Label="Stock Status"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Value="@item.StockStatus"
                                IsReadonly="true" />
                    @if (item.StockStatus == OrderItemStockStatusEnum.Decreased)
                    {
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Restore"
                                     OnClick="HandleRestoreStockClickAsync" />
                    }
                }
            </AdminCard>
        }
        <AdminCard Class="@Css.admin_card_style_1" Title="Item Summary">
            <div>
                <span>Items subtotal before tax:</span>
                <span>@EditOrderDto.Order.OrderShippingBoxes.SelectMany(x => x.OrderItems).Sum(x => x.SubtotalBeforeTax).ToPrice(EditOrderDto.Order.CountryLanguageCode)</span>
            </div>
            @if (EditOrderDto.Order.OrderCoupon != null)
            {
                <div>
                    <span>Coupon:</span>
                    <span>@EditOrderDto.Order.OrderCoupon.Code - @EditOrderDto.Order.OrderCoupon.Amount.ToPrice(EditOrderDto.Order.CountryLanguageCode)</span>
                </div>
            }
            <div>
                <span>Tax:</span>
                <span>@((EditOrderDto.Order.TotalAfterTax - EditOrderDto.Order.TotalBeforeTax).ToPrice(EditOrderDto.Order.CountryLanguageCode))</span>
            </div>
            <div>
                <span>Shipping:</span>
                <span>@EditOrderDto.Order.OrderShippingBoxes.Sum(x => x.ShippingPriceAfterTax).ToPrice(EditOrderDto.Order.CountryLanguageCode)</span>
            </div>
            <div>
                <span>Total:</span>
                <span>@EditOrderDto.Order.TotalToBePaid.ToPrice(EditOrderDto.Order.CountryLanguageCode)</span>
            </div>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code
{
    [Parameter]
    public Guid Id { get; set; }

    private EditOrderDto EditOrderDto;

    private SendEmailConfirmationModalDto SendEmailDetail;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditOrderDto = await HiroHttpClient.PostAsync<EditOrderDto>(HiroAdminApiRoutes.AdminOrderEdit, new { OrderId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminOrderUpdate, null, EditOrderDto.Order);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

    private void HandleEmailSendClick(string emailName)
    {
        SendEmailDetail = new SendEmailConfirmationModalDto
        {
            EmailName = emailName,
            EntityId = EditOrderDto.Order.Id,
            SendTo = EditOrderDto.Order.UserEmail
        };
    }

    private async Task HandleEmailSendConfirmClickAsync()
    {
        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminOrderSendEmail, null, SendEmailDetail);

        ShowOperationResultAlert(operationResult);

        SendEmailDetail = null;
    }

    private async Task HandleRestoreStockClickAsync()
    {
        //var operationResult = await HiroHttpClient.PostAsync<FormResponse>(NavigationManager.GetRoute(AdminApiRoutes.AdminOrderSendEmail), SendEmailDetail);

        //ShowFormResponseAlert(operationResult);
    }

}
