﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCartId)]
@attribute [Route(HiroAdminRoutes.AdminCartId)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(EditCartDto.Cart.User?.FirstName ?? "Anonymous")'s Cart
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCarts, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create Order"
                     IconClass="fas fa-plus"
                     OnClick="@HandleCreateOrderClick" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Summary">
            <AdminInput Label="Date"
                        LabelClass="@Css.admin_label_style_1"
                        Type="date"
                        IsReadonly="true"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Value="@EditCartDto.Cart.CreatedDate" />
            <div class="@Css.admin_cart_summary">
                <div>
                    <span>Items Total:</span>
                    <span>@EditCartDto.Cart.CartShippingBoxes.Sum(x => x.TotalAfterTax).ToPrice(EditCartDto.Cart.User?.Country.LanguageCode)</span>
                </div>
                <div>
                    <span>Coupon:</span>
                    <span>@EditCartDto.Cart.CouponValue.ToPrice(EditCartDto.Cart.User?.Country?.LanguageCode)</span>
                </div>
                <div>
                    <span>Credit:</span>
                    <span>@(EditCartDto.Cart.UserCredit == null ? "-" : EditCartDto.Cart.UserCredit.Amount.ToPrice(EditCartDto.Cart.User?.Country?.LanguageCode))</span>
                </div>
                <div>
                    <span>Total:</span>
                    <span>@EditCartDto.Cart.TotalToBePaid.ToPrice(EditCartDto.Cart.User?.Country?.LanguageCode)</span>
                </div>
            </div>
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="User Details">
            <AdminInput Label="First Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Value="@EditCartDto.Cart.User?.FirstName" />
            <AdminInput Label="Last Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Value="@EditCartDto.Cart.User?.LastName" />
            <AdminInput Label="Email"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Value="@EditCartDto.Cart.User?.Email" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        @foreach (var shippingBox in EditCartDto.Cart.CartShippingBoxes)
        {
            <AdminCard Class="@Css.admin_card_style_1" Title="ShippingBox">
                <AdminInput Label="Name"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Value="@shippingBox.ShippingBox.Name" />
                <AdminInput Label="Shipping Price"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Value="@shippingBox.ShippingPriceAfterTax.ToPrice(EditCartDto.Cart.User?.Country.LanguageCode)" />
                @foreach (var cartItem in shippingBox.CartItems)
                {
                    <div class="@Css.admin_cart_product_item">
                        <span>@cartItem.Product.LocalizedTitle</span>
                        <span>@cartItem.TotalAfterTax.ToPrice(EditCartDto.Cart.User?.Country.LanguageCode)</span>
                    </div>
                }
            </AdminCard>
        }
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid Id { get; set; }

    private EditCartDto EditCartDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditCartDto = await HiroHttpClient.PostAsync<EditCartDto>(HiroAdminApiRoutes.AdminCartEdit, new { CartId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private void HandleCreateOrderClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = CreateOrderAsync;
    }

    private async Task CreateOrderAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCreateOrder, new { CartId = Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminCarts, new { this.CountryUrl });
        }
    }
}
