﻿@inherits AdminPageComponentBase
@layout AdminLayout
@inject AdminContentSectionState AdminContentSectionState
@attribute [Route(HiroAdminRoutes.CountryUrlAdminContentSections)]
@attribute [Route(HiroAdminRoutes.AdminContentSections)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Content Sections
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Add new"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminContentSection, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@AdminContentSectionState.ContentSections">
                <Header>
                    <th>
                        Name
                    </th>
                    <th>
                        Default Content
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="contentSection">
                    <td>
                        @contentSection.Name
                    </td>
                    <td>
                        @contentSection.ContentSectionLocalizedKits.FirstOrDefault()?.Content.Shorten(300, true)
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminContentSectionId, new { this.CountryUrl, Id = contentSection.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        var editContentSectionsDto = await HiroHttpClient.PostAsync<EditContentSectionsDto>(HiroAdminApiRoutes.AdminContentSectionIndexJson, new { page = 1, filter = string.Empty }, null);

        AdminContentSectionState.Countries = editContentSectionsDto.Countries;
        AdminContentSectionState.ContentSections = editContentSectionsDto.ContentSections;

        AdminSessionState.IsLoading = false;
    }
}
