﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminShippingBoxId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminShippingBox)]
@attribute [Route(HiroAdminRoutes.AdminShippingBoxId)]
@attribute [Route(HiroAdminRoutes.AdminShippingBox)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Shipping Box
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminShippingBoxes, new { this.CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete" ,
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Global Properties">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Name is the unique identifier of the entity. It should be written in camelCase, using only numbers and letters."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditShippingBoxDto.ShippingBox.Name"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Sort Order"
                        LabelClass="@Css.admin_label_style_1"
                        Type="number"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditShippingBoxDto.ShippingBox.SortOrder"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Require Shipping Address"
                        LabelClass="@Css.admin_label_style_1"
                        Type="checkbox"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditShippingBoxDto.ShippingBox.RequiresShippingAddress"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Shipping To"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         Value="@EditShippingBoxDto.ShippingBox.Countries.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                         Options="@EditShippingBoxDto.AllCountries.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                         ValueChanged="@((value) => EditShippingBoxDto.ShippingBox.Countries = value.Select(x => x.GetValueAs<CountryDto>()).ToList())" />
            <AdminSelect Label="Products"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         Value="@EditShippingBoxDto.ShippingBox.Products.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         Options="@AllProducts.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditShippingBoxDto.ShippingBox.Products = value.Select(x => x.GetValueAs<ProductDto>()).ToList())" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Localized Properties">
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="EditShippingBoxDto.ShippingBox.ShippingBoxLocalizedKits">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Internal Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.InternalDescription"
                                   @bind-Value:event="OnChange" />
                    <AdminInput Label="Carrier"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@localizedKit.Carrier"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="@($"Price {@localizedKit.Country.CurrencySymbol}")"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Type="number"
                                @bind-Value="@localizedKit.Price"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Free delivery over"
                                LabelClass="@Css.admin_label_style_1"
                                Type="number"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@localizedKit.FreeShippingMinimumPrice"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Min Days"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Type="number"
                                @bind-Value="@localizedKit.MinDays"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Max Days"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Type="number"
                                @bind-Value="@localizedKit.MaxDays"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Count weekends (ETA evaluation)"
                                LabelClass="@Css.admin_label_style_1"
                                Type="checkbox"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@localizedKit.CountWeekends"
                                @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private EditShippingBoxDto EditShippingBoxDto;

    private List<ProductDto> AllProducts = new List<ProductDto>();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditShippingBoxDto = await HiroHttpClient.PostAsync<EditShippingBoxDto>(HiroAdminApiRoutes.AdminShippingBoxEdit, new { ShippingBoxId = Id }, null);

        AllProducts = await HiroHttpClient.PostAsync<List<ProductDto>>(HiroAdminApiRoutes.AdminShippingBoxGetAllProducts, null, null);

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminShippingBoxDelete, new { ShippingBoxId = Id }, null);

        if (operationResult.Errors.Any())
        {
            AdminSessionState.IsLoading = false;

            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminShippingBoxes, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminShippingBoxAddOrUpdate, null, EditShippingBoxDto.ShippingBox);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

}
