﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminUser)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminUserId)]
@attribute [Route(HiroAdminRoutes.AdminUser)]
@attribute [Route(HiroAdminRoutes.AdminUserId)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") User
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to List"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminUsers, new { this.CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClick" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="User Details">
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Label="Firstname"
                        LabelClass="@Css.admin_label_style_1"
                        @bind-Value="@EditUserDto.User.FirstName"
                        @bind-Value:event="OnChange" />
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Label="Lastname"
                        LabelClass="@Css.admin_label_style_1"
                        @bind-Value="@EditUserDto.User.LastName"
                        @bind-Value:event="OnChange" />
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Label="Email"
                        LabelClass="@Css.admin_label_style_1"
                        @bind-Value="@EditUserDto.User.Email"
                        @bind-Value:event="OnChange" />
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Label="Password"
                        LabelClass="@Css.admin_label_style_1"
                        @bind-Value="@EditUserDto.User.Password"
                        @bind-Value:event="OnChange" />
            <AdminSelect Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Label="Gender"
                         Options="@(Enum.GetValues(typeof(GenderEnum)).Cast<GenderEnum>().Select(gender => new AdminSelectOption(gender)).ToList())"
                         Value="@AdminSelectOption.CreateInList(EditUserDto.User.Gender)"
                         ValueChanged="@((value) => EditUserDto.User.Gender = (GenderEnum)(value.FirstOrDefault()?.Value ?? GenderEnum.None))" />
            <AdminSelect Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Label="Role"
                         Options="@EditUserDto.UserRoles.Select(role => new AdminSelectOption(role, role.Name)).ToList()"
                         Value="@AdminSelectOption.CreateInList(EditUserDto.User.Role, EditUserDto.User.Role.Name)"
                         ValueChanged="@((value) => EditUserDto.User.Role = value.FirstOrDefault()?.GetValueAs<UserRoleDto>())" />
            <AdminSelect Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Label="Country"
                         Options="@EditUserDto.Countries.Select(c => new AdminSelectOption(c, c.Name)).ToList()"
                         Value="@AdminSelectOption.CreateInList(EditUserDto.User.Country, EditUserDto.User.Country.Name)"
                         ValueChanged="@((value) => EditUserDto.User.Country = value.FirstOrDefault()?.GetValueAs<CountryDto>())" />
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Label="Show Membership Sale Price"
                        Type="checkbox"
                        @bind-Value="@EditUserDto.User.ShowMembershipSalePrice"
                        @bind-Value:event="OnChange" />
            <AdminInput Class="@Css.admin_input_style_1"
                        Label="Disabled"
                        Type="checkbox"
                        @bind-Value="@EditUserDto.User.IsDisabled"
                        @bind-Value:event="OnChange" />
        </AdminCard>
        @foreach (var address in EditUserDto.User.Addresses)
        {
            <AdminCard Class="@Css.admin_card_style_1" Title="@($"Address {EditUserDto.User.Addresses.IndexOf(address) + 1}")">
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Label="Firstname"
                            LabelClass="@Css.admin_input_style_1"
                            @bind-Value="@address.FirstName"
                            @bind-Value:event="OnChange" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Label="Lastname"
                            LabelClass="@Css.admin_input_style_1"
                            @bind-Value="@address.LastName"
                            @bind-Value:event="OnChange" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Label="Address Line 1"
                            LabelClass="@Css.admin_input_style_1"
                            @bind-Value="@address.AddressLine1"
                            @bind-Value:event="OnChange" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Label="Address Line 2"
                            LabelClass="@Css.admin_input_style_1"
                            @bind-Value="@address.AddressLine2"
                            @bind-Value:event="OnChange" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Label="City"
                            LabelClass="@Css.admin_input_style_1"
                            @bind-Value="@address.City"
                            @bind-Value:event="OnChange" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Label="State/Country/Province"
                            LabelClass="@Css.admin_input_style_1"
                            @bind-Value="@address.StateCountyProvince"
                            @bind-Value:event="OnChange" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Label="Post Code"
                            LabelClass="@Css.admin_input_style_1"
                            @bind-Value="@address.Postcode"
                            @bind-Value:event="OnChange" />
                <AdminSelect Class="@Css.admin_form_line"
                             Label="Country"
                             LabelClass="@Css.admin_input_style_1"
                             Options="@EditUserDto.Countries.Select(c => new AdminSelectOption(c, c.Name)).ToList()"
                             Value="@AdminSelectOption.CreateInList(address.Country, address.Country.Name)"
                             ValueChanged="@((value) => address.Country = value.FirstOrDefault()?.GetValueAs<CountryDto>())" />
                <AdminInput Class="@Css.admin_input_style_1"
                            Label="Phone Number"
                            LabelClass="@Css.admin_input_style_1"
                            @bind-Value="@address.PhoneNumber"
                            @bind-Value:event="OnChange" />
            </AdminCard>
        }
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Orders">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@EditUserDto.Orders">
                <Header>
                    <td>#</td>
                    <td>Date</td>
                    <td>Country</td>
                    <td>Status</td>
                    <td>Revenue</td>
                </Header>
                <RowTemplate Context="order">
                    <td>@order.OrderNumber</td>
                    <td>@order.CreatedDate.Value.ToShortDateString()</td>
                    <td>@order.CountryName</td>
                    <td>@order.Status</td>
                    <td>@order.TotalAfterTax.ToPrice(order.CountryLanguageCode)</td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="Localized Properties">
            @if (IsUserCreditModalShown)
            {
                <AdminModal Class="@Css.admin_modal_style_1"
                            OnOverlayClick="@(() => IsUserCreditModalShown = false)">
                    <Header>
                        Edit User Credit
                    </Header>
                    <Body>
                        <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                    Label="Amount"
                                    @bind-Value="@SelectedUserCreditDto.Amount"
                                    @bind-Value:event="OnChange" />
                        <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                    Label="Reference"
                                    @bind-Value="@SelectedUserCreditDto.Reference"
                                    @bind-Value:event="OnChange" />
                    </Body>
                    <Footer>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Save"
                                     OnClick="@HandleUserCreditSaveClick" />
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Close"
                                     OnClick="@HandleCloseModalClick" />
                    </Footer>
                </AdminModal>
            }
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="@EditUserDto.User.UserLocalizedKits" Context="localizedKit">
                <LocalizedKitTemplate>
                    <AdminTable Class="@Css.admin_table_style_1"
                                Data="@localizedKit.UserCredits">
                        <Header>
                            <td>
                                <AdminButton Class="@Css.admin_button_style_1"
                                             IconClass="fas fa-plus"
                                             Text="Add credit"
                                             OnClick="@(() => HandleUserCreditAddClick(localizedKit))" />
                            </td>
                            <td>
                                Reference
                            </td>
                            <td>
                                Amount
                            </td>
                        </Header>
                        <RowTemplate Context="userCredit">
                            <td>
                                <AdminButton Class="@Css.admin_button_style_1"
                                             IconClass="@Css.admin_icon_trash"
                                             OnClick="@(() => HandleCreditDeleteClick(localizedKit, userCredit))" />
                                <AdminButton Class="@Css.admin_button_style_1"
                                             IconClass="@Css.admin_icon_edit"
                                             OnClick="@(() => HandleUserCreditEditClick(userCredit))" />
                            </td>
                            <td>
                                @userCredit.Reference
                            </td>
                            <td>
                                @userCredit.Amount.ToPrice(localizedKit.Country.LanguageCode)
                            </td>
                        </RowTemplate>
                        <Footer>
                            <td></td>
                            <td>
                                Total
                            </td>
                            <td>
                                @($"{localizedKit.Country.CurrencySymbol}{localizedKit.UserCredits.Sum(x => x.Amount).Round(2)}")
                            </td>
                        </Footer>
                    </AdminTable>
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code
{
    [Parameter]
    public Guid? Id { get; set; }

    private EditUserDto EditUserDto;

    private bool IsUserCreditModalShown;

    private UserCreditDto SelectedUserCreditDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditUserDto = await HiroHttpClient.PostAsync<EditUserDto>(HiroAdminApiRoutes.AdminUserEdit, new { UserId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleUserCreditSaveClick()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminUserAddOrUpdateUserCredit, null, SelectedUserCreditDto);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            var selectedUserLocalizedKit = EditUserDto.User.UserLocalizedKits.FirstOrDefault(x => x.Id == SelectedUserCreditDto.UserLocalizedKit.Id);

            var editedUserCreditDto = selectedUserLocalizedKit.UserCredits.FirstOrDefault(x => x.Id == SelectedUserCreditDto.Id);

            if (editedUserCreditDto == null)
            {
                selectedUserLocalizedKit.UserCredits.Add(SelectedUserCreditDto);
            }
            else
            {
                editedUserCreditDto.Amount = SelectedUserCreditDto.Amount;
                editedUserCreditDto.Reference = SelectedUserCreditDto.Reference;
            }

            IsUserCreditModalShown = false;

            SelectedUserCreditDto = null;
        }
    }

    private void HandleCloseModalClick()
    {
        IsUserCreditModalShown = false;

        SelectedUserCreditDto = null;
    }

    private void HandleUserCreditAddClick(UserLocalizedKitDto localizedKitDto)
    {
        SelectedUserCreditDto = new UserCreditDto
        {
            UserLocalizedKit = localizedKitDto
        };

        IsUserCreditModalShown = true;
    }

    private void HandleUserCreditEditClick(UserCreditDto userCreditDto)
    {
        SelectedUserCreditDto = userCreditDto.Clone();

        IsUserCreditModalShown = true;
    }

    private async Task HandleCreditDeleteClick(UserLocalizedKitDto localizedKitDto, UserCreditDto userCredit)
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminUserDeleteUserCredit, new { Id = userCredit.Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            localizedKitDto.UserCredits.Remove(userCredit);

            ShowOperationResultAlert(operationResult);
        }
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ConfirmationModalTask = Delete;

        AdminSessionState.ShowConfirmationModal = true;
    }

    private async Task Delete()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminUserDelete, new { Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminUsers, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveClick()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminUserAddOrUpdate, null, EditUserDto.User);

        ShowOperationResultAlert(operationResult);

        AdminSessionState.IsLoading = false;
    }
}