﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminProducts)]
@attribute [Route(HiroAdminRoutes.AdminProducts)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Products
    </TopBarTitle>
    <TopBarControls>
        <AdminInput Class="@Css.admin_input_style_1"
                    @bind-Value="@SearchQuery"
                    @bind-Value:event="OnChange" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Search"
                     OnClick="@HandleSearchClickAsync" />
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_left"
                     OnClick="@HandlePreviousClickAsync"
                     IsDisabled="@(!HasPreviousPage)" />
        <span>
            Page @CurrentPage  / @TotalNoOfPages
        </span>
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_right"
                     OnClick="@HandleNextClickAsync"
                     IsDisabled="@(!HasNextPage)" />
        <AdminSelect Class="@Css.admin_select_style_1"
                     Options="@ProductList.AllCategories.Select(category => new AdminSelectOption(category, category?.LocalizedTitle)).ToList()"
                     Value="@AdminSelectOption.CreateInList(CategoryFilter, CategoryFilter?.LocalizedTitle)"
                     ValueChanged="@((value) => HandleCategoryChangedAsync(value.FirstOrDefault()?.GetValueAs<CategoryDto>()))" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create new product"
                     IconClass="fas fa-plus"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProduct, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@ProductList.Products">
                <Header>
                    <th>
                        #
                    </th>
                    <th>
                        Localized Title
                    </th>
                    <th>
                        Url
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="product">
                    <td>
                        @(1 + ProductList.Products.IndexOf(product))
                    </td>
                    <td>
                        @product.LocalizedTitle
                    </td>
                    <td>
                        @product.Url
                    </td>
                    <td>
                        @product.Code
                    </td>
                    <td>
                        @((product.IsDisabled ?? false) ? "Disabled" : "Enabled")
                    </td>
                    <td>
                        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                       Text="Options" 
                                       IconClass="@Css.admin_icon_triangle_down">
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Edit"
                                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductId, new { this.CountryUrl, Id = product.Id })" />
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Edit Attributes"
                                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductAttributes, new { this.CountryUrl, Id = product.Id })" />
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Edit Variants"
                                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductVariants, new { this.CountryUrl, Id = product.Id })" />
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Edit Images"
                                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductImageKits, new { this.CountryUrl, Id = product.Id })" />
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Edit Stock"
                                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductStockUnits, new { this.CountryUrl, Id = product.Id })" />
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Duplicate"
                                               OnClick="@(() => HandleDuplicate(product.Id))" />
                        </AdminDropdown>
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    private ProductListDto ProductList = new ProductListDto();

    private int CurrentPage = 1;

    private int PageSize;

    private int TotalNoOfPages;

    private string SearchQuery;

    private CategoryDto CategoryFilter;

    private bool HasNextPage => TotalNoOfPages > CurrentPage;

    private bool HasPreviousPage => CurrentPage > 1;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        await FetchProductsAsync(CurrentPage);

        TotalNoOfPages = ProductList.TotalPages;

        PageSize = ProductList.PageSize;

        AdminSessionState.IsLoading = false;
    }

    private async Task FetchProductsAsync(int pageNumber)
    {
        ProductList = await HiroHttpClient.PostAsync<ProductListDto>(HiroAdminApiRoutes.AdminProductIndex, new
        {
            page = pageNumber,
            keywordFilter = SearchQuery,
            categoryFilter = CategoryFilter?.Name
        }, null);

        CurrentPage = pageNumber;

        TotalNoOfPages = ProductList.TotalPages;
    }

    private async Task HandleNextClickAsync()
    {
        if (HasNextPage)
        {
            AdminSessionState.IsLoading = true;

            await FetchProductsAsync(CurrentPage + 1);

            AdminSessionState.IsLoading = false;
        }
    }

    private async Task HandlePreviousClickAsync()
    {
        if (HasPreviousPage)
        {
            AdminSessionState.IsLoading = true;

            await FetchProductsAsync(CurrentPage - 1);

            AdminSessionState.IsLoading = false;
        }
    }

    private async Task HandleSearchClickAsync()
    {
        AdminSessionState.IsLoading = true;

        await FetchProductsAsync(1);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleCategoryChangedAsync(CategoryDto category)
    {
        CategoryFilter = category;

        AdminSessionState.IsLoading = true;

        await FetchProductsAsync(1);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleDuplicate(Guid productId)
    {
        this.AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult<dynamic>>(HiroAdminApiRoutes.AdminProductDuplicate, new { Id = productId }, null);

        this.NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductId, new { this.CountryUrl, Id = operationResult.Data.id });

        this.AdminSessionState.IsLoading = false;

        this.AdminSessionState.ContainsUnsavedChanges = false;
    }
}
