﻿@inherits AdminPageComponentBase
@layout AdminLayout
@inject AdminContentSectionState AdminContentSectionState
@attribute [Route(HiroAdminRoutes.CountryUrlAdminContentSectionId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminContentSection)]
@attribute [Route(HiroAdminRoutes.AdminContentSectionId)]
@attribute [Route(HiroAdminRoutes.AdminContentSection)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Content Section
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminContentSections, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminContentSectionEditor ContentSection="@ContentSection" />
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    [Parameter]
    public Guid? Id { get; set; }

    private ContentSectionDto ContentSection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        ContentSection = await HiroHttpClient.PostAsync<ContentSectionDto>(HiroAdminApiRoutes.AdminContentSectionEdit, new { contentSectionId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminContentSectionSave, null, ContentSection);

        ShowOperationResultAlert(operationResult);

        AdminSessionState.IsLoading = false;
    }

}
