﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCountries)]
@attribute [Route(HiroAdminRoutes.AdminCountries)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Country List
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Add new country"
                     IconClass="fas fa-plus"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCountry)" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@CountryList.Countries">
                <Header>
                    <th>
                        Icon
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Url
                    </th>
                    <th>
                        Language Code
                    </th>
                    <th>
                        Payment Account
                    </th>
                    <th>
                        Localization
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Default
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="country">
                    <td>
                        <span class="flag-icon @country.FlagIcon" />
                    </td>
                    <td>
                        @country.Name
                    </td>
                    <td>
                        /@country.Url
                    </td>
                    <td>
                        @country.LanguageCode
                    </td>
                    <td>
                        @country.PaymentAccountId
                    </td>
                    <td>
                        @(country.Localize ? "Enabled" : "Disabled")
                    </td>
                    <td>
                        @(country.IsDisabled.GetValueOrDefault() ? "Disabled" : "Enabled")
                    </td>
                    <td>
                        @if (country.IsDefault)
                        {
                            <i class="@Css.admin_icon_checkmark"></i>
                        }
                        else
                        {
                            <AdminButton Class="@Css.admin_button_style_1"
                                         Text="Set Default"
                                         OnClick="(() => HandleSetAsDefaultClick(country))" />
                        }
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCountryId, new { Id = country.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>


@code
{

    private CountryListDto CountryList;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        CountryList = await HiroHttpClient.PostAsync<CountryListDto>(HiroAdminApiRoutes.AdminCountryIndex, null, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSetAsDefaultClick(CountryDto country)
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCountrySetDefaultCountry, new { CountryId = country.Id }, null);

        if (operationResult.Errors.Any())
        {
            AdminSessionState.IsLoading = false;
        }
        else
        {
            CountryList.Countries.ForEach(c =>
            {
                c.IsDefault = c.Id == country.Id;
            });

            AdminSessionState.IsLoading = false;
        }

        ShowOperationResultAlert(operationResult);
    }

}
