﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminAttributeId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminAttribute)]
@attribute [Route(HiroAdminRoutes.AdminAttributeId)]
@attribute [Route(HiroAdminRoutes.AdminAttribute)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Attribute
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to List"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminAttributes, new { this.CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Add new option"
                     OnClick="@HandleAddOptionClick" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClick" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Global Properties">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                Css.admin_input_style_1,
                                Css.admin_form_line)"
                        @bind-Value="@EditAttributeDto.Attribute.Name"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Url"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                Css.admin_input_style_1,
                                Css.admin_form_line)"
                        @bind-Value="@EditAttributeDto.Attribute.Url"
                        @bind-Value:event="OnChange" />
            <AdminSelect Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Label="Type"
                         LabelClass="@Css.admin_label_style_1"
                         Value="@AdminSelectOption.CreateInList(EditAttributeDto.Attribute.Type)"
                         ValueChanged="@((value) => EditAttributeDto.Attribute.Type = (AttributeTypesEnum)(value.FirstOrDefault()?.Value ?? AttributeTypesEnum.String))"
                         Options="@(Enum.GetValues(typeof(AttributeTypesEnum)).Cast<AttributeTypesEnum>().Select(attributeType => new AdminSelectOption(attributeType)).ToList())" />
            <AdminInput Label="SortOrder"
                        LabelClass="@Css.admin_label_style_1"
                        Type="number"
                        Class="@String.Join(" ",
                                Css.admin_input_style_1,
                                Css.admin_form_line)"
                        @bind-Value="@EditAttributeDto.Attribute.SortOrder"
                        @bind-Value:event="OnChange" />
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="Localized Properties">
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                LocalizedKits="@EditAttributeDto.Attribute.AttributeLocalizedKits.ToList()">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Class="@String.Join(" ",
                                                    Css.admin_textarea_style_1,
                                                    Css.admin_form_line)"
                                   Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Class="@String.Join(" ",
                                                    Css.admin_textarea_style_1,
                                                    Css.admin_form_line)"
                                   Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        @foreach (var option in EditAttributeDto.Attribute.AttributeOptions.Where(x => x.IsDeleted != true))
        {
            <AdminCard Class="@Css.admin_card_style_1" Title="Attribute Option">
                <Controls>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Remove"
                                 OnClick="@(() => HandleRemoveOptionClick(option))" />
                </Controls>
                <ChildContent>
                    <AdminInput Label="Name"
                                LabelClass="@Css.admin_label_style_1"
                                Tooltip="The Name is the unique identifier of the entity. It should be written in camelCase, using only numbers and letters."
                                Class="@String.Join(" ",
                                            Css.admin_input_style_1,
                                            Css.admin_form_line)"
                                @bind-Value="@option.Name"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Url"
                                LabelClass="@Css.admin_label_style_1"
                                Tooltip="The Url is used to represent an entity in the URL."
                                Class="@String.Join(" ",
                                            Css.admin_input_style_1,
                                            Css.admin_form_line)"
                                @bind-Value="@option.Url"
                                @bind-Value:event="OnChange" />
                    <AdminSelect Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                                 Label="Tags"
                                 LabelClass="@Css.admin_label_style_1"
                                 AllowMultipleValues="true"
                                 Value="@(string.IsNullOrEmpty(option.Tags) ? new List<AdminSelectOption>() : option.Tags.Split(",").Select(x => new AdminSelectOption(x)).ToList())"
                                 Options="@EditAttributeDto.AllTags.Select(x => new AdminSelectOption(x)).ToList()"
                                 ValueChanged="@((value) => option.Tags = string.Join(",", value.Select(x => x.Value.ToString())))" />
                    <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                        LocalizedKits="option.AttributeOptionLocalizedKits">
                        <LocalizedKitTemplate Context="localizedKit">
                            <AdminTextArea Label="Title"
                                           LabelClass="@Css.admin_label_style_1"
                                           Class="@String.Join(" ",
                                                    Css.admin_textarea_style_1,
                                                    Css.admin_form_line)"
                                           @bind-Value="@localizedKit.Title"
                                           @bind-Value:event="OnChange" />
                            <AdminTextArea Label="Description"
                                           LabelClass="@Css.admin_label_style_1"
                                           Class="@String.Join(" ",
                                                        Css.admin_textarea_style_1,
                                                        Css.admin_form_line)"
                                           @bind-Value="@localizedKit.Description"
                                           @bind-Value:event="OnChange" />
                        </LocalizedKitTemplate>
                    </AdminLocalizedKits>
                </ChildContent>
            </AdminCard>
        }
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private EditAttributeDto EditAttributeDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditAttributeDto = await HiroHttpClient.PostAsync<EditAttributeDto>(HiroAdminApiRoutes.AdminAttributeEdit, new { attributeId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAttributeAsync;
    }

    private async Task DeleteAttributeAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminAttributeDelete, new { Id }, null);

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminAttributes, new { this.CountryUrl });

            ShowOperationResultAlert(operationResult);
        }

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClick()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminAttributeAddOrUpdate, null, EditAttributeDto.Attribute);

        if (!operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            EditAttributeDto.Attribute.AttributeOptions.ForEach(attributeOption =>
            {
                attributeOption.IsNew = false;
            });
        }
    }

    private void HandleAddOptionClick()
    {
        EditAttributeDto.Attribute.AttributeOptions.Insert(0, new AttributeOptionDto
        {
            IsNew = true,
            AttributeOptionLocalizedKits = EditAttributeDto.Attribute.AttributeLocalizedKits.Select(localizedKit => new AttributeOptionLocalizedKitDto
            {
                Country = localizedKit.Country
            }).ToList()
        });
    }

    private void HandleRemoveOptionClick(AttributeOptionDto attributeOption)
    {
        if (attributeOption.IsNew ?? false)
        {
            EditAttributeDto.Attribute.AttributeOptions.Remove(attributeOption);
        }
        else
        {
            attributeOption.IsDeleted = true;
        }
    }

}

