﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminOrders)]
@attribute [Route(HiroAdminRoutes.AdminOrders)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Order List
    </TopBarTitle>
    <TopBarControls>
        <AdminInput Class="@Css.admin_input_style_1"
                    @bind-Value="@KeywordFilter"
                    @bind-Value:event="OnChange" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Search"
                     OnClick="@(() => FetchOrderListDtoAsync(1))" />
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_left"
                     IsDisabled="@(!HasPreviousPage)"
                     OnClick="@(() => FetchOrderListDtoAsync(CurrentPage - 1))" />
        <span>
            Page @CurrentPage / @TotalNoOfPages
        </span>
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_right"
                     OnClick="@(() => FetchOrderListDtoAsync(CurrentPage + 1))"
                     IsDisabled="@(!HasNextPage)" />
        <AdminSelect Class="@Css.admin_select_style_1"
                     Value="@AdminSelectOption.CreateInList(CountryFilter, CountryFilter?.Name)"
                     Options="@OrderListDto.Countries.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                     ValueChanged="@((value) => HandleCountryChangedAsync(value.FirstOrDefault()?.GetValueAs<CountryDto>()))" />
        <AdminSelect Class="@Css.admin_select_style_1"
                     Value="@AdminSelectOption.CreateInList(OrderStatusFilter)"
                     Options="@(Enum.GetValues(typeof(OrderStatusEnum)).Cast<OrderStatusEnum>().Select(x => new AdminSelectOption(x)).ToList())"
                     ValueChanged="@((value) => HandleOrderStatusChangedAsync((OrderStatusEnum?)value.FirstOrDefault()?.Value))" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@OrderListDto.Orders">
                <Header>
                    <th>
                        #
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Revenue
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="order">
                    <td>
                        @order.OrderNumber
                    </td>
                    <td>
                        @order.CreatedDate?.ToShortDateString()
                    </td>
                    <td>
                        @(order.UserFirstName ?? "-") @(order.UserLastName ?? "-")
                    </td>
                    <td>
                        @(order.CountryName ?? "-")
                    </td>
                    <td>
                        @order.Status
                    </td>
                    <td>
                        @order.TotalAfterTax.ToPrice(order.CountryLanguageCode)
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="open"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminOrderId, new { this.CountryUrl, Id = order.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>


@code
{
    private OrderListDto OrderListDto;

    private int CurrentPage;

    private int TotalNoOfPages;

    private string KeywordFilter;

    private CountryDto CountryFilter;

    private OrderStatusEnum? OrderStatusFilter;

    private bool HasNextPage => TotalNoOfPages > CurrentPage;

    private bool HasPreviousPage => CurrentPage > 1;

    protected override async Task OnInitializedAsync()
    {
        await FetchOrderListDtoAsync();
    }

    private async Task FetchOrderListDtoAsync(int page = 1)
    {
        AdminSessionState.IsLoading = true;

        OrderListDto = await HiroHttpClient.PostAsync<OrderListDto>(HiroAdminApiRoutes.AdminOrderIndex, new
        {
            page = page,
            keywordFilter = KeywordFilter,
            countryNameFilter = CountryFilter?.Name,
            orderStatusValueFilter = OrderStatusFilter
        }, null);

        TotalNoOfPages = OrderListDto.TotalPages;
        CurrentPage = page;

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleCountryChangedAsync(CountryDto country)
    {
        CountryFilter = country;

        await FetchOrderListDtoAsync();
    }

    private async Task HandleOrderStatusChangedAsync(OrderStatusEnum? orderStatusFilter)
    {
        OrderStatusFilter = orderStatusFilter;

        await FetchOrderListDtoAsync();
    }

}
