﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminUsers)]
@attribute [Route(HiroAdminRoutes.AdminUsers)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        User List
    </TopBarTitle>
    <TopBarControls>
        <AdminInput Class="@Css.admin_input_style_1"
                    @bind-Value="@SearchQuery"
                    @bind-Value:event="OnChange" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Search"
                     OnClick="@HandleSearchClickAsync" />
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_left"
                     OnClick="@HandlePreviousClickAsync"
                     IsDisabled="@(!HasPreviousPage)" />
        <span>
            Page @CurrentPage / @TotalNoOfPages
        </span>

        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_right"
                     OnClick="@HandleNextClickAsync"
                     IsDisabled="@(!HasNextPage)" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create new user"
                     IconClass="fas fa-plus"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminUser, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@UserList.Users">
                <Header>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Creation Date
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="user">
                    <td>
                        @user.FullName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @(user.Country?.Name ?? "N/A")
                    </td>
                    <td>
                        @user.CreatedDate.Value.ToShortDateString()
                    </td>
                    <td>
                        @user.Role.Name
                    </td>
                    <td>
                        @(user.IsRegistered ? "Registered" : "Partial")
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminUserId, new { this.CountryUrl, Id = user.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    private UserListDto UserList = new UserListDto();

    private int CurrentPage = 1;

    private int PageSize;

    private int TotalNoOfPages;

    private string SearchQuery;

    private bool HasNextPage => TotalNoOfPages > CurrentPage;

    private bool HasPreviousPage => CurrentPage > 1;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        await FetchUsersAsync(CurrentPage);

        TotalNoOfPages = UserList.TotalPages;

        PageSize = UserList.PageSize;

        AdminSessionState.IsLoading = false;
    }

    private async Task FetchUsersAsync(int pageNumber)
    {
        UserList = await HiroHttpClient.PostAsync<UserListDto>(HiroAdminApiRoutes.AdminUserIndex, new
        {
            page = pageNumber,
            keywordFilter = SearchQuery
        }, null);

        CurrentPage = pageNumber;

        TotalNoOfPages = UserList.TotalPages;
    }

    private async Task HandleNextClickAsync()
    {
        if (HasNextPage)
        {
            AdminSessionState.IsLoading = true;

            await FetchUsersAsync(CurrentPage + 1);

            AdminSessionState.IsLoading = false;
        }
    }

    private async Task HandlePreviousClickAsync()
    {
        if (HasPreviousPage)
        {
            AdminSessionState.IsLoading = true;

            await FetchUsersAsync(CurrentPage - 1);

            AdminSessionState.IsLoading = false;
        }
    }

    private async Task HandleSearchClickAsync()
    {
        AdminSessionState.IsLoading = true;

        await FetchUsersAsync(1);

        AdminSessionState.IsLoading = false;
    }
}
