﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCategoryId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCategory)]
@attribute [Route(HiroAdminRoutes.AdminCategoryId)]
@attribute [Route(HiroAdminRoutes.AdminCategory)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Category
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCategories, new {  CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Global Properties">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Name is the unique identifier of the entity. It should be written in camelCase, using only numbers and letters."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCategoryDto.Category.Name"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Url"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Url is used to represent an entity in the URL."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCategoryDto.Category.Url"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Sort Order"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Type="number"
                        Min="0"
                        @bind-Value="@EditCategoryDto.Category.SortOrder"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Parent Category"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditCategoryDto.Category.Parent, EditCategoryDto.Category.Parent?.LocalizedTitle)"
                         Options="@EditCategoryDto.AllCategories.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditCategoryDto.Category.Parent = value.FirstOrDefault()?.GetValueAs<CategoryDto>())" />
            <AdminSelect Label="Children Categories"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         Value="@EditCategoryDto.Category.Children.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         Options="@EditCategoryDto.AllCategories.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditCategoryDto.Category.Children = value.Select(x => x.GetValueAs<CategoryDto>()).ToList())" />
            <AdminSelect Label="Tags"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         Value="@GetSelectedTags()"
                         Options="@EditCategoryDto.AllTags.Select(x => new AdminSelectOption(x)).ToList()"
                         ValueChanged="@((value) => EditCategoryDto.Category.Tags = string.Join(",", value.Select(x => x.GetValueAs<string>())))" />
            <AdminSelect Label="Type"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditCategoryDto.Category.Type)"
                         Options="@(Enum.GetValues(typeof(CategoryTypesEnum)).Cast<CategoryTypesEnum>().Select(x => new AdminSelectOption(x)).ToList())"
                         ValueChanged="@((value) => EditCategoryDto.Category.Type = (CategoryTypesEnum)value.FirstOrDefault().Value)" />

            <AdminLabel Class="@Css.admin_label_style_1"
                        Text="Products" />
            @if (EditCategoryDto.Category.Type == CategoryTypesEnum.Products)
            {
                <AdminTable Class="@String.Join(" ",
                                            Css.admin_table_style_1,
                                            Css.admin_form_line)" Data="@EditCategoryDto.Category.Products" AllowSorting="true">
                    <RowTemplate Context="product">
                        <td>@product.LocalizedTitle</td>
                        <td>
                            <AdminButton Class="@Css.admin_button_style_1"
                                         Text="X"
                                         OnClick="(() => EditCategoryDto.Category.Products.Remove(product))" />
                        </td>
                    </RowTemplate>
                </AdminTable>
            }
            <AdminSelect Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_select_hide_selected_options,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         IsReadOnly="EditCategoryDto.Category.Type != CategoryTypesEnum.Products"
                         Value="@EditCategoryDto.Category.Products.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         Options="@AllProducts.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditCategoryDto.Category.Products = value.Select(x => x.GetValueAs<ProductDto>()).ToList())" />

            <AdminLabel Class="@Css.admin_label_style_1"
                        Text="Product Picks" />
            @if (EditCategoryDto.Category.Type == CategoryTypesEnum.ProductImageKits)
            {
                <AdminTable Class="@String.Join(" ",
                                            Css.admin_table_style_1,
                                            Css.admin_form_line)" Data="@GetSelectedProductImageKits()" AllowSorting="true">
                    <RowTemplate Context="productImageKit">
                        <td>@productImageKit.Product.LocalizedTitle</td>
                        <td>
                            <AdminButton Class="@Css.admin_button_style_1"
                                         Text="X"
                                         OnClick="(() => EditCategoryDto.Category.ProductImageKits.Remove(EditCategoryDto.Category.ProductImageKits.First(x => x.Id == productImageKit.Id)))" />
                        </td>
                    </RowTemplate>
                </AdminTable>
            }
            <AdminSelect Class="@string.Join(" ",
                                 Css.admin_select_style_1,
                                 Css.admin_select_hide_selected_options,
                                 Css.admin_form_line)"
                         AllowMultipleValues="true"
                         IsReadOnly="EditCategoryDto.Category.Type != CategoryTypesEnum.ProductImageKits"
                         Value="@GetSelectedProductImageKits().Select(x => new AdminSelectOption(x, x.Product.LocalizedTitle)).ToList()"
                         Options="@AllProductImageKits.Select(x => new AdminSelectOption(x, x.Product.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditCategoryDto.Category.ProductImageKits = value.Select(x => x.GetValueAs<ProductImageKitDto>()).ToList())" />

            <AdminLabel Class="@Css.admin_label_style_1"
                        Text="Product Stock units (not supported yet)" />
            @if (EditCategoryDto.Category.Type == CategoryTypesEnum.ProductStockUnits)
            {
                <AdminTable Class="@String.Join(" ",
                                            Css.admin_table_style_1,
                                            Css.admin_form_line)" 
                            Data="@EditCategoryDto.Category.ProductStockUnits" AllowSorting="true">
                    <RowTemplate Context="productStockUnit">
                        <td>@productStockUnit.Product.LocalizedTitle</td>
                        <td>
                            <AdminButton Class="@Css.admin_button_style_1"
                                         Text="X"
                                         OnClick="(() => EditCategoryDto.Category.ProductStockUnits.Remove(productStockUnit))" />
                        </td>
                    </RowTemplate>
                </AdminTable>
            }
            <AdminSelect Class="@string.Join(" ",
                                 Css.admin_select_style_1,
                                 Css.admin_select_hide_selected_options,
                                 Css.admin_form_line)"
                         AllowMultipleValues="true"
                         IsReadOnly="EditCategoryDto.Category.Type != CategoryTypesEnum.ProductStockUnits"
                         Value="@EditCategoryDto.Category.ProductStockUnits.Select(x => new AdminSelectOption(x, x.Product.LocalizedTitle)).ToList()"
                         Options="@AllProductStockUnits.Select(x => new AdminSelectOption(x, x.Product.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditCategoryDto.Category.ProductStockUnits = value.Select(x => x.GetValueAs<ProductStockUnitDto>()).ToList())" />

            <AdminInput Label="Disabled"
                        LabelClass="@Css.admin_label_style_1"
                        Type="checkbox"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCategoryDto.Category.IsDisabled"
                        @bind-Value:event="OnChange" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Localized Properties">
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="EditCategoryDto.Category.CategoryLocalizedKits">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                    <AdminFilePicker Label="Image"
                                     Class="@String.Join(" ",
                                              Css.admin_file_picker_style_1,
                                              Css.admin_form_line)"
                                     @bind-Value="@localizedKit.Image" />
                    <AdminTextArea Label="Featured Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.FeaturedTitle"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Featured Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.FeaturedDescription"
                                   @bind-Value:event="OnChange" />
                    <AdminFilePicker Label="Featured Image"
                                     Class="@String.Join(" ",
                                              Css.admin_file_picker_style_1,
                                              Css.admin_form_line)"
                                     @bind-Value="@localizedKit.FeaturedImage" />
                    <AdminTextArea Label="Meta Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.MetaTitle"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Meta Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.MetaDescription"
                                   @bind-Value:event="OnChange" />
                    <AdminInput Label="Disabled"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                Type="checkbox"
                                @bind-Value="@localizedKit.IsDisabled"
                                @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private EditCategoryDto EditCategoryDto;

    private List<ProductDto> AllProducts = new List<ProductDto>();

    private List<ProductImageKitDto> AllProductImageKits = new List<ProductImageKitDto>();

    private List<ProductStockUnitDto> AllProductStockUnits = new List<ProductStockUnitDto>();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditCategoryDto = await HiroHttpClient.PostAsync<EditCategoryDto>(HiroAdminApiRoutes.AdminCategoryEdit, new { CategoryId = Id }, null);

        AdminSessionState.IsLoading = false;

        AllProducts = await HiroHttpClient.PostAsync<List<ProductDto>>(HiroAdminApiRoutes.AdminCategoryGetAllProducts, null, null);

        AllProductImageKits = await HiroHttpClient.PostAsync<List<ProductImageKitDto>>(HiroAdminApiRoutes.AdminCategoryGetAllProductImageKits, null, null);
    }

    private List<AdminSelectOption> GetSelectedTags()
    {
        if (string.IsNullOrEmpty(EditCategoryDto.Category.Tags))
            return new List<AdminSelectOption>();

        return EditCategoryDto.Category.Tags.Split(",").Select(x => new AdminSelectOption(x)).ToList();
    }

    private List<ProductImageKitDto> GetSelectedProductImageKits()
    {
        return EditCategoryDto.Category.ProductImageKits.Select(x =>
        {
            return AllProductImageKits.First(ik => ik.Id == x.Id);
        }).ToList();
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCategoryDelete, new { Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminCategories, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCategoryAddOrUpdate, null, EditCategoryDto.Category);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }
}
