﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminNotificationId)]
@attribute [Route(HiroAdminRoutes.AdminNotificationId)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Notification
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to List"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminNotifications, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Delete"
                     OnClick="@HandleDeleteClick" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsDisabled="true"
                        Label="Date"
                        LabelClass="@Css.admin_label_style_1"
                        Value="@Log.CreatedDate.ToString()" />
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsDisabled="true"
                        Label="User"
                        LabelClass="@Css.admin_label_style_1"
                        Value="@Log.User?.FullName" />
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        IsDisabled="true"
                        Label="Message"
                        LabelClass="@Css.admin_label_style_1"
                        Value="@Log.Message" />
            <AdminTextArea IsDisabled="true"
                           Class="@Css.admin_textarea_style_1"
                           Label="Exception"
                           LabelClass="@Css.admin_label_style_1"
                           Value="@Log.Details" />
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public LogDto Log { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        Log = await HiroHttpClient.PostAsync<LogDto>(HiroAdminApiRoutes.AdminNotificationsDetails, new { notificationId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminNotificationsDelete, new { id = Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminNotifications, new { this.CountryUrl });
        }
    }
}