﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminEmails)]
@attribute [Route(HiroAdminRoutes.AdminEmails)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Emails
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create New Email"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminEmail, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@EmailList.Emails">
                <Header>
                    <th>
                        Name
                    </th>
                    <th>
                        Template
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="email">
                    <td>
                        @email.Name
                    </td>
                    <td>
                        @email.ViewName
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminEmailId, new { this.CountryUrl, Id = email.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    private EmailListDto EmailList = new EmailListDto();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EmailList = await HiroHttpClient.PostAsync<EmailListDto>(HiroAdminApiRoutes.AdminEmailIndex, null, null);

        AdminSessionState.IsLoading = false;
    }
}
