﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminNotifications)]
@attribute [Route(HiroAdminRoutes.AdminNotifications)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Notifications
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Delete all"
                     OnClick="@HandleDeleteAllClick" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@Logs">
                <Header>
                    <th>
                        Date
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="log">
                    <td>
                        @log.CreatedDate
                    </td>
                    <td>
                        @log.Message
                    </td>
                    <td>
                        @log.Type.GetDescription()
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Open"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminNotificationId, new { Id = log.Id })" />
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Delete"
                                     OnClick="() => HandleDeleteClick(log)" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    private List<LogDto> Logs = new List<LogDto>();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        Logs = await HiroHttpClient.PostAsync<List<LogDto>>(HiroAdminApiRoutes.AdminNotificationsIndex, null, null);

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteAllClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAllLogsAsync;
    }

    private async Task DeleteAllLogsAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminNotificationsDeleteAll, null, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            Logs.Clear();

            ShowOperationResultAlert(operationResult);
        }
    }

    private void HandleDeleteClick(LogDto log)
    {

        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = () => DeleteLogAsync(log);

    }

    private async Task DeleteLogAsync(LogDto log)
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminNotificationsDelete, new { Id = log.Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            Logs.Remove(log);

            ShowOperationResultAlert(operationResult);
        }
    }
}
