﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminProductId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminProduct)]
@attribute [Route(HiroAdminRoutes.AdminProductId)]
@attribute [Route(HiroAdminRoutes.AdminProduct)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Product
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProducts, new { this.CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminDropdown Class="@Css.admin_dropdown_style_1"
                           Text="Edit" 
                           IconClass="@Css.admin_icon_triangle_down">
                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                   Text="Product"
                                   IsDisabled="true"
                                   Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductId, new { this.CountryUrl, Id })" />
                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                   Text="Product Attributes"
                                   Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductAttributes, new { this.CountryUrl, Id })" />
                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                   Text="Product Variants"
                                   Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductVariants, new {  this.CountryUrl, Id })" />
                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                   Text="Product Images"
                                   Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductImageKits, new {  this.CountryUrl, Id })" />
                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                   Text="Product Stock"
                                   Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductStockUnits, new {  this.CountryUrl, Id })" />
            </AdminDropdown>
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Global Properties">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Name is the unique identifier of the entity. It should be written in camelCase, using only numbers and letters."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditProductDto.Product.Name"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Url"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="@($"The Url is used to represent an entity in the URL. For example, if you set it to '{EditProductDto.Product.Url ?? "my-amazing-product"}', the URL of the product page will look like this: .../product/{EditProductDto.Product.Url ?? "my-amazing-product"}")"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditProductDto.Product.Url"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Code"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Code is used uniquely identify a Product from an external source, like a third party Stock Management Software."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditProductDto.Product.Code"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Tax Code"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditProductDto.Product.TaxCode"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Categories"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         Value="@EditProductDto.Product.Categories.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         Options="@EditProductDto.AllCategories.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditProductDto.Product.Categories = value.Select(x => x.GetValueAs<CategoryDto>()).ToList())" />
            <AdminSelect Label="Tags"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         Value="@(string.IsNullOrEmpty(EditProductDto.Product.Tags) ? new List<AdminSelectOption>() : EditProductDto.Product.Tags.Split(",").Select(x => new AdminSelectOption(x)).ToList())"
                         Options="@EditProductDto.AllTags.Select(x => new AdminSelectOption(x)).ToList()"
                         ValueChanged="@((value) => EditProductDto.Product.Tags = string.Join(",", value.Select(x => x.Value.ToString())))" />
            <AdminTextArea Label="Comments"
                           Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                           @bind-Value="@EditProductDto.Product.Comments"
                           @bind-Value:event="OnChange" />
            <AdminInput Label="Disabled"
                        LabelClass="@Css.admin_label_style_1"
                        Type="checkbox"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditProductDto.Product.IsDisabled"
                        @bind-Value:event="OnChange" />
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="Shipping Options">
            <AdminSelect Label="Available Shipping Boxes"
                         LabelClass="@Css.admin_label_style_1"
                         Class="@Css.admin_form_line"
                         AllowMultipleValues="true"
                         Value="@EditProductDto.Product.ShippingBoxes.Select(x => new AdminSelectOption(x, x.LocalizedInternalDescription)).ToList()"
                         Options="@EditProductDto.AllShippingBoxes.Select(x => new AdminSelectOption(x, x.LocalizedInternalDescription)).ToList()"
                         ValueChanged="@((value) => EditProductDto.Product.ShippingBoxes = value.Select(x => x.GetValueAs<ShippingBoxDto>()).ToList())" />
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="Related Products">
            <AdminSelect Label="Select one or more products"
                         Class="@Css.admin_form_line"
                         AllowMultipleValues="true"
                         Value="@EditProductDto.Product.RelatedProducts.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         Options="@EditProductDto.AllProducts.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditProductDto.Product.RelatedProducts = value.Select(x => x.GetValueAs<ProductDto>()).ToList())" />
        </AdminCard>
        @if (EditProductDto.Product.ProductImageKits.Any())
        {
            <AdminCard Class="@Css.admin_card_style_1" Title="Related Product Image Kits">
                @foreach (var productImageKit in EditProductDto.Product.ProductImageKits)
                {
                    var variantOption = productImageKit.VariantOptions.First();

                    <AdminSelect Label="@(GetProductImageKitVariantTitle(productImageKit))"
                                 Class="@Css.admin_form_line"
                                 AllowMultipleValues="true"
                                 Value="@productImageKit.RelatedProductImageKits.Select(x => new AdminSelectOption(x, $"{GetProductTitleByProductImageKit(x)} - {GetProductImageKitVariantTitle(x)}")).ToList()"
                                 Options="@EditProductDto.AllProductImageKits.Select(x => new AdminSelectOption(x, $"{GetProductTitleByProductImageKit(x)} - {GetProductImageKitVariantTitle(x)}")).ToList()"
                                 ValueChanged="@((value) => productImageKit.RelatedProductImageKits = value.Select(x => x.GetValueAs<ProductImageKitDto>()).ToList())" />
                }
            </AdminCard>
        }
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Localized Properties">
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="EditProductDto.Product.ProductLocalizedKits">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Meta Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.MetaTitle"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Meta Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.MetaDescription"
                                   @bind-Value:event="OnChange" />
                    <AdminInput Label="Disabled"
                                LabelClass="@Css.admin_label_style_1"
                                Type="checkbox"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@localizedKit.IsDisabled"
                                @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private EditProductDto EditProductDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditProductDto = await HiroHttpClient.PostAsync<EditProductDto>(HiroAdminApiRoutes.AdminProductEdit, new { ProductId = Id }, null);

        EditProductDto.Product.ShippingBoxes.ForEach((shippingBox) =>
        {
            shippingBox.LocalizedInternalDescription = EditProductDto.AllShippingBoxes.First(x => x.Id == shippingBox.Id).LocalizedInternalDescription;
        });

        AdminSessionState.IsLoading = false;
    }

    private string GetProductTitleByProductImageKit(ProductImageKitDto productImageKit)
    {
        if (productImageKit.Product == null)
        {
            productImageKit.Product = EditProductDto.AllProductImageKits.First(x => x.Id == productImageKit.Id).Product;
        }

        return productImageKit.Product.LocalizedTitle;
    }

    private string GetProductImageKitVariantTitle(ProductImageKitDto productImageKit)
    {
        var variantOptions = productImageKit.VariantOptions;

        if (!variantOptions.Any())
        {
            variantOptions = EditProductDto.AllProductImageKits.First(x => x.Id == productImageKit.Id).VariantOptions;
        }

        return string.Join(" & ", variantOptions.Select(x => $"{x.Variant.LocalizedTitle}: {x.LocalizedTitle}"));
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminProductDelete, new { Id }, null);

        if (operationResult.Errors.Any())
        {
            AdminSessionState.IsLoading = false;

            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminProducts, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminProductAddOrUpdate, null, EditProductDto.Product);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

}
