﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminBlogCategories)]
@attribute [Route(HiroAdminRoutes.AdminBlogCategories)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Posts
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create New Category"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminBlogCategory, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@BlogCategoryList.BlogCategories">
                <Header>
                    <th>
                        Name
                    </th>
                    <th>
                        Localized Title
                    </th>
                    <th>
                        Blog Posts
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="category">
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.LocalizedTitle
                    </td>
                    <td>
                        @category.BlogPosts.Count
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminBlogCategoryId, new { this.CountryUrl, Id = category.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    private BlogCategoryListDto BlogCategoryList = new BlogCategoryListDto();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        BlogCategoryList = await HiroHttpClient.PostAsync<BlogCategoryListDto>(HiroAdminApiRoutes.AdminBlogCategoryIndex, null, null);

        AdminSessionState.IsLoading = false;
    }
}
