﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCouponId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCoupon)]
@attribute [Route(HiroAdminRoutes.AdminCouponId)]
@attribute [Route(HiroAdminRoutes.AdminCoupon)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Coupon
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCoupons, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Delete"
                     OnClick="@HandleDeleteClick" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Coupon Values">
            @if (Id.HasValue)
            {
                <AdminInput Label="Code"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            @bind-Value="@EditCouponDto.Coupon.Code"
                            @bind-Value:event="OnChange" />
            }
            else
            {
                <AdminInput Label="Quantity"
                            LabelClass="@Css.admin_label_style_1"
                            Type="number"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            @bind-Value="@EditCouponDto.Quantity"
                            @bind-Value:event="OnChange" />

            }
            <AdminSelect Label="Country"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Options="@EditCouponDto.AllCountries.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                         Value="@AdminSelectOption.CreateInList(EditCouponDto.Coupon.Country, EditCouponDto.Coupon.Country?.Name)"
                         ValueChanged="@HandleCountryChange" />
            <AdminSelect Label="Type"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         IsReadOnly="EditCouponDto.Coupon.Country == null"
                         Options="@CouponTypes.Select(x => new AdminSelectOption(x)).ToList()"
                         Value="@AdminSelectOption.CreateInList(SelectedCouponType)"
                         ValueChanged="@((value) => SelectedCouponType = value.Any() ? (CouponType)value.First().Value : CouponType.Percentage)" />
            @if (SelectedCouponType == CouponType.Percentage)
            {
                <AdminInput Label="Percentage"
                            LabelClass="@Css.admin_label_style_1"
                            Type="number"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            Min="0"
                            Max="100"
                            @bind-Value="@EditCouponDto.Coupon.Percentage"
                            @bind-Value:event="OnChange" />
            }
            else
            {
                <AdminInput Label="Amount"
                            LabelClass="@Css.admin_label_style_1"
                            Type="number"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            @bind-Value="@EditCouponDto.Coupon.Amount"
                            @bind-Value:event="OnChange" />
            }
            <AdminInput Label="Referee Reward"
                        LabelClass="@Css.admin_label_style_1"
                        Type="number"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCouponDto.Coupon.RefereeReward"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Referee"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Options="@EditCouponDto.AllUsers.Select(x => new AdminSelectOption(x, x.Email)).ToList()"
                         Value="@AdminSelectOption.CreateInList(EditCouponDto.Coupon.Referee, EditCouponDto.Coupon.Referee?.Email)"
                         ValueChanged="@((value) => EditCouponDto.Coupon.Country = value.FirstOrDefault()?.GetValueAs<CountryDto>())" />
            <AdminInput Label="Recipient"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCouponDto.Coupon.Recipient"
                        @bind-Value:event="OnChange" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Validity conditions">
            <AdminInput Label="Expiration Date"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Type="date"
                        @bind-Value="@EditCouponDto.Coupon.ExpirationDate"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Validity Times"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Type="number"
                        @bind-Value="@EditCouponDto.Coupon.ValidityTimes"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Categories"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         AllowMultipleValues="true"
                         Options="@EditCouponDto.AllCategories.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         Value="@EditCouponDto.Coupon.Categories.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditCouponDto.Coupon.Categories = value.Select(x => x.GetValueAs<CategoryDto>()).ToList())" />
            <AdminInput Label="Note"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCouponDto.Coupon.Note"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Apply to products on sale"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Type="checkbox"
                        @bind-Value="@EditCouponDto.Coupon.AllowOnSale"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Published"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Type="checkbox"
                        @bind-Value="@EditCouponDto.Coupon.Published"
                        @bind-Value:event="OnChange" />
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code
{
    [Parameter]
    public Guid? Id { get; set; }

    private EditCouponDto EditCouponDto;

    private CouponType SelectedCouponType = CouponType.Percentage;

    private List<CouponType> CouponTypes = Enum.GetValues(typeof(CouponType)).Cast<CouponType>().ToList();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditCouponDto = await HiroHttpClient.PostAsync<EditCouponDto>(HiroAdminApiRoutes.AdminCouponEdit, new { CouponId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCouponAddOrUpdate, null,
            new
            {
                Coupon = EditCouponDto.Coupon,
                Quantity = EditCouponDto.Quantity
            });

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }


    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteCouponAsync;
    }

    private async Task DeleteCouponAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCouponDelete, new { CouponId = Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminCoupons, new { this.CountryUrl });
        }
    }

    private void HandleCountryChange(List<AdminSelectOption> value)
    {
        EditCouponDto.Coupon.Country = value.FirstOrDefault()?.GetValueAs<CountryDto>();

        if (EditCouponDto.Coupon.Country == null)
        {
            SelectedCouponType = CouponType.Percentage;
            EditCouponDto.Coupon.Amount = 0;
        }
    }

    private enum CouponType
    {
        Percentage,
        Amount
    }

}
