﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminProductImageKits)]
@attribute [Route(HiroAdminRoutes.AdminProductImageKits)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Edit Product Images for @EditProductImageKitsDto.ProductTitle
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProducts, new { this.CountryUrl })" />
        <AdminDropdown Class="@Css.admin_dropdown_style_1" 
                       Text="Edit" 
                       IconClass="@Css.admin_icon_triangle_down">
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductId, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product Attributes"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductAttributes, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product Variants"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductVariants, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product Images"
                               IsDisabled="true"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductImageKits, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product Stock"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductStockUnits, new {  this.CountryUrl, Id })" />
        </AdminDropdown>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@(async() => await HandleSaveClickAsync())" />
    </TopBarControls>
    <Content>
        @foreach (var productImageKit in EditProductImageKitsDto.ProductImageKits)
        {
            var variantOption = productImageKit.VariantOptions.First();

            <AdminCard Class="@Css.admin_card_style_1" Title="@($"{variantOption.Variant.LocalizedTitle}: {variantOption.LocalizedTitle}")">
                <Controls>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Add Image"
                                 OnClick="@(() => productImageKit.ProductImages.Add(new ProductImageDto()))" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Delete All"
                                 OnClick="@(() => productImageKit.ProductImages.ForEach(x => x.IsDeleted = true))" />
                </Controls>
                <ChildContent>
                    <AdminTable Class="@Css.admin_table_style_1"
                                Data="@productImageKit.ProductImages.Where(x => !x.IsDeleted.GetValueOrDefault()).ToList()">
                        <Header>
                            <th>
                                Preview
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Url
                            </th>
                            <th>
                            </th>
                        </Header>
                        <RowTemplate Context="image">
                            <td>
                            </td>
                            <td>
                                <AdminInput Class="@Css.admin_input_style_1"
                                            @bind-Value="@image.Name"
                                            @bind-Value:event="OnChange" />
                            </td>
                            <td>
                                <AdminFilePicker Class="@Css.admin_file_picker_style_1" 
                                                 @bind-Value="@image.Url" />
                            </td>
                            <td>
                                <AdminButton Class="@Css.admin_button_style_1"
                                             IconClass="@Css.admin_icon_trash"
                                             OnClick="@(() => { image.IsDeleted = true; })" />
                            </td>
                        </RowTemplate>
                    </AdminTable>
                </ChildContent>
            </AdminCard>
        }
    </Content>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public EditProductImageKitsDto EditProductImageKitsDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditProductImageKitsDto = await HiroHttpClient.PostAsync<EditProductImageKitsDto>(HiroAdminApiRoutes.AdminProductEditProductImageKits, new
        {
            ProductId = Id
        }, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminProductAddOrUpdateProductImageKits, null, EditProductImageKitsDto);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

}
