﻿@inherits AdminPageComponentBase
@inject AdminAuthenticationState AdminAuthenticationState
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Route(HiroAdminRoutes.CountryUrlAdminAuthentication)]
@attribute [Route(HiroAdminRoutes.AdminAuthentication)]

<div class="@Css.admin_authentication">
    <div class="@Css.admin_authentication_container">
        @if (FormIndex == AuthenticationFormIndex.Password)
        {
            <AdminButton OnClick="@HandleBackClick"
                         IconClass="fas fa-arrow-left"
                         Text="Back"
                         Class="@String.Join(" ",
                                        Css.admin_button_style_1,
                                        Css.admin_authentication_back_button)" />
        }
        <div class="@Css.admin_authentication_content">
            <h1>
                Sign in
            </h1>
            <div class="@Css.admin_authentication_form">
                <div class="@string.Join(" ",
                              Css.admin_authentication_form_email_step,
                              FormIndex == AuthenticationFormIndex.Email ? Css.admin_authentication_form_active_step : "")">
                    <AdminInput Class="@String.Join(" ",
                                                Css.admin_input_style_2,
                                                Css.admin_form_line)"
                                Label="Email Address"
                                LabelClass="@Css.admin_label_style_2"
                                OnKeyDown="@HandleEnterClick"
                                ErrorMessage="@GetEmailIsRegisteredFormResponseError()"
                                @bind-Value="@Email"
                                @bind-Value:event="OnInput" />
                    <AdminButton Text="Next"
                                 OnClick="@HandleNextClick"
                                 Class="@Css.admin_button_style_2"
                                 IsLoading="@AdminSessionState.IsLoading" />
                </div>
                <div class="@string.Join(" ",
                              Css.admin_authentication_form_password_step,
                              FormIndex == AuthenticationFormIndex.Password ? Css.admin_authentication_form_active_step : "")">
                    <div class="@Css.admin_authentication_form_email_badge">
                        <span>
                            <i class="@Css.admin_icon_user"></i>
                            <span>
                                @Email
                            </span>
                        </span>
                    </div>
                    @{
                        var errors = AuthenticateUserOperationResult?.Errors.Where(x => x.PropertyName == null).ToList();

                        if (errors?.Count > 0)
                        {
                            <ul class="@Css.admin_authentication_error_list">
                                @foreach (var error in errors)
                                {
                                    <li>@error.Message</li>
                                }
                            </ul>
                        }
                    }
                    <AdminInput Class="@String.Join(" ",
                                                Css.admin_input_style_2,
                                                Css.admin_form_line)"
                                ErrorMessage="@AuthenticateUserOperationResult?.GetErrorMessageFor(nameof(Password))"
                                Type="password"
                                @bind-Value="@Password"
                                @bind-Value:event="OnInput"
                                OnKeyDown="@HandleEnterClick"
                                Label="Password"
                                LabelClass="@Css.admin_label_style_2" />
                    <a class="@Css.admin_authentication_form_forgot_password_link" href="#">
                        Forgot Password?
                    </a>
                    <AdminButton Text="Sign In"
                                 OnClick="@HandleSignInClick"
                                 Class="@Css.admin_button_style_2"
                                 IsLoading="@AdminSessionState.IsLoading" />
                </div>
            </div>
            <p class="@Css.admin_authentication_footer">
                Don't have an account?
                <AdminButton Text="Sign Up" OnClick="@HandleSignUpClick" />
            </p>
        </div>
    </div>
</div>


@code{

    private string Email { get; set; }

    private string Password { get; set; }

    private AuthenticationFormIndex FormIndex { get; set; }

    private OperationResult<bool> EmailIsRegisteredOperationResult { get; set; }

    private OperationResult<string> AuthenticateUserOperationResult { get; set; }

    private enum AuthenticationFormIndex
    {
        Email = 0,
        Password = 1
    }

    protected override void OnInitialized()
    {
        Email = AdminAuthenticationState.Email;
    }

    private string GetEmailIsRegisteredFormResponseError()
    {
        if (EmailIsRegisteredOperationResult != null && !EmailIsRegisteredOperationResult.Data)
        {
            return "Couldn't find your account";
        }

        return null;
    }

    private void HandleSignUpClick()
    {
        AdminAuthenticationState.Email = Email;

        NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminRegistration, new { this.CountryUrl });
    }

    private async Task HandleNextClick()
    {
        AdminSessionState.IsLoading = true;

        EmailIsRegisteredOperationResult = await HiroHttpClient.PostAsync<OperationResult<bool>>(HiroAdminApiRoutes.AccountEmailIsRegistered, new
        {
            email = Email
        }, null);

        if (EmailIsRegisteredOperationResult.Errors.Any() || !EmailIsRegisteredOperationResult.Data)
        {
            AdminSessionState.IsLoading = false;
        }
        else
        {
            FormIndex = AuthenticationFormIndex.Password;

            AdminSessionState.IsLoading = false;
        }
    }

    private async Task HandleSignInClick()
    {
        AdminSessionState.IsLoading = true;

        AuthenticateUserOperationResult = await HiroHttpClient.PostAsync<OperationResult<string>>(
            HiroAdminApiRoutes.AccountAuthenticateUser,
            new
            {
                Email,
                Password
            },
            null);

        if (!AuthenticateUserOperationResult.Errors.Any())
        {
            await (this.AuthenticationStateProvider as JwtAuthenticationStateProvider).SignInAsync(AuthenticateUserOperationResult.Data);

            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminNotifications, new { this.CountryUrl });
        }

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleEnterClick(KeyboardEventArgs args)
    {
        if (args.Key == KeyboardKeys.Enter)
        {
            if (FormIndex == AuthenticationFormIndex.Email)
            {
                await HandleNextClick();
            }
            else if (FormIndex == AuthenticationFormIndex.Password)
            {
                await HandleSignInClick();
            }
        }
    }

    void HandleBackClick()
    {
        FormIndex = AuthenticationFormIndex.Email;
    }
}
