﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminBlogPostId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminBlogPost)]
@attribute [Route(HiroAdminRoutes.AdminBlogPostId)]
@attribute [Route(HiroAdminRoutes.AdminBlogPost)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Blog Post
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminBlogPosts, new { this.CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminButton Text="Delete"
                         Class="@Css.admin_button_style_1"
                         OnClick="@HandleDeleteClick" />
            <AdminButton Text="Show Preview"
                         Class="@Css.admin_button_style_1"
                         Target="_blank"
                         Href="@EditPostDto.PostPreviewLink" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Global Properties">
            <AdminTextArea Label="Post Title"
                           LabelClass="@Css.admin_label_style_1"
                           Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                           @bind-Value="@EditPostDto.BlogPost.Title"
                           @bind-Value:event="OnChange" />
            <AdminInput Label="Custom Url"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Url is used to represent an entity in the URL."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditPostDto.BlogPost.Url"
                        @bind-Value:event="OnChange" />
            <AdminFilePicker Label="Featured Image"
                             Class="@String.Join(" ",
                                              Css.admin_file_picker_style_1,
                                              Css.admin_form_line)"
                             @bind-Value="@EditPostDto.BlogPost.FeaturedImage" />
            <AdminSelect Label="Vertical Crop"
                         LabelClass="@Css.admin_label_style_1"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditPostDto.BlogPost.FeaturedImageVerticalCrop)"
                         Options="@(VerticalImageCropOptions.Select(x => new AdminSelectOption(x)).ToList())"
                         ValueChanged="@((value) => EditPostDto.BlogPost.FeaturedImageVerticalCrop = value.FirstOrDefault()?.ToString())" />
            <AdminSelect Label="Horizontal Crop"
                         LabelClass="@Css.admin_label_style_1"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditPostDto.BlogPost.FeaturedImageHorizontalCrop)"
                         Options="@(HorizontalImageCropOptions.Select(x => new AdminSelectOption(x)).ToList())"
                         ValueChanged="@((value) => EditPostDto.BlogPost.FeaturedImageHorizontalCrop = value.FirstOrDefault()?.ToString())" />
            <AdminTextArea Label="Content"
                           LabelClass="@Css.admin_label_style_1"
                           Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                           @bind-Value="@EditPostDto.BlogPost.Content"
                           @bind-Value:event="OnChange" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminInput Label="Published"
                        LabelClass="@Css.admin_label_style_1"
                        Type="checkbox"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditPostDto.BlogPost.IsPublished"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Date"
                        LabelClass="@Css.admin_label_style_1"
                        Type="date"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditPostDto.BlogPost.PublicationDate"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Author"
                         LabelClass="@Css.admin_label_style_1"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Options="@EditPostDto.Users.Select(x => new AdminSelectOption(x, x.FullName)).ToList()"
                         Value="@AdminSelectOption.CreateInList(EditPostDto.BlogPost.Author, EditPostDto.BlogPost.Author?.FullName)"
                         ValueChanged="@((value) => EditPostDto.BlogPost.Author = value.FirstOrDefault()?.GetValueAs<UserDto>())" />
            <AdminTextArea Label="Excerpt"
                           LabelClass="@Css.admin_label_style_1"
                           Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                           @bind-Value="@EditPostDto.BlogPost.Excerpt"
                           @bind-Value:event="OnChange" />
            <AdminTextArea Label="SEO Title"
                           LabelClass="@Css.admin_label_style_1"
                           Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                           @bind-Value="@EditPostDto.BlogPost.MetaTitle"
                           @bind-Value:event="OnChange" />
            <AdminTextArea Label="SEO Description"
                           LabelClass="@Css.admin_label_style_1"
                           Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                           @bind-Value="@EditPostDto.BlogPost.MetaDescription"
                           @bind-Value:event="OnChange" />
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="Categories">
            <AdminSelect Label="Available Categories"
                         LabelClass="@Css.admin_label_style_1"
                         AllowMultipleValues="true"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Options="@EditPostDto.AllBlogCategories.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         Value="@EditPostDto.BlogPost.BlogCategories.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                         ValueChanged="@((value) => EditPostDto.BlogPost.BlogCategories = value.Select(x => x.GetValueAs<BlogCategoryDto>()).ToList())" />
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private EditBlogPostDto EditPostDto;

    private List<string> VerticalImageCropOptions = new List<string>
{
        "Top",
        "Middle - top",
        "Middle",
        "Middle - bottom",
        "Bottom"
    };

    private List<string> HorizontalImageCropOptions = new List<string>
{
        "Left",
        "Middle - left",
        "Middle",
        "Middle - right",
        "Right"
    };

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditPostDto = await HiroHttpClient.PostAsync<EditBlogPostDto>(HiroAdminApiRoutes.AdminPostsEdit, new { PostId = Id }, null);

        if (EditPostDto.BlogPost.Author != null)
        {
            EditPostDto.BlogPost.Author = EditPostDto.Users.FirstOrDefault(x => x.Id == EditPostDto.BlogPost.Author.Id);
        }

        EditPostDto.BlogPost.BlogCategories = EditPostDto.BlogPost.BlogCategories.Select((category) =>
        {
            return EditPostDto.AllBlogCategories.First(x => x.Id == category.Id);
        }).ToList();

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminPostsDelete, new { PostId = Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminBlogPosts, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminPostsAddOrUpdate, null, EditPostDto.BlogPost);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }
}
