﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminMedia)]
@attribute [Route(HiroAdminRoutes.AdminMedia)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Media
    </TopBarTitle>
    <TopBarControls>
        @if (!MediaDirectory.IsRoot)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Back"
                         IconClass="@Css.admin_icon_chevron_thin_left"
                         OnClick="@HandleBackClick" />
        }
        <AdminInput Class="@Css.admin_input_style_1"
                    @bind-Value="@SearchQuery"
                    @bind-Value:event="OnChange" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Search"
                     OnClick="@HandleSearchClickAsync" />
        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                       Text="Bulk Edit"
                       IsDisabled="@(SelectedFiles.Count == 0)"
                       IconClass="@Css.admin_icon_triangle_down">
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Delete"
                               OnClick="@(() => HandleDeleteFileClick())" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Resize"
                               OnClick="@(() => HandleResizeFileClick() )" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Rename"
                               OnClick="@(() => HandleRenameFileClick() )" />
        </AdminDropdown>
        <InputFile multiple
                   OnChange="@HandleUploadFilesClickAsync"
                   accept="image/*,application/pdf,text/plain,video/mp4" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="New Folder"
                     OnClick="@(() => ShowNewFolderModal = true)" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <h2 class="@Css.admin_media_page_media_table_title">@MediaTableTitle</h2>
            <AdminTable Data="MediaDirectory.Directories"
                        Class="@String.Join(" ",
                                        Css.admin_table_style_1,
                                        Css.admin_media_page_media_table)">
                <Header>
                    <th>
                        Preview
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Size
                    </th>
                    <th>
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                    </th>
                    <th>
                        <AdminInput Class="@Css.admin_input_style_1"
                                    Label="Select All"
                                    LabelClass="@Css.admin_label_style_1"
                                    Type="checkbox"
                                    TValue="@bool"
                                    Value="@IsAllFilesSelected"
                                    OnChange="@((value) => HandleSelectAllFilesClick(value))" />
                    </th>
                </Header>
                <RowTemplate Context="directory">
                    <td>
                        <a class="@Css.admin_media_page_media_link"
                           @onclick="@(() => HandleDirectoryClick(directory))">
                            <div style="background-image: url(img/folder.png)"
                                 class="@Css.admin_file_picker_directory_image"></div>
                        </a>
                    </td>
                    <td>
                        @directory.Name
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        @directory.CreationTime.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                       Text="Edit"
                                       IconClass="@Css.admin_icon_triangle_down">
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Delete"
                                               OnClick="@(() => HandleDeleteFolderClick(directory))" />
                        </AdminDropdown>
                    </td>
                    <td>
                    </td>
                </RowTemplate>
            </AdminTable>
            <AdminTable Data="MediaDirectory.Files"
                        Class="@String.Join(" ",
                                        Css.admin_table_style_1,
                                        Css.admin_media_page_media_table)">
                <RowTemplate Context="file">
                    <td>
                        <a class="@Css.admin_media_page_media_link"
                           href="@file.AbsolutePath"
                           target="_blank">
                            <AdminMediaThumbnail Class="@Css.admin_media_thumbnail_style_1"
                                                 MediaFile="@file" />
                        </a>
                    </td>
                    <td>
                        @(String.Join("", file.Name, file.Extension))
                    </td>
                    <td>
                        @(file.Size / 1024) KB
                    </td>
                    <td>
                        @if (file.Extension != ".pdf" && (file.Size / 1024 > file.HeavyLoadingFileSize))
                        {
                            <span>Heavy Loading</span>
                        }
                    </td>
                    <td>
                        @file.CreationTime.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                       Text="Edit"
                                       IconClass="@Css.admin_icon_triangle_down">
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Rename"
                                               OnClick="@(() => HandleRenameFileClick(file))" />
                            @if (file.Extension.ContainsCaseInsensitive(".jpg") || file.Extension.ContainsCaseInsensitive(".jpeg"))
                            {
                                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                   Text="Resize"
                                                   OnClick="@(() => HandleResizeFileClick(file))" />
                            }
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Delete"
                                               OnClick="@(() => HandleDeleteFileClick(file))" />
                        </AdminDropdown>
                    </td>
                    <td>
                        <AdminInput Class="@Css.admin_input_style_1"
                                    TValue="@bool"
                                    OnChange="@((value) => HandleSelectFileClick(value, file))"
                                    Value="@(SelectedFiles.Any(selectedFile => string.Equals(file.Name, selectedFile.Name)))"
                                    Type="checkbox" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
        @if (ShowNewFolderModal)
        {
            <AdminModal Class="@Css.admin_modal_style_1"
                        OnOverlayClick="@(() => ShowNewFolderModal = false)">
                <Header>
                    Create a new Folder
                </Header>
                <Body>
                    <AdminInput Label="New Folder Name"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@Css.admin_input_style_1"
                                @bind-Value="NewFolderName"
                                @bind-Value:event="OnChange" />
                </Body>
                <Footer>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Save"
                                 OnClick="@HandleAddNewFolderClickAsync" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Cancel"
                                 OnClick="@(() => ShowNewFolderModal = false)" />
                </Footer>
            </AdminModal>
        }
        @if (ShowRenameFileModal)
        {
            <AdminModal Class="@Css.admin_modal_style_1"
                        OnOverlayClick="@(() => ShowRenameFileModal = false)">
                <Header>
                    Rename file
                </Header>
                <Body>
                    <AdminInput Label="New File Name"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@Css.admin_input_style_1"
                                @bind-Value="@NewFileName"
                                @bind-Value:event="OnChange" />
                </Body>
                <Footer>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Save"
                                 OnClick="@RenameFileAsync" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Cancel"
                                 OnClick="@(() => ShowRenameFileModal = false)" />
                </Footer>
            </AdminModal>
        }
        @if (ShowBulkRenameFilesModal)
        {
            <AdminModal Class="@Css.admin_modal_style_1"
                        OnOverlayClick="@(() => ShowBulkRenameFilesModal = false)">
                <Header>
                    Bulk Rename Files
                </Header>
                <Body>
                    <AdminInput Label="Text To Replace"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@BatchRenameFilesDto.ReplaceText"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Replace Text With"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@BatchRenameFilesDto.ReplaceTextTarget"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Add Prefix"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@BatchRenameFilesDto.PrefixText"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Add Suffix"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@BatchRenameFilesDto.SuffixText"
                                @bind-Value:event="OnChange" />
                </Body>
                <Footer>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Save"
                                 OnClick="@HandleBulkRenameFilesClickAsync" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Cancel"
                                 OnClick="@(() => ShowBulkRenameFilesModal = false)" />
                </Footer>
            </AdminModal>
        }
        @if (ShowResizeFileModal)
        {
            <AdminModal Class="@Css.admin_modal_style_1"
                        OnOverlayClick="@(() => ShowResizeFileModal = false)">
                <Header>
                    @((SelectedFiles.Count > 1) ? "Resize Files" : "Resize File")
                </Header>
                <Body>
                    <AdminInput Label="Size"
                                LabelClass="@Css.admin_label_style_1"
                                Type="number"
                                Min="1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@ResizeFileDto.Width"
                                @bind-Value:event="OnChange" />

                    <AdminSelect Label="Quality"
                                 Options="@(Enum.GetValues(typeof(ResizeFilesQualityOptions)).Cast<ResizeFilesQualityOptions>().Select(option => new AdminSelectOption(option)).ToList())"
                                 Value="@AdminSelectOption.CreateInList((ResizeFilesQualityOptions)ResizeFileDto.Compression)"
                                 ValueChanged="@((value) => ResizeFileDto.Compression = (int)value.FirstOrDefault()?.Value)"
                                 Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)" />

                    <AdminInput Label="Keep the original file and save a new image"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@Css.admin_input_style_1"
                                Type="checkbox"
                                @bind-Value="@ResizeFileDto.KeepOriginal"
                                @bind-Value:event="OnChange" />
                </Body>
                <Footer>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Resize"
                                 OnClick="@ResizeFileAsync" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Cancel"
                                 OnClick="@(() => ShowResizeFileModal = false)" />
                </Footer>
            </AdminModal>
        }
    </Content>
</AdminPageTemplate>

@code {

    private string SearchQuery = "";

    private string LocalPath;

    private string MediaTableTitle;

    private MediaDirectory MediaDirectory;

    private string NewFolderName;

    private bool ShowNewFolderModal;

    private MediaFile FileToRename;

    private string NewFileName;

    private bool ShowRenameFileModal;

    private bool IsAllFilesSelected;

    private List<MediaFile> SelectedFiles = new List<MediaFile>();

    private bool ShowBulkRenameFilesModal;

    private BatchRenameFilesDto BatchRenameFilesDto = new BatchRenameFilesDto();

    private bool ShowResizeFileModal;

    private ResizeFileDto ResizeFileDto = new ResizeFileDto();

    private enum ResizeFilesQualityOptions
    {
        Minimum = 50,
        Low = 60,
        Medium = 70,
        High = 80,
        Maximum = 90
    }

    protected override async Task OnInitializedAsync()
    {

        this.AdminSessionState.IsLoading = true;

        await FetchDirectoriesAsync();

        this.AdminSessionState.IsLoading = false;
    }

    private void HandleDirectoryClick(MediaDirectory directory)
    {
        NavigationManager.NavigateToBlazorRoute($"{HiroAdminRoutes.CountryUrlAdminMedia}?localPath={directory.LocalPath}", new { this.CountryUrl }, true);
    }

    private void HandleBackClick()
    {
        NavigationManager.NavigateToBlazorRoute($"{HiroAdminRoutes.CountryUrlAdminMedia}?localPath={MediaDirectory.Parent.LocalPath}", new { this.CountryUrl }, true);
    }

    private async Task FetchDirectoriesAsync()
    {
        var currentUri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        var localPath = QueryHelpers.ParseQuery(currentUri.Query).GetValueOrDefault("localPath").ToString();

        MediaDirectory = await HiroHttpClient.PostAsync<MediaDirectory>(HiroAdminApiRoutes.AdminMediaIndexJson, new
        {
            keywordFilter = SearchQuery,
            localPath = localPath
        }, null);

        MediaTableTitle = string.IsNullOrEmpty(SearchQuery) ? MediaDirectory.LocalPath : $"Files/Folders matching '{SearchQuery}' in '{MediaDirectory.LocalPath}' and its sub-directories";

        LocalPath = MediaDirectory.LocalPath;

    }

    private async Task HandleSearchClickAsync()
    {
        this.AdminSessionState.IsLoading = true;

        await FetchDirectoriesAsync();

        this.AdminSessionState.IsLoading = false;
    }

    private void HandleSelectAllFilesClick(bool value)
    {
        IsAllFilesSelected = value;

        SelectedFiles = value ? MediaDirectory.Files : new List<MediaFile>();

    }

    private void HandleSelectFileClick(bool isSelected, MediaFile selectedFile)
    {
        if (isSelected)
        {
            SelectedFiles.Add(selectedFile);
        }
        else
        {
            SelectedFiles = SelectedFiles.Where(file => !string.Equals(file.Name, selectedFile.Name)).ToList();

            IsAllFilesSelected = false;
        }
    }

    private async Task HandleAddNewFolderClickAsync()
    {
        this.AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMediaNewDirectoryForm, null, new
        {
            name = NewFolderName,
            localPath = LocalPath
        });

        ShowNewFolderModal = false;

        this.AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            // NavigationManager.NavigateToRoute(operationResult.RedirectUrl, true);
        }

    }

    private void HandleDeleteFolderClick(MediaDirectory directory)
    {
        this.AdminSessionState.ConfirmationModalTask = async () => await DeleteFolderAsync(directory);

        this.AdminSessionState.ShowConfirmationModal = true;
    }

    private async Task DeleteFolderAsync(MediaDirectory directoryToDelete)
    {
        this.AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMediaDeleteDirectoryForm, null, new
        {
            localPath = directoryToDelete.LocalPath
        });

        this.AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            this.AdminSessionState.ShowConfirmationModal = false;

            await FetchDirectoriesAsync();

            ShowOperationResultAlert(operationResult);
        }
    }

    private void HandleRenameFileClick(MediaFile fileToRename = null)
    {
        if (fileToRename != null)
        {
            FileToRename = fileToRename;

            NewFileName = fileToRename.Name;

            ShowRenameFileModal = true;
        }
        else
        {
            ShowBulkRenameFilesModal = true;
        }

    }

    private async Task RenameFileAsync()
    {
        this.AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMediaRenameFileForm, null, new
        {
            localPath = FileToRename.LocalPath,
            newName = NewFileName
        });

        this.AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            await FetchDirectoriesAsync();

            ShowRenameFileModal = false;

            ShowOperationResultAlert(operationResult);
        }
    }

    private async Task HandleBulkRenameFilesClickAsync()
    {
        this.AdminSessionState.IsLoading = true;

        BatchRenameFilesDto.DirectoryLocalPath = LocalPath;

        BatchRenameFilesDto.LocalPaths = SelectedFiles.Select(file => file.LocalPath).ToList();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMediaBatchRenameFiles, null, BatchRenameFilesDto);

        this.AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            await FetchDirectoriesAsync();

            ShowBulkRenameFilesModal = false;

            BatchRenameFilesDto = new BatchRenameFilesDto();

            SelectedFiles = new List<MediaFile>();

            ShowOperationResultAlert(operationResult);
        }
    }

    private void HandleDeleteFileClick(MediaFile fileToDelete = null)
    {
        if (fileToDelete != null)
        {
            SelectedFiles = new List<MediaFile>();

            SelectedFiles.Add(fileToDelete);
        }

        this.AdminSessionState.ConfirmationModalTask = async () => await DeleteFileAsync();

        this.AdminSessionState.ShowConfirmationModal = true;
    }

    private async Task DeleteFileAsync()
    {
        this.AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMediaDeleteFilesForm, null, new
        {
            localPaths = SelectedFiles.Select(file => file.LocalPath).ToList()
        });

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            this.AdminSessionState.ShowConfirmationModal = false;

            await FetchDirectoriesAsync();

            SelectedFiles = new List<MediaFile>();

            ShowOperationResultAlert(operationResult);
        }

        IsAllFilesSelected = false;

        this.AdminSessionState.IsLoading = false;
    }

    private void HandleResizeFileClick(MediaFile fileToResize = null)
    {
        if (fileToResize != null)
        {
            SelectedFiles = new List<MediaFile>();

            SelectedFiles.Add(fileToResize);
        }

        ShowResizeFileModal = true;
    }

    private async Task ResizeFileAsync()
    {
        this.AdminSessionState.IsLoading = true;

        ResizeFileDto.Destination = LocalPath;

        ResizeFileDto.LocalPaths = SelectedFiles.Where(file => file.Extension.ContainsCaseInsensitive(".jpg") || file.Extension.ContainsCaseInsensitive(".jpeg")).Select(file => file.LocalPath).ToList();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMediaResizeFilesForm, null, ResizeFileDto);

        this.AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            await FetchDirectoriesAsync();

            ShowResizeFileModal = false;

            ResizeFileDto = new ResizeFileDto();

            SelectedFiles = new List<MediaFile>();

            ShowOperationResultAlert(operationResult);
        }
    }

    private async Task HandleUploadFilesClickAsync(IFileListEntry[] files)
    {

        using var formData = new MultipartFormDataContent
{
           { new StringContent(LocalPath), "directoryFullName" }
        };

        foreach (var file in files)
        {

            using var memoryStream = new System.IO.MemoryStream();

            await file.Data.CopyToAsync(memoryStream);

            formData.Add(new ByteArrayContent(memoryStream.GetBuffer()), "\"files\"", file.Name);
        }

        this.AdminSessionState.IsLoading = true;

        StateHasChanged();

        var maxFileSize = 100 * 1024 * 1024;

        var totalSize = files.Select(file => file.Size).ToList().Sum();

        var operationResult = new OperationResult();

        if (totalSize > maxFileSize)
        {
            this.AdminSessionState.IsLoading = false;

            operationResult.AddError("The files you're trying to upload exceed the maximum upload size (100 MB)");

            ShowOperationResultAlert(operationResult);

            return;
        }

        operationResult = await HiroHttpClient.PostFilesAsync(formData);

        await FetchDirectoriesAsync();

        this.AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }
}
