﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminAttributes)]
@attribute [Route(HiroAdminRoutes.AdminAttributes)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Attributes
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Text="Create new attribute"
                     Class="@Css.admin_button_style_1"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminAttribute, new { this.CountryUrl })" />
        <AdminButton Text="Save"
                     Class="@Css.admin_button_style_1"
                     IsDisabled="@(!AdminSessionState.ContainsUnsavedChanges)"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@AttributeList.Attributes"
                        AllowSorting="@true"
                        OnDataSorted="@(() => AdminSessionState.ContainsUnsavedChanges = true)">
                <Header>
                    <th>
                        Sort Order
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="attr">
                    <td>
                        @attr.SortOrder
                    </td>
                    <td>
                        @attr.Name
                    </td>
                    <td>
                        @attr.LocalizedTitle
                    </td>
                    <td>
                        @attr.Type
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminAttributeId, new { this.CountryUrl, Id = attr.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    private AttributeListDto AttributeList = new AttributeListDto();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        AttributeList = await HiroHttpClient.PostAsync<AttributeListDto>(HiroAdminApiRoutes.AdminAttributeIndex, null, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminAttributeUpdateSortOrder, null, AttributeList.Attributes);

        AttributeList = await HiroHttpClient.PostAsync<AttributeListDto>(HiroAdminApiRoutes.AdminAttributeIndex, null, null);

        AdminSessionState.IsLoading = false;

        AdminSessionState.ContainsUnsavedChanges = false;

        ShowOperationResultAlert(operationResult);
    }
}
