﻿@inherits AdminPageComponentBase
@inject AdminAuthenticationState AdminAuthenticationState
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Route(HiroAdminRoutes.CountryUrlAdminRegistration)]
@attribute [Route(HiroAdminRoutes.AdminRegistration)]

<div class="@Css.admin_registration">
    <div class="@Css.admin_registration_container">
        <div class="@Css.admin_registration_content">
            <h1>
                Register
            </h1>
            @{
                var errors = RegisterUserOperationResult?.Errors.Where(x => x.PropertyName == null).ToList();

                if (errors?.Count > 0)
                {
                    <ul class="@Css.admin_authentication_error_list">
                        @foreach (var error in errors)
                        {
                            <li>@error.Message</li>
                        }
                    </ul>
                }
            }
            <div class="@Css.admin_registration_form">
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_2,
                                        Css.admin_form_line)"
                            ErrorMessage="@RegisterUserOperationResult?.GetErrorMessageFor(nameof(FirstName))"
                            @bind-Value="@FirstName"
                            @bind-Value:event="OnChange"
                            OnKeyDown="@HandleEnterClick"
                            Label="First Name"
                            LabelClass="@Css.admin_label_style_2" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_2,
                                        Css.admin_form_line)"
                            ErrorMessage="@RegisterUserOperationResult?.GetErrorMessageFor(nameof(LastName))"
                            @bind-Value="@LastName"
                            @bind-Value:event="OnChange"
                            OnKeyDown="@HandleEnterClick"
                            Label="Last Name"
                            LabelClass="@Css.admin_label_style_2" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_2,
                                        Css.admin_form_line)"
                            ErrorMessage="@RegisterUserOperationResult?.GetErrorMessageFor(nameof(Email))"
                            Type="email"
                            @bind-Value="@Email"
                            @bind-Value:event="OnChange"
                            OnKeyDown="@HandleEnterClick"
                            Label="Email Address"
                            LabelClass="@Css.admin_label_style_2" />
                <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_2,
                                        Css.admin_form_line)"
                            ErrorMessage="@RegisterUserOperationResult?.GetErrorMessageFor(nameof(Password))"
                            Type="password"
                            @bind-Value="@Password"
                            @bind-Value:event="OnChange"
                            OnKeyDown="@HandleEnterClick"
                            Label="Password"
                            LabelClass="@Css.admin_label_style_2" />
                <AdminButton Class="@Css.admin_button_style_2"
                             Text="Register"
                             OnClick="@HandleRegisterClick"
                             IsLoading="@AdminSessionState.IsLoading" />
            </div>
            <p class="@Css.admin_registration_footer">
                Already have an account?
                <a href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminAuthentication, new { this.CountryUrl })">
                    Sign in
                </a>
            </p>
        </div>
    </div>
</div>

@code
{
    private string Email { get; set; }

    private string FirstName { get; set; }

    private string LastName { get; set; }

    private string Password { get; set; }

    private OperationResult<string> RegisterUserOperationResult { get; set; }

    protected override void OnInitialized()
    {
        Email = AdminAuthenticationState.Email;
    }

    async Task HandleRegisterClick()
    {
        AdminSessionState.IsLoading = true;

        RegisterUserOperationResult = await HiroHttpClient.PostAsync<OperationResult<string>>(HiroAdminApiRoutes.AccountRegisterUser, new
        {
            email = Email,
            firstName = FirstName,
            lastName = LastName,
            password = Password
        }, null);

        AdminSessionState.IsLoading = false;

        if (!RegisterUserOperationResult.Errors.Any())
        {
            await (this.AuthenticationStateProvider as JwtAuthenticationStateProvider).SignInAsync(RegisterUserOperationResult.Data);

            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminNotifications, new { this.CountryUrl });
        }
    }

    private async Task HandleEnterClick(KeyboardEventArgs args)
    {
        if (args.Key == KeyboardKeys.Enter)
        {
            await HandleRegisterClick();
        }
    }
}
