﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminBlogPosts)]
@attribute [Route(HiroAdminRoutes.AdminBlogPosts)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Posts
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create New Post"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminBlogPost, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@BlogPostList.BlogPosts">
                <Header>
                    <th>
                        Title
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Published
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="post">
                    <td>
                        @post.Title
                    </td>
                    <td>
                        @post.CreatedDate.Value.ToShortDateString()
                    </td>
                    <td>
                        @post.Author.FullName
                    </td>
                    <td>
                        @if (post.IsPublished)
                        {
                            <span class="@Css.admin_icon_checkbox_checked"></span>
                        }
                        else
                        {
                            <span class="@Css.admin_icon_checkbox_unchecked"></span>
                        }
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminBlogPostId, new { this.CountryUrl, Id = post.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    private BlogPostListDto BlogPostList = new BlogPostListDto();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        BlogPostList = await HiroHttpClient.PostAsync<BlogPostListDto>(HiroAdminApiRoutes.AdminPostsIndex, null, null);

        AdminSessionState.IsLoading = false;
    }
}
