﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminVariantId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminVariant)]
@attribute [Route(HiroAdminRoutes.AdminVariantId)]
@attribute [Route(HiroAdminRoutes.AdminVariant)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Variant
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminVariants, new { this.CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Add Option" Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminVariantOption, new { this.CountryUrl, variantId = EditVariantDto.Variant.Id })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" 
                   Title="Global Properties">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Name is the unique identifier of the entity. It should be written in camelCase, using only numbers and letters."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantDto.Variant.Name"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Url"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Url is used to represent an entity in the URL."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantDto.Variant.Url"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Type"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditVariantDto.Variant.Type)"
                         Options="@(Enum.GetValues(typeof(VariantTypesEnum)).Cast<VariantTypesEnum>().Select(x => new AdminSelectOption(x)).ToList())"
                         ValueChanged="@((value) => EditVariantDto.Variant.Type = value.Any() ? (VariantTypesEnum)value.First().Value : VariantTypesEnum.Boolean)" />
            @switch (EditVariantDto.Variant.Type)
            {
                case VariantTypesEnum.Boolean:
                    {
                        <AdminInput Label="Default Boolean Value"
                                    LabelClass="@Css.admin_label_style_1"
                                    Type="checkbox"
                                    Class="@String.Join(" ",
                                                    Css.admin_input_style_1,
                                                    Css.admin_form_line)"
                                    @bind-Value="@EditVariantDto.Variant.DefaultBooleanValue"
                                    @bind-Value:event="OnChange" />
                        break;
                    }
                case VariantTypesEnum.String:
                    {
                        <AdminTextArea Label="Default String Value"
                                       LabelClass="@Css.admin_label_style_1"
                                       Class="@String.Join(" ",
                                                    Css.admin_textarea_style_1,
                                                    Css.admin_form_line)"
                                       @bind-Value="@EditVariantDto.Variant.DefaultStringValue"
                                       @bind-Value:event="OnChange" />
                        break;
                    }
                case VariantTypesEnum.Integer:
                    {
                        <AdminInput Label="Default Integer Value"
                                    LabelClass="@Css.admin_label_style_1"
                                    Type="number"
                                    Class="@String.Join(" ",
                                                Css.admin_input_style_1,
                                                Css.admin_form_line)"
                                    @bind-Value="@EditVariantDto.Variant.DefaultIntegerValue"
                                    @bind-Value:event="OnChange" />
                        break;
                    }
                case VariantTypesEnum.Json:
                    {
                        <AdminTextArea Label="Default Json Value"
                                       LabelClass="@Css.admin_label_style_1"
                                       Class="@String.Join(" ",
                                                    Css.admin_textarea_style_1,
                                                    Css.admin_form_line)"
                                       @bind-Value="@EditVariantDto.Variant.DefaultJsonValue"
                                       @bind-Value:event="OnChange" />
                        break;
                    }
                case VariantTypesEnum.Double:
                    {
                        <AdminInput Label="Default Double Value"
                                    LabelClass="@Css.admin_label_style_1"
                                    Type="number"
                                    Class="@String.Join(" ",
                                                    Css.admin_input_style_1,
                                                    Css.admin_form_line)"
                                    @bind-Value="@EditVariantDto.Variant.DefaultDoubleValue"
                                    @bind-Value:event="OnChange" />
                        break;
                    }
                case VariantTypesEnum.Options:
                    {
                        <AdminSelect Label="Default Options Value"
                                     Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                                     Value="@AdminSelectOption.CreateInList(EditVariantDto.Variant.DefaultVariantOptionValue, EditVariantDto.Variant.DefaultVariantOptionValue?.LocalizedTitle)"
                                     Options="@EditVariantDto.Variant.VariantOptions.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                                     ValueChanged="@((value) => EditVariantDto.Variant.DefaultVariantOptionValue = value.FirstOrDefault()?.GetValueAs<VariantOptionDto>())" />
                        break;
                    }
            }
            <AdminInput Label="Sort Order"
                        LabelClass="@Css.admin_label_style_1"
                        Type="number"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantDto.Variant.SortOrder"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Create ProdutImageKits"
                        LabelClass="@Css.admin_label_style_1"
                        Type="checkbox"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantDto.Variant.CreateProductImageKits"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Create ProdutStockUnits"
                        LabelClass="@Css.admin_label_style_1"
                        Type="checkbox"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditVariantDto.Variant.CreateProductStockUnits"
                        @bind-Value:event="OnChange" />
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" 
                   Title="Localized Properties">
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="EditVariantDto.Variant.VariantLocalizedKits">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                                    Css.admin_textarea_style_1,
                                                    Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                                    Css.admin_textarea_style_1,
                                                    Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" 
                   Title="Variant Options">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@EditVariantDto.Variant.VariantOptions" AllowSorting="true">
                <Header>
                    <td>Sort Order</td>
                    <td>Name</td>
                    <td>Url</td>
                    <td>Code</td>
                    <td></td>
                </Header>
                <RowTemplate Context="option">
                    <td>@option.SortOrder</td>
                    <td>@option.Name</td>
                    <td>@option.Url</td>
                    <td>@option.Code</td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminVariantOptionId, new { this.CountryUrl, Id = option.Id, variantId = EditVariantDto.Variant.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private EditVariantDto EditVariantDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditVariantDto = await HiroHttpClient.PostAsync<EditVariantDto>(HiroAdminApiRoutes.AdminVariantEdit, new { VariantId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminVariantDelete, new { VariantId = Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.AdminVariants);
        }
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminVariantAddOrUpdate, null, EditVariantDto.Variant);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }
}
