﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminProductAttributes)]
@attribute [Route(HiroAdminRoutes.AdminProductAttributes)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Edit Product Attributes for @EditProductAttributesDto.ProductTitle
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProducts, new { this.CountryUrl })" />
        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                       Text="Edit" 
                       IconClass="@Css.admin_icon_triangle_down">
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductId, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product Attributes"
                               IsDisabled="true"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductAttributes, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product Variants"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductVariants, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product Images"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductImageKits, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                               Text="Product Stock"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductStockUnits, new {  this.CountryUrl, Id })" />
        </AdminDropdown>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@(async() => await HandleSaveClickAsync())" />
    </TopBarControls>
    <ContentColumnLeft>
        @if (ShowEditContentSectionModal)
        {
            <AdminModal Class="@Css.admin_modal_style_1"
                        OnOverlayClick="@(() => { ShowEditContentSectionModal = false; })" Size="@AdminModalSize.Big">
                <Header>
                    @(EditProductAttributesDto.AllContentSections.Any(x => x.Id == SelectedContentSection.Id) ? "Edit" : "Create") Content Section
                </Header>
                <Body>
                    @if (IsContentSectionModalLoading)
                    {
                        <AdminLoading Class="@Css.admin_loading_style_1" />
                    }
                    else
                    {
                        <AdminContentSectionEditor ContentSection="SelectedContentSection" />
                    }
                </Body>
                <Footer>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Save"
                                 OnClick="@(() => HandleSaveContentSectionClickAsync())" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Cancel"
                                 OnClick="@(() => ShowEditContentSectionModal = false)" />
                </Footer>
            </AdminModal>
        }
        <AdminCard Class="@Css.admin_card_style_1" Title="Product Attributes">
            @foreach (var productAttribute in EditProductAttributesDto.ProductAttributes.Where(x => !x.IsDeleted.GetValueOrDefault()))
            {
                <AdminInlineWrapper Class="@String.Join(" ",
                                                Css.admin_inline_wrapper_style_1,
                                                Css.admin_form_line)">
                    <LeftColumn>
                        @switch (productAttribute.Attribute.Type)
                        {
                            case AttributeTypesEnum.Boolean:
                                {
                                    <AdminInput Class="@Css.admin_input_style_1"
                                                Label="@productAttribute.Attribute.Name"
                                                LabelClass="@Css.admin_label_style_1"
                                                Type="checkbox"
                                                @bind-Value="@productAttribute.BooleanValue"
                                                @bind-Value:event="OnChange" />
                                    break;
                                }
                            case AttributeTypesEnum.String:
                                {
                                    <AdminTextArea Class="@Css.admin_textarea_style_1"
                                                   Label="@productAttribute.Attribute.Name"
                                                   LabelClass="@Css.admin_label_style_1"
                                                   @bind-Value="@productAttribute.StringValue"
                                                   @bind-Value:event="OnInput" />
                                    break;
                                }
                            case AttributeTypesEnum.Json:
                                {
                                    <AdminTextArea Class="@Css.admin_textarea_style_1"
                                                   Label="@productAttribute.Attribute.Name"
                                                   LabelClass="@Css.admin_label_style_1"
                                                   @bind-Value="@productAttribute.JsonValue"
                                                   @bind-Value:event="OnInput" />
                                    break;
                                }
                            case AttributeTypesEnum.Double:
                                {
                                    <AdminInput Class="@Css.admin_input_style_1"
                                                Label="@productAttribute.Attribute.Name"
                                                LabelClass="@Css.admin_label_style_1"
                                                Type="number"
                                                @bind-Value="@productAttribute.DoubleValue"
                                                @bind-Value:event="OnInput" />
                                    break;
                                }
                            case AttributeTypesEnum.ContentSection:
                                {
                                    <AdminSelect Class="@Css.admin_select_style_1"
                                                 Label="@productAttribute.Attribute.Name"
                                                 Value="@AdminSelectOption.CreateInList(productAttribute.ContentSectionValue, productAttribute.ContentSectionValue.Name)"
                                                 Options="@EditProductAttributesDto.AllContentSections.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                                                 ValueChanged="@((value) => productAttribute.ContentSectionValue = value.FirstOrDefault()?.GetValueAs<ContentSectionDto>())" />
                                    break;
                                }
                            case AttributeTypesEnum.Options:
                                {
                                    <AdminSelect Class="@Css.admin_select_style_1"
                                                 Label="@productAttribute.Attribute.Name"
                                                 Value="@AdminSelectOption.CreateInList(productAttribute.AttributeOptionValue, productAttribute.AttributeOptionValue.Name)"
                                                 Options="@productAttribute.Attribute.AttributeOptions.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                                                 ValueChanged="@((value) => productAttribute.AttributeOptionValue = value.FirstOrDefault()?.GetValueAs<AttributeOptionDto>())" />
                                    break;
                                }
                        }
                    </LeftColumn>
                    <RightColumn>
                        @if (productAttribute.Attribute.Type == AttributeTypesEnum.ContentSection && productAttribute.ContentSectionValue != null)
                        {
                            <AdminButton Class="@Css.admin_button_style_1"
                                         IconClass="@Css.admin_icon_plus"
                                         OnClick="@(async () => await EditContentSectionAsync(productAttribute))" />
                            <AdminButton Class="@Css.admin_button_style_1"
                                         IconClass="@Css.admin_icon_edit"
                                         OnClick="@(async () => await EditContentSectionAsync(productAttribute, productAttribute.ContentSectionValue.Id))" />
                        }
                        <AdminButton Class="@Css.admin_button_style_1"
                                     IconClass="@Css.admin_icon_trash"
                                     OnClick="@(() => HandleRemoveProductAttributeClick(productAttribute))" />
                    </RightColumn>
                </AdminInlineWrapper>


            }
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Available Variants">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@EditProductAttributesDto.AllAttributes">
                <Header>
                    <td>Name</td>
                    <td>Type</td>
                    <td></td>
                </Header>
                <RowTemplate Context="attribute">
                    <td>@(attribute.Name)</td>
                    <td>@(attribute.Type)</td>
                    <td>
                        @if (!EditProductAttributesDto.ProductAttributes.Any(x => x.Attribute.Id == attribute.Id && x.IsDeleted != false))
                        {
                            <AdminButton Class="@Css.admin_button_style_1"
                                         Text="Add" OnClick="@(() => HandleAddAttributeClick(attribute))" />
                        }
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public EditProductAttributesDto EditProductAttributesDto { get; set; }

    private bool ShowEditContentSectionModal;

    private bool IsContentSectionModalLoading;

    private ContentSectionDto SelectedContentSection;

    private ProductAttributeDto SelectedProductAttribute;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditProductAttributesDto = await HiroHttpClient.PostAsync<EditProductAttributesDto>(
            HiroAdminApiRoutes.AdminProductEditProductAttributes,
            new { ProductId = Id },
            null
        );

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminProductAddOrUpdateProductVariants, null, new
        {
            EditProductAttributesDto.ProductId,
            EditProductAttributesDto.ProductAttributes
        });

        EditProductAttributesDto.ProductAttributes.ForEach(productAttribute =>
        {
            productAttribute.IsNew = false;
        });

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

    private void HandleAddAttributeClick(AttributeDto attribute)
    {
        var existingProductAttribute = EditProductAttributesDto.ProductAttributes.FirstOrDefault(x => x.Attribute.Id == attribute.Id);

        if (existingProductAttribute != null)
        {
            existingProductAttribute.IsDeleted = false;
        }
        else
        {
            EditProductAttributesDto.ProductAttributes.Insert(0, new ProductAttributeDto
            {
                IsNew = true,
                Attribute = attribute,
                Product = new ProductDto
                {
                    Id = EditProductAttributesDto.ProductId,
                    Name = EditProductAttributesDto.ProductTitle
                }
            });
        }
    }

    private void HandleRemoveProductAttributeClick(ProductAttributeDto productAttribute)
    {
        if (productAttribute.IsNew ?? false)
        {
            EditProductAttributesDto.ProductAttributes.Remove(productAttribute);
        }
        else
        {
            productAttribute.IsDeleted = true;
        }
    }

    private async Task EditContentSectionAsync(ProductAttributeDto productAttribute, Guid? contentSectionId = null)
    {
        IsContentSectionModalLoading = true;

        SelectedProductAttribute = productAttribute;

        SelectedContentSection = await HiroHttpClient.PostAsync<ContentSectionDto>(HiroAdminApiRoutes.AdminContentSectionEdit, new { Id = contentSectionId }, null);

        IsContentSectionModalLoading = false;

        ShowEditContentSectionModal = true;
    }

    private async Task HandleSaveContentSectionClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminContentSectionSave, null, SelectedContentSection);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else if (!EditProductAttributesDto.AllContentSections.Any(x => x.Id == SelectedContentSection.Id))
        {
            SelectedProductAttribute.ContentSectionValue = SelectedContentSection;

            EditProductAttributesDto.AllContentSections.Add(SelectedContentSection);

            ShowOperationResultAlert(operationResult);
        }
    }
}
