﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCarts)]
@attribute [Route(HiroAdminRoutes.AdminCarts)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Cart List
    </TopBarTitle>
    <TopBarControls>
        <AdminInput Class="@Css.admin_input_style_1"
                    @bind-Value="@KeywordFilter"
                    @bind-Value:event="OnChange" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Search"
                     OnClick="@(() => FetchCartListDtoAsync(1))" />
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_left"
                     IsDisabled="@(!HasPreviousPage)"
                     OnClick="@(() => FetchCartListDtoAsync(CurrentPage - 1))" />
        <span>
            Page @CurrentPage / @TotalNoOfPages
        </span>
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_right"
                     IsDisabled="@(!HasNextPage)"
                     OnClick="@(() => FetchCartListDtoAsync(CurrentPage + 1))" />
        <AdminSelect Class="@Css.admin_select_style_1"
                     Value="@AdminSelectOption.CreateInList(CountryFilter, CountryFilter?.Name)"
                     Options="@CartListDto.Countries.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                     ValueChanged="@((value) => HandleCountryChangedAsync(value.FirstOrDefault()?.GetValueAs<CountryDto>()))" />
        <AdminSelect Class="@Css.admin_select_style_1"
                     Value="@AdminSelectOption.CreateInList(ShippingBoxFilter, ShippingBoxFilter?.Name)"
                     Options="@CartListDto.ShippingBoxes.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                     ValueChanged="@((value) => HandleShippingBoxChangedAsync(value.FirstOrDefault()?.GetValueAs<ShippingBoxDto>()))" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@CartListDto.Carts">
                <Header>
                    <th>
                        #
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="cart">
                    <td>
                        @(1 + CartListDto.Carts.IndexOf(cart))
                    </td>
                    <td>
                        @cart.ModifiedDate?.ToShortDateString()
                    </td>
                    <td>
                        @(cart.User?.Email ?? "-")
                    </td>
                    <td>
                        @(cart.User?.Country?.Name ?? "-")
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="open"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCartId, new { this.CountryUrl, Id = cart.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>


@code
{

    private CartListDto CartListDto;

    private int CurrentPage;

    private int TotalNoOfPages;

    private string KeywordFilter;

    private CountryDto CountryFilter;

    private ShippingBoxDto ShippingBoxFilter;

    private bool HasNextPage => TotalNoOfPages > CurrentPage;

    private bool HasPreviousPage => CurrentPage > 1;

    protected override async Task OnInitializedAsync()
    {
        await FetchCartListDtoAsync();
    }

    private async Task FetchCartListDtoAsync(int page = 1)
    {
        AdminSessionState.IsLoading = true;

        CartListDto = await HiroHttpClient.PostAsync<CartListDto>(HiroAdminApiRoutes.AdminCartIndex, new
        {
            page = page,
            keywordFilter = KeywordFilter,
            countryNameFilter = CountryFilter?.Name,
            shippingBoxNameFilter = ShippingBoxFilter?.Name
        }, null);

        TotalNoOfPages = CartListDto.TotalPages;
        CurrentPage = page;

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleCountryChangedAsync(CountryDto country)
    {
        CountryFilter = country;

        await FetchCartListDtoAsync();
    }

    private async Task HandleShippingBoxChangedAsync(ShippingBoxDto shippingBox)
    {
        ShippingBoxFilter = shippingBox;

        await FetchCartListDtoAsync();
    }

}
