﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCoupons)]
@attribute [Route(HiroAdminRoutes.AdminCoupons)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Coupon List
    </TopBarTitle>
    <TopBarControls>
        <AdminInput Class="@Css.admin_input_style_1"
                    Value="@KeywordFilter"
                    TValue="string"
                    OnKeyDown="@HandleSearchKeyDown"
                    OnInput="@HandleSearchValueChanged" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Search"
                     OnClick="@SearchAsync" />
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_left"
                     IsDisabled="@(!HasPreviousPage)"
                     OnClick="@(() => FetchCouponListDtoAsync(CurrentPage - 1))" />
        <span>
            Page @CurrentPage / @TotalNoOfPages
        </span>
        <AdminButton Class="@Css.admin_button_style_1"
                     IconClass="@Css.admin_icon_chevron_thin_right"
                     IsDisabled="@(!HasNextPage)"
                     OnClick="@(() => FetchCouponListDtoAsync(CurrentPage + 1))" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Add new coupon"
                     IconClass="fas fa-plus"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCoupon, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@CouponListDto.Coupons">
                <Header>
                    <th>
                        Code
                    </th>
                    <th>
                        Published
                    </th>
                    <th>
                        Expiration
                    </th>
                    <th>
                        Validity times
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Percentage
                    </th>
                    <th>
                        Note
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="coupon">
                    <td>
                        @coupon.Code
                    </td>
                    <td>
                        @coupon.Published
                    </td>
                    <td>
                        @coupon.ExpirationDate.ToShortDateString()
                    </td>
                    <td>
                        @coupon.ValidityTimes
                    </td>
                    <td>
                        @(coupon.Country?.Name ?? "All Countries")
                    </td>
                    <td>
                        @coupon.Amount
                    </td>
                    <td>
                        @coupon.Percentage %
                    </td>
                    <td>
                        @coupon.Note
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="open"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCouponId, new { this.CountryUrl, Id = coupon.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    private CouponListDto CouponListDto;

    private int CurrentPage;

    private int TotalNoOfPages;

    private string KeywordFilter;

    private bool HasNextPage => TotalNoOfPages > CurrentPage;

    private bool HasPreviousPage => CurrentPage > 1;

    protected override async Task OnInitializedAsync()
    {
        await FetchCouponListDtoAsync();
    }

    private async Task FetchCouponListDtoAsync(int page = 1)
    {
        AdminSessionState.IsLoading = true;

        CouponListDto = await HiroHttpClient.PostAsync<CouponListDto>(HiroAdminApiRoutes.AdminCouponIndex, new
        {
            page = page,
            keywordFilter = KeywordFilter
        }, null);

        TotalNoOfPages = CouponListDto.TotalPages;
        CurrentPage = page;

        AdminSessionState.IsLoading = false;
    }

    private async Task SearchAsync()
    {
        if (!string.IsNullOrEmpty(KeywordFilter))
        {
            await FetchCouponListDtoAsync();
        }
    }

    private async Task HandleSearchValueChanged(string value)
    {
        KeywordFilter = value.ToString();

        if (string.IsNullOrEmpty(KeywordFilter))
        {
            await FetchCouponListDtoAsync();
        }
    }

    private async Task HandleSearchKeyDown(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Key == KeyboardKeys.Enter)
        {
            await FetchCouponListDtoAsync();
        }
    }

}
