﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminUserRole)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminUserRoleId)]
@attribute [Route(HiroAdminRoutes.AdminUserRole)]
@attribute [Route(HiroAdminRoutes.AdminUserRoleId)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") User Roles
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to List"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminUserRoles, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClick" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditUserRoleDto.UserRole.Name"
                        @bind-Value:event="OnChange"
                        LabelClass="@Css.admin_label_style_1"
                        Label="Role Description" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Permissions">
            @foreach (var permissionGroup in UserRolePermissions.GroupBy(x => x.GroupName))
            {
                <div class="@Css.admin_form_line">
                    @permissionGroup.Key
                </div>
                @foreach (var permission in permissionGroup)
                {
                    <div>
                        <AdminInput Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                    Type="checkbox"
                                    @bind-Value="@permission.Value"
                                    @bind-Value:event="OnChange"
                                    LabelClass="@Css.admin_label_style_1"
                                    Label="@permission.Description" />
                    </div>
                }
            }
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code
{
    [Parameter]
    public Guid? Id { get; set; }

    private EditUserRoleDto EditUserRoleDto;

    private List<UserRolePermission> UserRolePermissions = new List<UserRolePermission>();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditUserRoleDto = await HiroHttpClient.PostAsync<EditUserRoleDto>(HiroAdminApiRoutes.AdminUserRolesEdit, new { UserRoleId = Id }, null);

        var userRoleProperties = EditUserRoleDto.UserRole
            .GetType()
            .GetProperties()
            .Where(x => x.GetDisplayAttribute()?.Name == "Permission");

        UserRolePermissions = userRoleProperties.Select(propertyInfo => new UserRolePermission
        {
            PropertyName = propertyInfo.Name,
            GroupName = propertyInfo.GetDisplayAttribute().GroupName,
            Description = propertyInfo.GetDisplayAttribute().Description,
            Value = (bool)propertyInfo.GetValue(EditUserRoleDto.UserRole)
        }).ToList();

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClick()
    {
        AdminSessionState.IsLoading = true;

        foreach (var rolePermission in UserRolePermissions)
        {
            EditUserRoleDto.UserRole
                .GetType()
                .GetProperty(rolePermission.PropertyName)
                .SetValue(EditUserRoleDto.UserRole, rolePermission.Value);
        }

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminUserAddOrUpdateUserRole, null, EditUserRoleDto.UserRole);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

    private class UserRolePermission
    {
        public string PropertyName { get; set; }

        public string Description { get; set; }

        public bool Value { get; set; }

        public string GroupName { get; set; }
    }
}
