﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminBlogCategoryId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminBlogCategory)]
@attribute [Route(HiroAdminRoutes.AdminBlogCategoryId)]
@attribute [Route(HiroAdminRoutes.AdminBlogCategory)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Category
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminBlogCategories, new { this.CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminInput Label="Category Name"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Name is the unique identifier of the entity. It should be written in camelCase, using only numbers and letters."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@BlogCategoryDto.Name"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Url"
                        LabelClass="@Css.admin_label_style_1"
                        Tooltip="The Url is used to represent an entity in the URL."
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@BlogCategoryDto.Url"
                        @bind-Value:event="OnChange" />
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="BlogCategoryDto.BlogCategoryLocalizedKits">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private BlogCategoryDto BlogCategoryDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        BlogCategoryDto = await HiroHttpClient.PostAsync<BlogCategoryDto>(HiroAdminApiRoutes.AdminBlogCategoryEdit, new { Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminBlogCategoryDelete, new { Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminBlogCategories, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminBlogCategoryAddOrUpdate, null, BlogCategoryDto);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

}
