﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCategories)]
@attribute [Route(HiroAdminRoutes.AdminCategories)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Category List
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Add new category"
                     IconClass="fas fa-plus"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCategory, new { this.CountryUrl })" />
        <AdminButton Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminCategoriesTable Class="@Css.admin_categories_table_style_1" 
                                  Categories="@CategoryList.Categories"
                                  OnCategoryEditClick="@((category) => NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminCategoryId, new { this.CountryUrl, Id = category.Id }))" />
        </AdminCard>
    </Content>
</AdminPageTemplate>


@code
{

    private CategoryListDto CategoryList;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        CategoryList = await HiroHttpClient.PostAsync<CategoryListDto>(HiroAdminApiRoutes.AdminCategoryIndex, null, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCategoryUpdateHierarchy, null, CategoryList.Categories);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

}
