﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminSettings)]
@attribute [Route(HiroAdminRoutes.AdminSettings)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Settings
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Email SMTP account">
            <AdminInput Label="Host"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@CmsSettings.SmtpHost"
                        @bind-Value:event="OnInput" />
            <AdminInput Label="Port"
                        LabelClass="@Css.admin_label_style_1"
                        Type="number"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@CmsSettings.SmtpPort"
                        @bind-Value:event="OnInput" />
            <AdminInput Label="Display Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@CmsSettings.SmtpDisplayName"
                        @bind-Value:event="OnInput" />
            <AdminInput Label="Address"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@CmsSettings.SmtpEmail"
                        @bind-Value:event="OnInput" />
            <AdminInput Label="Password"
                        LabelClass="@Css.admin_label_style_1"
                        Type="password"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@CmsSettings.SmtpPassword"
                        @bind-Value:event="OnInput" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Cache">
            <AdminInlineWrapper Class="@String.Join(" ",
                                                Css.admin_inline_wrapper_style_1,
                                                Css.admin_form_line)">
                <LeftColumn>
                    <AdminInput Class="@Css.admin_input_style_1"
                                Label="Flush memory cache entries whose key contains"
                                LabelClass="@Css.admin_label_style_1"
                                @bind-Value="@CacheFlushKey"
                                @bind-Value:event="OnInput" />
                </LeftColumn>
                <RightColumn>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Flush"
                                 OnClick="@HandleFlushCacheClickAsync"
                                 IsDisabled="string.IsNullOrEmpty(CacheFlushKey)" />
                </RightColumn>
            </AdminInlineWrapper>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    private CmsSettingsDto CmsSettings;

    private string CacheFlushKey;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        CmsSettings = await HiroHttpClient.PostAsync<CmsSettingsDto>(HiroAdminApiRoutes.AdminSettingIndex, null, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminSettingAddOrUpdate, null, CmsSettings);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

    private async Task HandleFlushCacheClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminSettingFlushCache, new { Key = CacheFlushKey }, null);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }
}
