﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminMailingListId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminMailingList)]
@attribute [Route(HiroAdminRoutes.AdminMailingListId)]
@attribute [Route(HiroAdminRoutes.AdminMailingList)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Mailing List
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to List"
                     OnClick="@(() => NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminMailingLists, new { this.CountryUrl }))"
                     IconClass="@Css.admin_icon_chevron_thin_left" />
        @*@if (Id != null)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Export Users"
                         IconClass="@Css.admin_icon_table"
                         Href="@($"{appConfigOption.CurrentValue.ApiBaseUrl}/{HiroAdminApiRoutes.AdminMailingListExport}?id={Id}")" />
        }*@
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Delete"
                     OnClick="@HandleDeleteClick" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1" Title="Global Properties">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditMailingListDto.MailingList.Name"
                        @bind-Value:event="OnChange" />
            <AdminInput Label="Sort Order"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        Type="number"
                        Min="0"
                        @bind-Value="@EditMailingListDto.MailingList.SortOrder"
                        @bind-Value:event="OnChange" />
        </AdminCard>

        <AdminCard Class="@Css.admin_card_style_1" Title="Localized Properties">
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="@EditMailingListDto.MailingList.MailingListLocalizedKits">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Users">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@EditMailingListDto.MailingList.MailingListSubscriptions">
                <Header>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Status
                    </th>
                </Header>
                <RowTemplate Context="subscription">
                    <td>
                        @(1 + EditMailingListDto.MailingList.MailingListSubscriptions.IndexOf(subscription))
                    </td>
                    <td>
                        @subscription.User.FullName
                    </td>
                    <td>
                        @subscription.User.Email
                    </td>
                    <td>
                        @subscription.Status
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>


@code {

    [Parameter]
    public Guid? Id { get; set; }

    private EditMailingListDto EditMailingListDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditMailingListDto = await HiroHttpClient.PostAsync<EditMailingListDto>(HiroAdminApiRoutes.AdminMailingListEdit, new { Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMailingListDelete, new { Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminMailingLists, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminMailingListAddOrUpdate, null, EditMailingListDto.MailingList);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);

    }



}
