﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminUserRoles)]
@attribute [Route(HiroAdminRoutes.AdminUserRoles)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        User Roles
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create new role"
                     IconClass="fas fa-plus"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminUserRole, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@UserRoleList.UserRoles">
                <Header>
                    <th>
                        S/N
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="role">
                    <td>
                        @(UserRoleList.UserRoles.IndexOf(role) + 1)
                    </td>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminUserRoleId, new { this.CountryUrl, Id = role.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    private UserRoleListDto UserRoleList;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        UserRoleList = await HiroHttpClient.PostAsync<UserRoleListDto>(HiroAdminApiRoutes.AdminUserRoles, null, null);

        AdminSessionState.IsLoading = false;
    }
}
