﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminProductVariants)]
@attribute [Route(HiroAdminRoutes.AdminProductVariants)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Edit Product Variants for @EditProductVariantsDto.ProductLocalizedName
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.AdminProducts)" />
        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                       Text="Edit" 
                       IconClass="@Css.admin_icon_triangle_down">
            <AdminDropDownItem Class="@Css.admin_dropdown_style_1"
                               Text="Product"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductId, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_style_1"
                               Text="Product Attributes"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductAttributes, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_style_1"
                               Text="Product Variants"
                               IsDisabled="true"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductVariants, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_style_1"
                               Text="Product Images"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductImageKits, new {  this.CountryUrl, Id })" />
            <AdminDropDownItem Class="@Css.admin_dropdown_style_1"
                               Text="Product Stock"
                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminProductStockUnits, new {  this.CountryUrl, Id })" />
        </AdminDropdown>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@(async() => await HandleSaveClickAsync())" />
    </TopBarControls>
    <ContentColumnLeft>
        @foreach (var productVariant in EditProductVariantsDto.ProductVariants.Where(x => !x.IsDeleted.GetValueOrDefault()))
        {
            <AdminCard Class="@Css.admin_card_style_1" Title="@productVariant.Variant.LocalizedTitle">
                <AdminButton Class="@Css.admin_button_style_1"
                             Text="Remove" OnClick="@(() => HandleRemoveProductVariantClick(productVariant))" />
                @switch (productVariant.Variant.Type)
                {
                    case VariantTypesEnum.Boolean:
                        {
                            <AdminInput Label="Default Boolean Value"
                                        LabelClass="@Css.admin_label_style_1"
                                        Type="checkbox"
                                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                        @bind-Value="@productVariant.DefaultBooleanValue"
                                        @bind-Value:event="OnChange" />
                            break;
                        }
                    case VariantTypesEnum.String:
                        {
                            <AdminTextArea Label="Default String Value"
                                           LabelClass="@Css.admin_label_style_1"
                                           Class="@String.Join(" ",
                                                        Css.admin_textarea_style_1,
                                                        Css.admin_form_line)"
                                           @bind-Value="@productVariant.DefaultStringValue"
                                           @bind-Value:event="OnInput" />
                            break;
                        }
                    case VariantTypesEnum.Integer:
                        {
                            <AdminInput Label="Default Integer Value"
                                        LabelClass="@Css.admin_label_style_1"
                                        Type="number"
                                        Class="@String.Join(" ",
                                                    Css.admin_input_style_1,
                                                    Css.admin_form_line)"
                                        @bind-Value="@productVariant.DefaultIntegerValue"
                                        @bind-Value:event="OnInput" />
                            break;
                        }
                    case VariantTypesEnum.Json:
                        {
                            <AdminTextArea Label="Default Json Value"
                                           LabelClass="@Css.admin_label_style_1"
                                           Class="@String.Join(" ",
                                                        Css.admin_textarea_style_1,
                                                        Css.admin_form_line)"
                                           @bind-Value="@productVariant.DefaultJsonValue"
                                           @bind-Value:event="OnInput" />
                            break;
                        }
                    case VariantTypesEnum.Double:
                        {
                            <AdminInput Label="Default Double Value"
                                        LabelClass="@Css.admin_label_style_1"
                                        Type="number"
                                        Class="@String.Join(" ",
                                                    Css.admin_input_style_1,
                                                    Css.admin_form_line)"
                                        @bind-Value="@productVariant.DefaultDoubleValue"
                                        @bind-Value:event="OnInput" />
                            break;
                        }
                    case VariantTypesEnum.Options:
                        {
                            <AdminSelect Label="Available Variant Options"
                                         LabelClass="@Css.admin_label_style_1"
                                         Class="@String.Join(" ",
                                                        Css.admin_select_style_1,
                                                        Css.admin_form_line)"
                                         AllowMultipleValues="true"
                                         Value="@productVariant.VariantOptions.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                                         Options="@productVariant.Variant.VariantOptions.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                                         ValueChanged="@((value) => productVariant.VariantOptions = value.Select(x => x.GetValueAs<VariantOptionDto>()).ToList())" />

                            <AdminSelect Label="Default Options Value"
                                         LabelClass="@Css.admin_label_style_1"
                                         Class="@String.Join(" ",
                                                        Css.admin_select_style_1,
                                                        Css.admin_form_line)"
                                         Value="@AdminSelectOption.CreateInList(productVariant.DefaultVariantOptionValue, productVariant.DefaultVariantOptionValue?.LocalizedTitle)"
                                         Options="@productVariant.VariantOptions.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                                         ValueChanged="@((value) => productVariant.DefaultVariantOptionValue = value.FirstOrDefault()?.GetValueAs<VariantOptionDto>())" />
                            break;
                        }
                }
            </AdminCard>
        }
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Available Variants">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@EditProductVariantsDto.AllVariants">
                <Header>
                    <td>Name</td>
                    <td>Type</td>
                    <td></td>
                </Header>
                <RowTemplate Context="variant">
                    <td>@variant.Name</td>
                    <td>@variant.Type</td>
                    <td>
                        @if (!EditProductVariantsDto.ProductVariants.Any(x => x.Variant.Id == variant.Id && x.IsDeleted != false))
                        {
                            <AdminButton Class="@Css.admin_button_style_1"
                                         Text="Add" OnClick="@(() => HandleAddVariantClick(variant))" />
                        }
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </ContentColumnRight>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public EditProductVariantsDto EditProductVariantsDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditProductVariantsDto = await HiroHttpClient.PostAsync<EditProductVariantsDto>(
            HiroAdminApiRoutes.AdminProductEditProductVariants,
            new { ProductId = Id },
            null
        );

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminProductAddOrUpdateProductVariants,
            null,
            new
            {
                EditProductVariantsDto.ProductId,
                ProductVariants = EditProductVariantsDto.ProductVariants.Select(x => new
                {
                    Product = new ProductDto
                    {
                        Id = x.Product.Id,
                        Name = x.Product.Name
                    },
                    Variant = new VariantDto
                    {
                        Id = x.Variant.Id,
                        Name = x.Variant.Name
                    },
                    VariantOptions = x.VariantOptions.Select(vo => new VariantOptionDto
                    {
                        Id = vo.Id
                    }),
                    x.Id,
                    x.DefaultBooleanValue,
                    x.DefaultDoubleValue,
                    x.DefaultIntegerValue,
                    x.DefaultJsonValue,
                    x.DefaultStringValue,
                    x.DefaultVariantOptionValue,
                    x.IsDeleted
                })
            });

        EditProductVariantsDto.ProductVariants.ForEach(productVariant =>
        {
            productVariant.IsNew = false;
        });

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

    private void HandleAddVariantClick(VariantDto variant)
    {
        var existingProductVariant = EditProductVariantsDto.ProductVariants.FirstOrDefault(x => x.Variant.Id == variant.Id);

        if (existingProductVariant != null)
        {
            existingProductVariant.IsDeleted = false;
        }
        else
        {
            EditProductVariantsDto.ProductVariants.Insert(0, new ProductVariantDto
            {
                IsNew = true,
                Variant = variant,
                Product = new ProductDto
                {
                    Id = EditProductVariantsDto.ProductId,
                    Name = EditProductVariantsDto.ProductLocalizedName
                },
                DefaultBooleanValue = variant.DefaultBooleanValue,
                DefaultDoubleValue = variant.DefaultDoubleValue,
                DefaultIntegerValue = variant.DefaultIntegerValue,
                DefaultJsonValue = variant.DefaultJsonValue,
                DefaultStringValue = variant.DefaultStringValue
            });
        }
    }

    private void HandleRemoveProductVariantClick(ProductVariantDto productVariant)
    {
        if (productVariant.IsNew ?? false)
        {
            EditProductVariantsDto.ProductVariants.Remove(productVariant);
        }
        else
        {
            productVariant.IsDeleted = true;
        }
    }
}
