﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminProductStockUnits)]
@attribute [Route(HiroAdminRoutes.AdminProductStockUnits)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Edit Product Stock Units for @EditProductStockUnitsDto.ProductTitle
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="@(HidePrices ? "Show prices" : "Hide prices")"
                     OnClick="@(() => HidePrices = !HidePrices)" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save" OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <table class="@Css.admin_product_stock_units_table @(HidePrices ? Css.admin_product_stock_units_table_hide_prices : string.Empty)">
                <thead>
                    <tr>
                        @foreach (var variant in EditProductStockUnitsDto.Variants)
                        {
                            <th>
                                @variant.LocalizedTitle
                            </th>
                        }
                        <th>
                            Code
                        </th>
                        <th>
                            Stock
                        </th>
                        <th>
                            Dispatch date
                        </th>
                        <th>
                            Preorder
                        </th>
                        <th>
                            Dispatch time
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            Currency
                        </th>
                        <th>
                            Base price
                        </th>
                        <th>
                            Sale price
                        </th>
                        <th>
                            Membership price
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productStockUnit in EditProductStockUnitsDto.ProductStockUnits)
                    {
                        @foreach (var productStockUnitLocalizedKit in productStockUnit.ProductStockUnitLocalizedKits)
                        {
                            var isFirst = productStockUnit.ProductStockUnitLocalizedKits.IndexOf(productStockUnitLocalizedKit) == 0;

                            <tr class="@(isFirst ? Css.admin_product_stock_units_table_psu_first_row : string.Empty)">
                                @foreach (var variant in EditProductStockUnitsDto.Variants)
                                {
                                    <td>
                                        @if (isFirst)
                                        {
                                            @productStockUnit.VariantOptions.FirstOrDefault(x => x.Variant.Id == variant.Id)?.LocalizedTitle
                                        }
                                    </td>
                                }
                                <td>
                                    @if (isFirst)
                                    {
                                        <AdminInput @bind-Value="@productStockUnit.Code"
                                                    @bind-Value:event="OnChange"
                                                    Placeholder="..."
                                                    Class="@Css.admin_input_style_3" />
                                    }
                                </td>
                                <td>
                                    @if (isFirst)
                                    {
                                        <AdminInput @bind-Value="@productStockUnit.Stock"
                                                    @bind-Value:event="OnChange"
                                                    Type="number"
                                                    Class="@Css.admin_input_style_3" />
                                    }
                                </td>
                                <td>
                                    @if (isFirst)
                                    {
                                        <AdminInput @bind-Value="@productStockUnit.DispatchDate"
                                                    @bind-Value:event="OnChange"
                                                    Type="date"
                                                    Class="@Css.admin_input_style_3" />
                                    }
                                </td>
                                <td>
                                    @if (isFirst)
                                    {
                                        <AdminInput @bind-Value="@productStockUnit.EnablePreorder"
                                                    @bind-Value:event="OnChange"
                                                    Type="checkbox"
                                                    Label="Enable"
                                                    LabelClass="@Css.admin_label_style_1"
                                                    Class="@Css.admin_input_style_1" />
                                    }
                                </td>
                                <td>
                                    @if (isFirst)
                                    {
                                        <AdminInput @bind-Value="@productStockUnit.DispatchTime"
                                                    @bind-Value:event="OnChange"
                                                    Type="number"
                                                    Min="0"
                                                    Class="@Css.admin_input_style_3" />
                                    }
                                </td>
                                <td class="@Css.admin_product_stock_units_table_localizedkit_td">
                                    @productStockUnitLocalizedKit.Country.Name
                                </td>
                                <td class="@Css.admin_product_stock_units_table_localizedkit_td">
                                    @productStockUnitLocalizedKit.Country.Iso4217CurrencySymbol
                                </td>
                                <td class="@Css.admin_product_stock_units_table_localizedkit_td">
                                    <AdminInput @bind-Value="@productStockUnitLocalizedKit.BasePrice"
                                                @bind-Value:event="OnChange"
                                                Type="number"
                                                Min="0"
                                                Class="@Css.admin_input_style_3" />
                                </td>
                                <td class="@Css.admin_product_stock_units_table_localizedkit_td">
                                    <AdminInput @bind-Value="@productStockUnitLocalizedKit.SalePrice"
                                                @bind-Value:event="OnChange"
                                                Type="number"
                                                Min="0"
                                                Class="@Css.admin_input_style_3" />
                                </td>
                                <td class="@Css.admin_product_stock_units_table_localizedkit_td">
                                    <AdminInput @bind-Value="@productStockUnitLocalizedKit.MembershipSalePrice"
                                                @bind-Value:event="OnChange"
                                                Type="number"
                                                Min="0"
                                                Class="@Css.admin_input_style_3" />
                                </td>
                                <td>
                                    @if (isFirst)
                                    {
                                        @if (productStockUnit.IsDisabled.IsNullOrFalse())
                                        {
                                            <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                                           IconClass="@Css.admin_icon_gear" 
                                                           PushLeft="true">
                                                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                                   Text="Use these base prices for all Product Stock Units"
                                                                   OnClick="@(() => UpdateAllBasePricesWithStockUnit(productStockUnit))" />
                                                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                                   Text="Use these sale prices for all Product Stock Units"
                                                                   OnClick="@(() => UpdateAllSalePricesWithStockUnit(productStockUnit))" />
                                                <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                                                   Text="Use these membership prices for all Product Stock Units"
                                                                   OnClick="@(() => UpdateAllMembershipPricesWithStockUnit(productStockUnit))" />
                                            </AdminDropdown>
                                        }
                                        else
                                        {
                                            <div>Obsolete</div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    [Parameter]
    public Guid? Id { get; set; }

    private bool HidePrices { get; set; }

    private EditProductStockUnitsDto EditProductStockUnitsDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditProductStockUnitsDto = await HiroHttpClient.PostAsync<EditProductStockUnitsDto>(
            HiroAdminApiRoutes.AdminProductEditProductStockUnits,
            new { ProductId = Id },
            null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminProductAddOrUpdateProductStockUnits, null, new
        {
            EditProductStockUnitsDto.ProductStockUnits,
            EditProductStockUnitsDto.ProductId
        });

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

    private void UpdateAllBasePricesWithStockUnit(ProductStockUnitDto productStockUnit)
    {
        var basePrices = new Dictionary<Guid, double>();

        productStockUnit.ProductStockUnitLocalizedKits.ForEach((localizedKit) =>
        {
            basePrices.Add(localizedKit.Country.Id, localizedKit.BasePrice);
        });

        EditProductStockUnitsDto.ProductStockUnits.ForEach(stockUnit =>
        {
            stockUnit.ProductStockUnitLocalizedKits.ForEach(localizedKit =>
            {
                localizedKit.BasePrice = basePrices[localizedKit.Country.Id];
            });
        });
    }


    private void UpdateAllSalePricesWithStockUnit(ProductStockUnitDto productStockUnit)
    {
        var salePrices = new Dictionary<Guid, double>();

        productStockUnit.ProductStockUnitLocalizedKits.ForEach((localizedKit) =>
        {
            salePrices.Add(localizedKit.Country.Id, localizedKit.SalePrice);
        });

        EditProductStockUnitsDto.ProductStockUnits.ForEach(stockUnit =>
        {
            stockUnit.ProductStockUnitLocalizedKits.ForEach(localizedKit =>
            {
                localizedKit.SalePrice = salePrices[localizedKit.Country.Id];
            });
        });
    }

    private void UpdateAllMembershipPricesWithStockUnit(ProductStockUnitDto productStockUnit)
    {
        var membershipPrices = new Dictionary<Guid, double>();

        productStockUnit.ProductStockUnitLocalizedKits.ForEach((localizedKit) =>
        {
            membershipPrices.Add(localizedKit.Country.Id, localizedKit.MembershipSalePrice);
        });

        EditProductStockUnitsDto.ProductStockUnits.ForEach(stockUnit =>
        {
            stockUnit.ProductStockUnitLocalizedKits.ForEach(localizedKit =>
            {
                localizedKit.MembershipSalePrice = membershipPrices[localizedKit.Country.Id];
            });
        });
    }
}