﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminSeoSectionId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminSeoSection)]
@attribute [Route(HiroAdminRoutes.AdminSeoSectionId)]
@attribute [Route(HiroAdminRoutes.AdminSeoSection)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Seo Content
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to List"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminSeoSections, new { this.CountryUrl })" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClick" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminInput Label="Page"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@SeoSection.Page"
                        @bind-Value:event="OnChange" />
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="@SeoSection.SeoSectionLocalizedKits.ToList()">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminTextArea Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   Label="Title"
                                   LabelClass="@Css.admin_label_style_1"
                                   @bind-Value="@localizedKit.Title"
                                   @bind-Value:event="OnChange" />
                    <AdminTextArea Class="@String.Join(" ",
                                        Css.admin_textarea_style_1,
                                        Css.admin_form_line)"
                                   Label="Description"
                                   LabelClass="@Css.admin_label_style_1"
                                   @bind-Value="@localizedKit.Description"
                                   @bind-Value:event="OnChange" />
                    <AdminFilePicker Class="@Css.admin_file_picker_style_1"
                                     Label="Image" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    [Parameter]
    public Guid? Id { get; set; }

    public SeoSectionDto SeoSection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        var editSectionDto = await HiroHttpClient.PostAsync<EditSeoSectionDto>(HiroAdminApiRoutes.AdminSeoEdit, new { Id }, null);

        SeoSection = editSectionDto.SeoSection;

        AdminSessionState.IsLoading = false;
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteAsync;
    }

    private async Task DeleteAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminSeoEdit, new { Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminSeoSections, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveClick()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminSeoAddOrUpdate, null, SeoSection);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }
}