﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminVariants)]
@attribute [Route(HiroAdminRoutes.AdminVariants)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Variants
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create new variant"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminVariant, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     IsDisabled="@(!this.AdminSessionState.ContainsUnsavedChanges)"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@VariantList.Variants"
                        AllowSorting="@true"
                        OnDataSorted="@(() => this.AdminSessionState.ContainsUnsavedChanges = true)">
                <Header>
                    <th>
                        Sort Order
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="variant">
                    <td>
                        @variant.SortOrder
                    </td>
                    <td>
                        @variant.Name
                    </td>
                    <td>
                        @variant.LocalizedTitle
                    </td>
                    <td>
                        @variant.Type
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminVariantId, new { this.CountryUrl, Id = variant.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    private VariantListDto VariantList = new VariantListDto();

    protected override async Task OnInitializedAsync()
    {
        this.AdminSessionState.IsLoading = true;

        VariantList = await HiroHttpClient.PostAsync<VariantListDto>(HiroAdminApiRoutes.AdminVariantIndex, null, null);

        this.AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        this.AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminVariantUpdateSortOrder, null, VariantList.Variants);

        VariantList = await HiroHttpClient.PostAsync<VariantListDto>(HiroAdminApiRoutes.AdminVariantIndex, null, null);

        this.AdminSessionState.IsLoading = false;

        this.AdminSessionState.ContainsUnsavedChanges = false;

        ShowOperationResultAlert(operationResult);
    }

}
