﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminShippingBoxes)]
@attribute [Route(HiroAdminRoutes.AdminShippingBoxes)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Shipping Boxes
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create Shipping Box"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminShippingBox, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     IsDisabled="@(!this.AdminSessionState.ContainsUnsavedChanges)"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@ShippingBoxesList.ShippingBoxes"
                        AllowSorting="@true"
                        OnDataSorted="() => this.AdminSessionState.ContainsUnsavedChanges = true">
                <Header>
                    <th>
                        Name
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="shippingBox">
                    <td>
                        @shippingBox.Name
                    </td>
                    <td>
                        @shippingBox.LocalizedTitle
                    </td>
                    <td>
                        <AdminDropdown Class="@Css.admin_dropdown_style_1"
                                       Text="Options"
                                       IconClass="@Css.admin_icon_triangle_down">
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Edit"
                                               Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminShippingBoxId, new { this.CountryUrl, Id = shippingBox.Id })" />
                            <AdminDropDownItem Class="@Css.admin_dropdown_item_style_1"
                                               Text="Duplicate"
                                               OnClick="@(() => HandleDuplicate(shippingBox.Id))" />
                        </AdminDropdown>
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code {

    private ShippingBoxListDto ShippingBoxesList = new ShippingBoxListDto();

    protected override async Task OnInitializedAsync()
    {
        this.AdminSessionState.IsLoading = true;

        this.ShippingBoxesList = await HiroHttpClient.PostAsync<ShippingBoxListDto>(HiroAdminApiRoutes.AdminShippingBoxIndex, null, null);

        this.AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        this.AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminShippingBoxUpdateSortOrder, null, ShippingBoxesList.ShippingBoxes);

        ShippingBoxesList = await HiroHttpClient.PostAsync<ShippingBoxListDto>(HiroAdminApiRoutes.AdminShippingBoxIndex, null, null);

        this.AdminSessionState.IsLoading = false;

        this.AdminSessionState.ContainsUnsavedChanges = false;

        ShowOperationResultAlert(operationResult);
    }

    private async Task HandleDuplicate(Guid shippingBoxId)
    {
        this.AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult<dynamic>>(HiroAdminApiRoutes.AdminShippingBoxDuplicate, new { Id = shippingBoxId }, null);

        this.NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminShippingBoxId, new { this.CountryUrl, Id = operationResult.Data.id });

        this.AdminSessionState.IsLoading = false;

        this.AdminSessionState.ContainsUnsavedChanges = false;
    }

}
