﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminEmailId)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminEmail)]
@attribute [Route(HiroAdminRoutes.AdminEmailId)]
@attribute [Route(HiroAdminRoutes.AdminEmail)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Email
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminEmails, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Delete"
                     OnClick="@HandleDeleteClick" />
    </TopBarControls>
    <ContentColumnLeft>
        @if (ShowContentSectionModal)
        {
            <AdminModal Class="@Css.admin_modal_style_1"
                        Size="@AdminModalSize.Big"
                        OnOverlayClick="@(() =>  ShowContentSectionModal = false)">
                <Header>
                    @(EditEmailDto.AllContentSections.Any(x => x.Id == SelectedContentSection.Id) ? "Edit" : "Create") Content Section
                </Header>
                <Body>
                    @if (IsContentSectionModalLoading)
                    {
                        <AdminLoading Class="@Css.admin_loading_style_1" />
                    }
                    else
                    {
                        <AdminContentSectionEditor ContentSection="SelectedContentSection" />
                    }
                </Body>
                <Footer>
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Save"
                                 OnClick="@(() => HandleSaveContentSectionClickAsync())" />
                    <AdminButton Class="@Css.admin_button_style_1"
                                 Text="Cancel"
                                 OnClick="@(() => ShowContentSectionModal = false)" />
                </Footer>
            </AdminModal>
        }
        <AdminCard Class="@Css.admin_card_style_1" Title="Global Properties">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditEmailDto.Email.Name"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="View Template"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditEmailDto.Email.ViewName)"
                         Options="@EditEmailDto.ViewNames.Select(x => new AdminSelectOption(x)).ToList()"
                         ValueChanged="@((value) => EditEmailDto.Email.ViewName = value.FirstOrDefault()?.Value.ToString())" />
            <AdminInlineWrapper Class="@String.Join(" ",
                                                Css.admin_inline_wrapper_style_1,
                                                Css.admin_form_line)">
                <LeftColumn>
                    <AdminSelect Label="Content Section"
                                 Class="@Css.admin_select_style_1"
                                 Value="@AdminSelectOption.CreateInList(EditEmailDto.Email.ContentSection, EditEmailDto.Email.ContentSection?.Name)"
                                 Options="@EditEmailDto.AllContentSections.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                                 ValueChanged="@((value) => EditEmailDto.Email.ContentSection = value.FirstOrDefault()?.GetValueAs<ContentSectionDto>())" />
                </LeftColumn>
                <RightColumn>
                    @if (EditEmailDto.Email.ContentSection != null)
                    {
                        <AdminButton Class="@Css.admin_button_style_1"
                                     IconClass="@Css.admin_icon_plus"
                                     OnClick="@(async () => await EditContentSectionAsync())" />
                        <AdminButton Class="@Css.admin_button_style_1"
                                     IconClass="@Css.admin_icon_edit"
                                     OnClick="@(async () => await EditContentSectionAsync(EditEmailDto.Email.ContentSection.Id))" />
                    }
                </RightColumn>
            </AdminInlineWrapper>
        </AdminCard>
        <AdminCard Class="@Css.admin_card_style_1" Title="Localized Properties">
            <AdminLocalizedKits Class="@Css.admin_localizedkits_style_1"
                                 LocalizedKits="EditEmailDto.Email.EmailLocalizedKits">
                <LocalizedKitTemplate Context="localizedKit">
                    <AdminInput Label="From"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@localizedKit.From"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Reply To"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@localizedKit.ReplyTo"
                                @bind-Value:event="OnChange" />
                    <AdminInput Label="Display Name"
                                LabelClass="@Css.admin_label_style_1"
                                Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                                @bind-Value="@localizedKit.DisplayName"
                                @bind-Value:event="OnChange" />
                </LocalizedKitTemplate>
            </AdminLocalizedKits>
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        <AdminCard Class="@Css.admin_card_style_1" Title="Preview">
            @if (Id.HasValue && !string.IsNullOrEmpty(EmailContent))
            {
                @((MarkupString)EmailContent)
            }
        </AdminCard>
        @if (Id.HasValue)
        {
            <AdminCard Class="@Css.admin_card_style_1" Title="Send to">
                <AdminSelect Label="Choose mailing list or single users"
                             Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                             Value="@AdminSelectOption.CreateInList(SelectedMailToType)"
                             Options="@(Enum.GetValues(typeof(MailToType)).Cast<MailToType>().Select(x => new AdminSelectOption(x)).ToList())"
                             ValueChanged="@((value) => SelectedMailToType = (MailToType)value.FirstOrDefault()?.Value)" />
                @if (SelectedMailToType == MailToType.MailingList)
                {
                    <AdminSelect Label="Mailing Lists"
                                 Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                                 Value="@AdminSelectOption.CreateInList(SelectedMailingList, SelectedMailingList?.LocalizedTitle)"
                                 Options="@AllMailingLists.Select(x => new AdminSelectOption(x, x.LocalizedTitle)).ToList()"
                                 ValueChanged="@((value) => SelectedMailingList = value.FirstOrDefault()?.GetValueAs<MailingListDto>())" />
                    @if (SelectedMailingList != null)
                    {
                        <AdminSelect Label="Send to users in country only"
                                     Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                                     Value="@AdminSelectOption.CreateInList(SelectedMailingListCountry, SelectedMailingListCountry?.Name)"
                                     Options="@AllCountries.Select(x => new AdminSelectOption(x, x.Name)).ToList()"
                                     ValueChanged="@((value) => SelectedMailingListCountry = value.FirstOrDefault()?.GetValueAs<CountryDto>())" />
                    }
                }
                else
                {
                    <AdminSelect Label="Users"
                                 Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                                 AllowMultipleValues="true"
                                 Value="@SelectedUsers.Select(x => new AdminSelectOption(x, x.Email, x.FullName)).ToList()"
                                 Options="@AllUsers.Select(x => new AdminSelectOption(x, x.Email, x.FullName)).ToList()"
                                 ValueChanged="@((value) => SelectedUsers = value.Select(x => x.GetValueAs<UserDto>()).ToList())" />
                }
                <AdminButton Text="Send"
                             OnClick="HandleSendClick"
                             Class="@Css.admin_button_style_1" />
            </AdminCard>
        }
    </ContentColumnRight>
</AdminPageTemplate>

@code
    {
    [Parameter]
    public Guid? Id { get; set; }

    private string EmailContent;

    private EditEmailDto EditEmailDto;

    private MailToType SelectedMailToType;

    private bool ShowContentSectionModal;

    private bool IsContentSectionModalLoading;

    private ContentSectionDto SelectedContentSection;

    private ContentSectionDto SimilarContentSection;

    private MailingListDto SelectedMailingList;

    private CountryDto SelectedMailingListCountry;

    private List<UserDto> SelectedUsers = new List<UserDto>();

    private List<UserDto> AllUsers = new List<UserDto>();

    private List<CountryDto> AllCountries = new List<CountryDto>();

    private List<MailingListDto> AllMailingLists = new List<MailingListDto>();

    private ContentSectionDto NewContentSection = new ContentSectionDto();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditEmailDto = await HiroHttpClient.PostAsync<EditEmailDto>(HiroAdminApiRoutes.AdminEmailEdit, new { Id }, null);

        AdminSessionState.IsLoading = false;

        AllMailingLists = await HiroHttpClient.PostAsync<List<MailingListDto>>(HiroAdminApiRoutes.AdminEmailGetAllMailingLists, null, null);

        AllUsers = await HiroHttpClient.PostAsync<List<UserDto>>(HiroAdminApiRoutes.AdminEmailGetAllUsers, null, null);

        AllCountries = await HiroHttpClient.PostAsync<List<CountryDto>>(HiroAdminApiRoutes.AdminEmailGetAllCountries, null, null);

        await SelectContentSectionAsync(EditEmailDto.Email.ContentSection?.Id);

        if (Id.HasValue)
        {
            try
            {
                EmailContent = await HiroHttpClient.PostAsync<string>(HiroAdminApiRoutes.AdminEmailRenderEmailView, new { Id }, null);
            }
            catch (Exception ex)
            {
                EmailContent = ex.Message;
            }
        }
    }

    private async Task EditContentSectionAsync(Guid? contentSectionId = null)
    {
        IsContentSectionModalLoading = true;

        SelectedContentSection = await HiroHttpClient.PostAsync<ContentSectionDto>(HiroAdminApiRoutes.AdminContentSectionEdit, new { contentSectionId }, null);

        IsContentSectionModalLoading = false;

        ShowContentSectionModal = true;
    }

    private async Task SelectContentSectionAsync(Guid? contentSectionId)
    {
        AdminSessionState.IsLoading = true;

        SelectedContentSection = await HiroHttpClient.PostAsync<ContentSectionDto>(HiroAdminApiRoutes.AdminContentSectionEdit, new { contentSectionId }, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminEmailAddOrUpdate, null, EditEmailDto.Email);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);
    }

    private void HandleSendClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = SendEmailAsync;
    }

    private async Task SendEmailAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        AdminSessionState.IsLoading = false;

        if (SelectedMailToType == MailToType.MailingList)
        {
            var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminEmailSendEmailToMailingList, null, new
            {
                emailId = Id,
                mailingListId = SelectedMailingList.Id,
                countryId = SelectedMailingListCountry.Id
            });

            ShowOperationResultAlert(operationResult);
        }
        else
        {
            var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminEmailSendEmailToUsers, null, new
            {
                emailId = Id,
                to = SelectedUsers.Select(x => x.Email)
            });

            ShowOperationResultAlert(operationResult);
        }
    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteEmailAsync;
    }

    private async Task DeleteEmailAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        StateHasChanged();

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminEmailDelete, new { Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminEmails, new { this.CountryUrl });
        }
    }

    private async Task HandleSaveContentSectionClickAsync(bool checkForSimilarContent = true)
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminContentSectionSave, null, SelectedContentSection);

        AdminSessionState.IsLoading = false;


        if (operationResult.Errors.Any() || EditEmailDto.AllContentSections.Any(x => x.Id == SelectedContentSection.Id))
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            EditEmailDto.Email.ContentSection = SelectedContentSection;

            EditEmailDto.AllContentSections.Add(SelectedContentSection);

            ShowOperationResultAlert(operationResult);
        }
    }

    private enum MailToType
    {
        MailingList,
        SingleUser
    }

}
