﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCountry)]
@attribute [Route(HiroAdminRoutes.CountryUrlAdminCountryId)]
@attribute [Route(HiroAdminRoutes.AdminCountry)]
@attribute [Route(HiroAdminRoutes.AdminCountryId)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        @(Id.HasValue ? "Edit" : "Create") Country
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Back to list"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminCountries, new { this.CountryUrl })" />
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Add Tax"
                     IconClass="fas fa-plus"
                     OnClick="@HandleAddTaxClick" />
        @if (Id.HasValue)
        {
            <AdminButton Class="@Css.admin_button_style_1"
                         Text="Delete"
                         OnClick="@HandleDeleteClick" />
        }
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Save"
                     OnClick="@HandleSaveClickAsync" />
    </TopBarControls>
    <ContentColumnLeft>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminInput Label="Name"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCountryDto.Country.Name"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Language Code"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditCountryDto.Country.LanguageCode)"
                         ValueChanged="@((value) => EditCountryDto.Country.LanguageCode = value.FirstOrDefault()?.GetValueAs<string>())"
                         Options="@EditCountryDto.Cultures.Select(x => new AdminSelectOption(x)).ToList()" />
            <AdminInput Label="Url"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCountryDto.Country.Url"
                        @bind-Value:event="OnChange" />
            <AdminSelect Label="Flag Icon"
                         Class="@String.Join(" ",
                                        Css.admin_select_style_1,
                                        Css.admin_form_line)"
                         Value="@AdminSelectOption.CreateInList(EditCountryDto.Country.FlagIcon?.Replace(FlagIconPrefix, string.Empty))"
                         ValueChanged="@((value) => EditCountryDto.Country.FlagIcon = FlagIconPrefix + value.FirstOrDefault()?.GetValueAs<string>())"
                         Options="@EditCountryDto.FlagIcons.Select(x => new AdminSelectOption(x)).ToList()" />
            <AdminInput Label="Payment Account Id"
                        LabelClass="@Css.admin_label_style_1"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCountryDto.Country.PaymentAccountId"
                        @bind-Value:event="OnChange" />
            <AdminInput Type="checkbox"
                        Label="Disabled"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCountryDto.Country.IsDisabled"
                        @bind-Value:event="OnChange" />
            <AdminInput Type="checkbox"
                        Label="Localize"
                        Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                        @bind-Value="@EditCountryDto.Country.Localize"
                        @bind-Value:event="OnChange" />
        </AdminCard>
    </ContentColumnLeft>
    <ContentColumnRight>
        @foreach (var tax in EditCountryDto.Country.Taxes)
        {
            <AdminCard Class="@Css.admin_card_style_1" Title="Tax">
                <AdminInput Label="Name"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            @bind-Value="@tax.Name"
                            @bind-Value:event="OnChange" />
                <AdminInput Label="Code"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            @bind-Value="@tax.Code"
                            @bind-Value:event="OnChange" />
                <AdminInput Type="number"
                            Label="Percentage"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            @bind-Value="@tax.Percentage"
                            @bind-Value:event="OnChange" />
                <AdminInput Type="checkbox"
                            Label="Apply to Shipping Price"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            @bind-Value="@tax.ApplyToShippingPrice"
                            @bind-Value:event="OnChange" />
                <AdminInput Type="checkbox"
                            Label="Apply to Product Price"
                            LabelClass="@Css.admin_label_style_1"
                            Class="@String.Join(" ",
                                        Css.admin_input_style_1,
                                        Css.admin_form_line)"
                            @bind-Value="@tax.ApplyToProductPrice"
                            @bind-Value:event="OnChange" />
            </AdminCard>
        }
    </ContentColumnRight>
</AdminPageTemplate>

@code
{
    private const string FlagIconPrefix = "flag-icon-";

    [Parameter]
    public Guid? Id { get; set; }

    private EditCountryDto EditCountryDto;

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        EditCountryDto = await HiroHttpClient.PostAsync<EditCountryDto>(HiroAdminApiRoutes.AdminCountryEdit, new { CountryId = Id }, null);

        AdminSessionState.IsLoading = false;
    }

    private async Task HandleSaveClickAsync()
    {
        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCountryAddOrUpdate, null, EditCountryDto.Country);

        AdminSessionState.IsLoading = false;

        ShowOperationResultAlert(operationResult);

    }

    private void HandleDeleteClick()
    {
        AdminSessionState.ShowConfirmationModal = true;

        AdminSessionState.ConfirmationModalTask = DeleteCountryAsync;
    }

    private async Task DeleteCountryAsync()
    {
        AdminSessionState.ShowConfirmationModal = false;

        AdminSessionState.IsLoading = true;

        var operationResult = await HiroHttpClient.PostAsync<OperationResult>(HiroAdminApiRoutes.AdminCountryDelete, new { CountryId = Id }, null);

        AdminSessionState.IsLoading = false;

        if (operationResult.Errors.Any())
        {
            ShowOperationResultAlert(operationResult);
        }
        else
        {
            NavigationManager.NavigateToBlazorRoute(HiroAdminRoutes.CountryUrlAdminCountries, new { this.CountryUrl });
        }
    }

    private void HandleAddTaxClick()
    {
        EditCountryDto.Country.Taxes.Add(new TaxDto()
        {
            Country = new CountryDto
            {
                Id = EditCountryDto.Country.Id
            }
        });
    }

}
