﻿@inherits AdminPageComponentBase
@layout AdminLayout
@attribute [Route(HiroAdminRoutes.CountryUrlAdminSeoSections)]
@attribute [Route(HiroAdminRoutes.AdminSeoSections)]
@attribute [Authorize(Policy = nameof(UserRoleDto.AccessAdmin))]

<AdminPageTemplate Class="@Css.admin_page_template_style_1">
    <TopBarTitle>
        Seos
    </TopBarTitle>
    <TopBarControls>
        <AdminButton Class="@Css.admin_button_style_1"
                     Text="Create new seo content"
                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminSeoSection, new { this.CountryUrl })" />
    </TopBarControls>
    <Content>
        <AdminCard Class="@Css.admin_card_style_1">
            <AdminTable Class="@Css.admin_table_style_1"
                        Data="@SeoSectionList.SeoSections">
                <Header>
                    <th>
                        Page
                    </th>
                    <th>
                        Meta Title
                    </th>
                    <th>
                        Meta Description
                    </th>
                    <th>
                    </th>
                </Header>
                <RowTemplate Context="seo">
                    <td>
                        @seo.Page
                    </td>
                    <td>
                        @seo.LocalizedTitle
                    </td>
                    <td>
                        @seo.LocalizedDescription
                    </td>
                    <td>
                        <AdminButton Class="@Css.admin_button_style_1"
                                     Text="Edit"
                                     Href="@NavigationManager.GetBlazorRoute(HiroAdminRoutes.CountryUrlAdminSeoSectionId, new { this.CountryUrl, Id = seo.Id })" />
                    </td>
                </RowTemplate>
            </AdminTable>
        </AdminCard>
    </Content>
</AdminPageTemplate>

@code
{
    private SeoSectionListDto SeoSectionList = new SeoSectionListDto();

    protected override async Task OnInitializedAsync()
    {
        AdminSessionState.IsLoading = true;

        SeoSectionList = await HiroHttpClient.PostAsync<SeoSectionListDto>(HiroAdminApiRoutes.AdminSeoIndex, null, null);

        AdminSessionState.IsLoading = false;
    }
}
