﻿@attribute [Route("test")]

    <AdminPageTemplate Class="@Css.admin_page_template_style_1">
        <TopBarTitle>
            Test
        </TopBarTitle>
        <ContentColumnLeft>
            <AdminCard Class="@Css.admin_card_style_1">
                <AdminInlineWrapper>
                    <LeftColumn>
                        <AdminInput Label="Label" Value="@MyValue"/>
                    </LeftColumn>
                    <RightColumn>
                        <button>button 1</button>
                        <button>button 2</button>
                    </RightColumn>
                </AdminInlineWrapper>
            </AdminCard>
        </ContentColumnLeft>
        <ContentColumnRight>
            <AdminCard Class="@Css.admin_card_style_1">

            </AdminCard>
        </ContentColumnRight>
    </AdminPageTemplate>

@code{

    private DateTime? MyValue { get; set; } = DateTime.Now;

    private long InputValue { get; set; }

    public ChangeEventArgs EventArgs { get; set; }
}
