﻿<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <CascadingValue Value="@routeData">
                <AuthorizeRouteView RouteData="@routeData">
                    <NotAuthorized>
                        <h1>Sorry</h1>
                        <p>You're not authorized to reach this page.</p>
                        <p>You may need to log in as a different user.</p>
                    </NotAuthorized>
                    <Authorizing>
                        @* LEFT BLANK ON PURPOSE *@
                    </Authorizing>
                </AuthorizeRouteView>
            </CascadingValue>
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>